﻿
<div>
    <div style="display:flex; font-weight:bold; margin: 0 0 10pt 20pt">
        <i> Ngày lập: {{ today | date : 'dd/MM/yyyy h:mm' }} </i>
    </div>
    <div class="center">
        <h1>
            Báo cáo bán hàng theo khách hàng
        </h1>
        <br />
        <p>
            <span> Từ ngày: {{ datesale.startDate | date : 'dd/MM/yyyy' }} đến ngày {{ datesale.endDate | date : 'dd/MM/yyyy' }}</span>
            <br />
            <span> Chi nhánh {{ shopName }} </span>
        </p>
    </div>

    <div style="border-top:2px solid black; margin-bottom:24pt; page-break-inside:avoid">
        <div style="display:flex; font-weight:bold; margin: 0 0 10pt 20pt">
            <div style="width: 140px; text-align: left;">
                Mã KH
            </div>
            <div style="width: 340px; text-align: left;">
                Tên khách hàng
            </div>
            <div style="text-align:left; width:140px">
                Doanh thu
            </div>
            <div style="text-align:left; width:140px">
                Giá trị trả
            </div>
            <div style="text-align:left; width:140px">
                Doanh thu (thuần)
            </div>
        </div>

        <div style="display: flex; margin: 0 0 6pt 20pt" ng-repeat="item in customersale">
            <div style="width: 140px; text-align: left;">
                {{ item.CustomerCode }}
            </div>
            <div style="width: 340px; text-align: left;">
                {{ item.CustomerName }}
            </div>
            <div style="width: 140px; text-align: left;">
                {{ item.TotalPrice | formatPrice }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.TotalPriceReturn | formatPrice }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.TotalPriceBase | formatPrice }}
            </div>
        </div>

    </div>
</div>
