﻿@{
    Layout = "~/Views/Shared/_LogonShared.cshtml";
    ViewBag.Title = "FB.SALE - Trang cửa hàng";
}

<div ng-controller="LogonController" ng-init="init();" ng-cloak>
    <h2 class="lableMain">Danh sách cửa hàng (<span ng-bind="totalShop"></span>)</h2>
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="list-store left w100pt">
        <ul>
            <li ng-repeat=" shop in shops" ng-init='stats=getShopStats(shop);'>
                <a ng-click="redirectToHome(shop)" class="left avata-store"><img src="/develop/img/shop.ico"> <span>1</span></a>
                <div class="content left">
                    <h2>
                        <span>Cửa hàng : </span><a ng-click="redirectToHome(shop)"> {{shop.ShopName}}</a>
                        <a target="_blank" href="http://facebook.com/{{page.PageFacebookId}}" class="facebook right" ng-repeat=" page in shop.stats.pages" ng-if="page.isSubscribed==true">
                            @*<i class="fa fa-facebook-square" aria-hidden="true"></i>*@
                            <img src="https://graph.facebook.com/{{page.PageFacebookId}}/picture?type=square" width="30" height="30">
                        </a>
                    </h2>
                    <div class="info left w100pt">
                        <div class="col-sm-8">
                            <span> <i class="fa fa-shopping-basket" aria-hidden="true"></i><b>{{shop.stats.countProduct}}</b> Sản phẩm</span>
                            <span> <i class="fa fa-usd" aria-hidden="true"></i><b>{{shop.stats.countOrder}}</b> Hóa đơn</span>
                            <span> <i class="fa fa-comments-o" aria-hidden="true"></i><b>{{shop.stats.countMessage}}</b> Tin nhắn</span>
                        </div>
                        <div class="col-sm-4">
                            <a class="btViewDetail right" ng-click="redirectToHome(shop)">
                                Xem chi tiết <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>