/*  MODAL ADD NEW CATEGORY */

.popMain .modal-content {
    width: 550px;
    height: 300px;
}

.popMainl .modal-header {
    background: #2a6e05;
    color: #fff;
    padding: 10px 13px;
    border-top-right-radius: 10px;
    border: 2px #fff solid;
    border-top-left-radius: 10px;
}

.popMainl .modal-title span {
    padding: 0 13px;
}

.popMainl .close, #product-modal .modal-header .close {
    border: 1px solid #fff;
    height: 30px;
    color: #fff;
    width: 30px;
    border-radius: 17px;
    opacity: 99;
}

.popMainl .row, .popMainl .form-group, #product-modal .row, #product-modal .form-group {
    padding: 0;
    margin: 0;
}

.popMainl .modal-body {
    padding: 30px 55px 25px 35px;
}

.popMainl .modal-body label {
    width: 20%;
    float: left;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    line-height: 40px;
}

.popMainl .modal-body input{
    width: 80%;
    padding-right: 20px;
    height: 40px;
    font-size: 15px;
}

.popMainl .modal-body select {
    color: #888888;
}

.popMainl .form-pad {
    padding: 7.5px 0;
}
.popMainl .form-pad .form-group{
    width: 80%;
    padding-right: 0px;
    height: 40px;
    font-size: 15px;
}
.modal-open .modal {
    background:rgba(0,0,0,0.6);
}
.popMainl .modal-footer {
    border: none;
    padding: 0 55px 45px 0;
}

.popMainl .modal-footer button {
    padding: 8px 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.popMainl .modal-footer .btn-success {
    color: #fff;
    background-color: #2a6e05;
    border-color: #2a6e05;
}

.popMainl .modal-footer .btn-secondary {
    color: #666;
    background-color: #d1d1d1;
    border-color: #c1c1c1;
}

.popMainl .modal-footer button span {
    padding-right: 5px;
}
