/*<!-- develop by ngocbich85hd -->*/
/*<!-- day 09/06/2017 -->*/
/*====width: 380px=======================*/
@media (max-width: 380px) {
    .list-store .content h2 span {
        display: none;
    }

    .list-store .content h2 a.ng-binding {
        width: 100% !important;
        text-align: center;
    }

    .list-store .content, .box-notifile {
        width: 100% !important;
    }

    .sales-results .list-notifile button {
        padding: 5px 7px 4px 7px !important;
    }

    .sales-results {
        min-height: 87px;
    }

    .menu2 .navbar-nav > li a {
        padding: 10px 15px !important;
    }

    .sales-results .list-notifile li {
        margin-top: 24px;
    }

    .sales-results .lable {
        padding: 0px 5px !important;
    }

    .sales-results .lable h1 {
        font-size: 13px !important;
    }

    .box-notifile .list-notifile {
        width: 100% !important;
    }

    .sales-results .list-notifile {
        width: 63%;
    }

    .sales-results .list-notifile .ng-pristine button {
        right: -5px !important;
        margin-top: 0px !important;
    }

    .sales-results .list-notifile button {
        right: -5px !important;
        margin-top: -31px !important;
    }

    .uib-datepicker-popup.dropdown-menu {
        right: 0px !important;
        left: 0px !important;
    }

    .list-notifile .uib-datepicker-popup.dropdown-menu {
        margin: 0px;
        padding: 0px;
    }

    .breadcrumb-main h2 i, .breadcrumb-main a i {
        display: none;
    }

    .breadcrumb-main a {
        font-size: 14px !important;
        margin-left: 0px !important;
    }
}

/*====width: 480px=======================*/
@media (max-width: 480px) {
    .boxfiter .col-sm-1 {
        width: 69%;
        float: left;
    }
    #detail_product_picture {
        margin: 0 auto;
        width: 225px;
        float: left;
        overflow: hidden;
        margin-left: 20px !important;
        margin-bottom: 15px;
    }
    .menu2 .navbar-nav .dropdown .dropdown-menu {
        border-bottom: 5px solid #d1d1d1;
        padding-bottom: 0px !important;
    }

    .menu2 .navbar-nav li:nth-of-type(2) .dropdown-menu {
        left: -65px;
    }
    .menu2 .navbar-nav li:nth-of-type(3) .dropdown-menu {
        left: -120px;
    }

    .menu2 .navbar-nav li:nth-of-type(4) .dropdown-menu {
        left: -170px;
    }

    .menu2 .navbar-nav li:nth-of-type(5) .dropdown-menu {
        left: -220px;
    }

    .menu2 .navbar-nav li:nth-of-type(6) .dropdown-menu {
        left: -270px;
    }
    .box_green .menu2 .navbar-nav > li .dropdown-menu > li > a{
        padding: 10px !important;
    }

    .box_green .menu2 .navbar-nav > li .dropdown-menu > li > a i{
        padding-right: 7px !important;
    }
    .dropdown-menu.box-support li {
        border-bottom: 1px solid #e1e1e1 !important;
    }
    .editModal .modal-footer button {
        padding: 6px 12px 4px 12px !important;
        font-size: 15px;
    }
    .cateModal .modal-body label,.cateModal .modal-body .form-group input,#cateModal .form-pad .form-group {
        width: 100% !important;
        line-height: 24px !important;
    }
    .cateModal .modal-body .err_msg {
        right: -20px !important;
        top: 43px !important;
    }
    .list-notifile {
        margin-top: 5px;
    }

    .modal-header .close {
        margin-top: -4px !important;
    }

    .list-pro-top {
        padding: 50px 10px 10px 10px !important;
    }

    .lableMain {
        padding-bottom: 0px !important;
        border-bottom: 0px solid #d1d1d1 !important;
    }

    #wrapper #list .item .list-items {
        margin: 0px 18px 18px 0px;
        width: 100% !important;
        position: relative !important;
        float: left;
        left: 0px;
        top: 0px !important;
    }

    .editModal .modal-content {
        width: 100% !important;
        height: auto !important;
    }
}

/*====width: 768px=======================*/
@media (device-width: 768px) {
    .list-store li {
        width: 100% !important;
    }

    .list-store .info .col-sm-4 {
        width: 120px;
        float: right;
    }

    .list-store .content {
        width: 84% !important;
    }
}

@media (max-width: 767px) {
    .menu2 .dropdown-menu > li > a {
       font-size: 14px !important;
    }
    .list-categories .col-sm-9 {
        width: 100% !important;
    }

    .box-popupB .modal-body .left-modal {
        padding: 7.5px 5px 0px 0px !important;
    }

    .breadcrumb-main h2 {
        font-size: 20px !important;
    }

    .breadcrumb-main h2 i {
        display: none;
    }

    .box-popupB .modal-body .right-modal {
        padding: 0px 5px 15px 0px !important;
        float: left !important;
    }

    .box-popupB {
        border: 0px solid #d1d1d1 !important;
    }

    .box-popupB .form-group {
        padding: 2px 0 !important;
    }

    .clip {
        display: none;
    }

    .err_msg {
        right: -14px !important;
        top: 9px !important;
    }

    .box-popupB .form-group label, .box-popup .form-control {
        font-size: 13px !important;
    }

    .box-popupB .form-group input {
        width: 65%;
    }

    .modal {
        z-index: 10500;
    }

    #footer-bottom {
        margin-top: 0px !important;
        padding-top: 8px;
    }

    #footer {
        height: auto !important;
        background: #e1e1e1;
        margin-top: 0px !important;
    }

    .box-general {
        padding: 20px 0px 0px 0px;
    }

    .sales-results {
        min-height: 87px;
    }

    .menu2 .navbar-nav > li > a {
        padding-top: 15px !important;
        padding-bottom: 5px !important;
    }

    .menu2 .navbar-nav > li i {
        padding-right: 0px !important;
        font-size: 16px;
    }

    #menu2 .navbar-nav {
        margin: 0px !important;
    }

    .box-cart, .box-bill, .box-ballot, .box-mess {
        width: 100% !important;
        border-left: 0px solid #d1d1d1 !important;
        padding-left: 0px !important;
        min-height: 80px;
        margin-left: 0px !important;
        padding-top: 8px;
    }

    .sales-results .box-bill, .sales-results .box-ballot {
        padding-left: 10px !important;
        width: 100% !important;
    }

    .box-mess .icon {
        width: 54px !important;
        margin-top: 0px !important;
    }

    .box-mess .txt {
        text-align: left !important;
    }

    .box-intro-store {
        padding: 5px 0px;
    }

    .list-store .avata-store {
        width: 100px;
        height: 100px;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        margin: 0px auto !important;
        float: none !important;
        display: flex;
    }

    .list-store .avata-store img {
        width: 100px !important;
    }

    .list-store .content h2 span {
        width: 21% !important;
    }

    .list-store .content h2 a.ng-binding {
        width: 79%;
    }

    .list-store li {
        width: 100% !important;
    }

    .list-store .content {
        width: 100% !important;
    }

    .breadcrumb-main h2 {
        font-size: 20px;
    }

    .list-store .info .col-sm-4 {
        width: 120px;
        float: right;
    }

    .list-store .content {
        width: 83%;
    }

    .list-store li {
        width: 100%;
    }

    .boxfiter {
        padding: 0px 10px 10px 10px !important;
        margin-top: 0px;
    }

    .box-mess .txt {
        text-align: left;
        padding-top: 20px;
    }

    .box-store-list {
        border: 0px solid #d1d1d1;
        overflow-x: scroll;
    }

    .box_green .table-list {
        overflow-x: scroll;
    }

    .table-responsive {
        min-width: 900px !important;
    }

    .info-product {
        padding: 10px 0px !important;
    }

    .info-product-right .btn {
        margin-top: 10px !important;
    }

    .box-popupB .modal-dialog {
        width: 95% !important;
    }

    .box-popupB .modal-body .left-modal, .box-popupB .modal-body .right-modal {
        width: 100% !important;
    }

    /*.box-mess .icon {*/
    /*font-size: 38px;*/
    /*width: auto;*/
    /*text-align: left;*/
    /*margin-right: 10px;*/
    /*}*/
    .box-mess .txt b {
        font-size: 20px !important;
    }

    .box-mess .icon {
        font-size: 26px;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        text-align: center;
        line-height: 54px;
        color: #666666;
        border: 1px solid #d1d1d1;
        margin-top: 4px;
        margin-right: 10px;
    }

    .clip {
        left: 37.55555%;
    }

    .cateModal .modal-body {
        padding: 10px;
    }

    .cateModal .modal-footer button {
        padding: 8px 41px;
    }

    .cateModal .modal-footer {
        padding: 0 10px 20px 10px;
    }

    .cateModal .modal-body label, .cateModal .modal-body .form-group input, #cateModal .form-pad .form-group {
        width: 100%;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .menu2 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
        font-size: 15px !important;
    }

    .menu2 .navbar-nav .open .dropdown-menu {
        float: left !important;
        position: absolute !important;
        background: #fff !important;
        left: 0px;
        width: 100%;
        z-index: 99;
    }

    #header .dropdown-menu {
        background-color: #fff !important;
    }

    .box-support li {
        background: #fff;
    }

    .store-acc {
        padding-left: 15px !important;
    }

    .header .navbar-nav {
        border: 0px;
        width: 105%;
        margin-top: 43px;
        margin-right: 0px;
        margin-left: -5px;
        z-index: 99999;
        float: left !important;
        background: #337ab7 !important;
    }

    .header .navbar-nav > li {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 0px;
        border-left: 0px;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent !important;
        color: #337ab7;
    }

    .header .navbar-default .navbar-collapse, .header .navbar-default .navbar-form, .header .navbar-default {
        border-color: transparent;
        color: #fff;
        position: absolute;
        width: 100%;
        z-index: 999;
        top: 0%;
        left: 0px;
    }

    .header .navbar-toggle {
        margin-top: 6px;
        margin-bottom: 8px;
        margin-right: 0px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
    }

    .logo-w {
        float: left;
    }

    .navbar-right {
        float: right !important;
    }

    .menu2 .navbar-nav {
        border-right: 0px solid #fff;
        border-left: 0px solid #d1d1d1;
        float: left;
    }

    .menu2 .navbar-nav.navbar-right {
        position: absolute;
        top: -46px;
        right: 45px;
        z-index: 9999;
        border-right: 0px solid #fff !important;
    }

    .menu2 .navbar-nav.navbar-right > li > a {
        padding: 5px 8px 0pc 8px !important;
    }

    .menu2 .navbar-nav.navbar-right > li a i {
        font-size: 22px;
        padding-left: 0px !important;
    }

    .menu2 .navbar-nav > li {
        float: left;
        border-left: 0px solid #fff;
        border-right: 0px solid #d1d1d1;
    }

    .menu2 .fa-angle-down, .menu2 .navbar-default .navbar-toggle, .box-support .divider {
        display: none !important;
    }

    .menu2 .collapse {
        display: block !important;
    }

    .menu2 .navbar-nav > li a {
        font-size: 0px;
    }

    .menu2 .navbar-nav > li a i {
        font-size: 16px;
    }

    .info-PM {
        display: none;
    }

    .import-Info .input-group .form-control {
        width: 74% !important;
    }

    .list-store li {
        width: 100%;
    }

    .list-store .content {
        width: 68%;
    }

    .btViewDetail {
        margin-top: 8px;
    }

    .box-cart {
        width: 100%;
        border-left: 0 solid #d1d1d1;
        padding-left: 0px;
        min-height: 80px;
        margin-left: 0px;
        padding-top: 8px;
    }

    .box-bill, .box-ballot, .box-mess {
        width: 100%;
        border-left: 0 solid #d1d1d1;
        padding-left: 0px;
        min-height: 80px;
        margin-left: 0px;
        padding-top: 8px;
    }

    .box-general-store .col-lg-9, .box-notifile {
        width: 100% !important;
        padding: 0px 0px 0px 0px !important;
    }
}

@media (min-width: 768px) {
    .box-popup .modal-dialog {
        margin: 42px auto !important;
    }
}

/*====-width: 1025=======================*/
@media all and (max-width: 1024px) {
    #sale-product .main-right {
        height: auto !important;
        min-height: 540px;
    }

    .boxLogin {
        width: 90%;
    }

    .info-PM {
        background: none;
        height: 100%;
        min-height: 220px;
        text-align: center;
        padding: 45px 40px 0px 40px;
        position: relative;
        bottom: 0px;
    }
}

/*====-width: 1168px=======================*/
@media all and (min-width: 1168px) {
    .boxLogin {
        width: 800px;
    }
}

/*====-width: 1200=======================*/
@media (min-width: 1200px) {
    .info-PM {
        width: 50% !important;
    }
}

/*====-width: 1280=======================*/
@media all and (max-width: 1280px) {
    #sale-product .main-left .list-product .table-list tr .title-item-list {
        max-width: 180px;
    }

}

/*====max-width: 1387px=======================*/
@media (min-width: 1387px) {
    #sale-product .main-right .tab-content .bill-value .bill-list table tr .item-ipnut1 input {
        width: 62% !important;
    }

    #sale-product .main-left .view-product .product-detail .product-item {
        width: 11%;
    }
}

@media (max-width: 1386px) {
    #sale-product .main-right .nav-tabs a {
        padding: 7px 10px;
    }

    #sale-product .main-right .tab-content .bill-value {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1380px) {
    #sale-product .main-left .view-product .product-detail .product-item {
        width: 12.66%;
        height: 165px;
        float: left;
    }

    #sale-product .main-right {
        height: 932px;
    }

    #sale-product .main-left .view-product .product-detail .product-item .title-item {
        float: left;
        cursor: pointer;
        height: 47px;
        overflow: hidden;
    }

    #sale-product .main-left .list-product .table-list tr th, #sale-product .main-left .list-product .table-list tr td {
        padding: 8px 3px !important;
    }

    #sale-product .main-right .nav-tabs {
        margin-left: -10px;
    }

    #sale-product .main-right .tab-content .bill-value .bill-list table tr .item-left {
        line-height: 32px;
    }

    #sale-product .main-left .list-product {
        height: 300px;
    }

    #sale-product .main-right {
        padding: 0px 10px;
    }

    #sale-product .main-right .tab-content .bill-value .bill-list table tr .item-ipnut1 input {
        width: 59% !important;
    }

    .chat-type {
        float: left;
        width: 70%;
    }

    #sale-product .main-right .tab-content .bill-value .bill-list table tr .item-left {
        font-size: 13px;
    }

    .main-chat-left .chat-type .item-type {
        margin-bottom: 2px;
    }

    .box-general .main-chat-left .top-menu-drop .drop-lst button {
        width: 59%;
    }

    .box-general .main-chat-left .cb-menu {
        width: 41%;
    }

    .box-general .main-chat-left .cb-menu p {
        float: LEFT;
        width: 30px !important;
    }

    .box-general .main-chat-left .cb-menu label {
        opacity: 0.5;
        margin-bottom: 1px;
    }

    .box-general .main-chat-left .top-menu-drop .drop-lst .drop-menu {
        width: 96%;
    }

    .box-general .main-chat-left .lst-chat .tab-content .info-chat, .box-general .main-chat-left .lst-chat .tab-content .info-chat-content {
        width: 80%;
    }

    .box-general .main-chat-left .lst-chat .tab-content ul li {
        min-height: 70px;
    }

    .box-general .main-chat-left .lst-chat .tab-content .info-chat-content .info-time-chat {
        width: 100% !important;
        font-size: 13px !important;
        float: right !important;
        text-align: left !important;
        padding-right: 0px;
    }

    .box-general .main-chat-left .lst-chat .tab-content .info-chat-content .info-time-chat p {
        font-size: 13px !important;
    }

    .box-general .main-chat-left .lst-chat .tab-content ul li .unread-num {
        bottom: 10px;
    }

    .box-general .main-chat-left .lst-chat .tab-content .info-chat, .box-general .main-chat-left .lst-chat .tab-content .info-chat-content {
        padding-top: 0px;
    }

    .box-general .main-chat-left .lst-chat .tab-content .info-chat .user-stt-chat .fa {
        margin-left: 0px !important;
    }

    .box-general .main-chat-left .tab-content {
        height: calc(82vh - 90px);
    }

    .main-chat .main-chat-center .chat-main .chat-content {
        height: calc(68.555555vh - 85px);
    }

    .main-chat .main-chat-center .chat-main .chat-footer .chat-input-value textarea {
        border: none;
        border-radius: 0;
        float: left;
        height: 35px;
        position: relative;
        resize: none;
    }

    .main-chat .main-chat-right .tab-content #order .info-customer-order .phone, .main-chat .main-chat-right .tab-content #order .info-customer-order .name {
        width: 96%;
    }
}

/*====max-width: 1387px=======================*/

@media all and (min-width: 600px) and (max-width: 767px) {
    #wrapper #list .item .list-items {
        width: 46% !important;
        position: relative !important;
        top: 0px !important;
        float: left;
        left:0px !important;
    }
    .modal-dialog {
        margin: 40px 0px !important;
    }
    .editModal .modal-content, .box-popup .modal-content  {
        width: 550px !important;
        margin: 0px auto;
    }

    .modal-header .close {
        margin-top: -2px !important;
        margin-bottom: 8px;
        opacity: 1;
    }
}

@media all and (min-width: 768px) and (max-width: 900px) {

    .menu2 .navbar-nav > li i {
        display: none;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 8px;
    }

    .box-general-store .col-lg-9 {
        width: 100% !important;
    }

    .box-general-store .col-lg-3 {
        width: 100% !important;
    }

    .box-general .col-lg-9 {
        padding-right: 0px !important;
        padding-left: 0px;
        width: 100% !important;
    }

    .box-general-store .col-lg-3 .list-notifile li a.icon {
        display: block;
        margin-right: 8px;
    }

    .box-cart {
        border-left: 0px solid #d1d1d1;
        margin-left: 0px;
    }
}

.store-ct {
    padding-right: 10px !important;
}

#report td {
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    max-width: 200px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .search-bar p:first-child {
        display: none;
    }

    .box-store-list {
        overflow: hidden;
        overflow-x: scroll;
    }

    .list-store li {
        width: 100% !important;
    }

    .box-cart .txt {
        font-size: 14px;
        color: #333;
        font-weight: 400;
        WIDTH: 100%;
        FLOAT: LEFT;
    }

    .list-store .content {
        width: 84% !important;
    }

    .box-cart .icon {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 2px;
        float: none !important;
    }

    #sale-product .main-left .list-product .table-list tr .title-item-list {
        margin: 10px 0 0 0px;
        padding-left: 0px;
    }

    #sale-product .main-left .list-product {
        height: 400px !important;
    }

    #footer {
        margin-top: 0px;
    }

    #sale-product .main-left .view-product .product-detail .product-item .top-item {
        width: 130px;
        height: 130px;
    }

    #sale-product .main-left .view-product .product-detail .product-item {
        width: 18.333333% !important;
    }

    #sale-product .main-left .view-product .search-bar p {
        margin: 5px;
    }

    #sale-product .main-left .view-product .search-bar .pagging-product {
        margin-right: 0px !important;
        margin-top: 0px !important;
    }

    .pagging-product p:first-child {
        display: block;
        line-height: 40px !important;
    }

    #sale-product .main-left .view-product .product-detail .product-item .top-item .price-item {
        top: 80%;
    }

    #sale-product .main-right {
        height: auto !important;
        padding-bottom: 30px !important;
    }

    #sale-product .pagging-product .btn-default {
        margin-top: 4px;
        padding: 5px 12px 4px 12px;
    }

    #sale-product .main-right {
        background-color: #d9d9d9;
        height: auto;
        padding-bottom: 20px;
    }

    .loginFr .nav-tabs > li:first-child {
        margin-left: 19%;
    }

    .loginFr {
        padding: 30px 20%;
    }

    .logo-w {
        width: 160px;
        float: left;
    }

    .menu2 .navbar-nav > li i {
        padding-right: 8px;
        font-size: 15px;
        display: none;
    }

    .container {
        padding: 0px;
    }

    .box-notifile {
        width: 25%;
    }

    .list-notifile li a.icon {
        display: none;
    }

    .list-notifile li h2, .list-notifile li .txt, .list-notifile li .txt {
        padding: 0px 0px 0px 0px !important;
    }

    .list-notifile li:before {
        display: none;
    }

    .info-product {
        padding: 15px 5px;
    }

    .info-product-right {
        width: 100%;
        text-align: left;
        margin-left: 0px;
    }

    #sale-product .main-left, #sale-product .main-right {
        width: 100% !important;
    }

    .menu2 .navbar-nav > li:last-child {
        border-left: 0px solid #fff;
    }

    .menu2 .navbar-nav {
        border-right: 0px solid #fff;
        border-left: 0px solid #d1d1d1;
    }

    .navbar-right {
        float: right !important;
        margin-right: -5px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px ) {
    .box-cart {
        width: 30%;
        border-left: 0px solid #d1d1d1;
        padding-left: 10px;
        min-height: 80px;
        margin-left: 0px;
        padding-top: 8px;
    }

    #sale-product .main-left .view-product .product-detail .product-item {
        width: auto;
        height: auto;
        float: left;
        margin: 0 10px 20px 0px;
    }

    #sale-product .main-left .view-product .search-bar p:first-child {
        display: none;
    }

    #sale-product .main-left .view-product .product-detail .product-item:nth-of-type(5n) {
        width: auto;
        height: auto;
        float: left;
        margin: 0 0px 0px 0px;
    }

    #sale-product .main-right .tab-content .bill-value .bill-list table tr .item-ipnut1 input {
        width: 49% !important;
    }

    #sale-product .main-left .view-product .product-detail .product-item {
        width: 18% !important;
    }

    .extend-item-top .col-md-4 {
        width: 100%;
    }

    .extend-item-top .col-md-8 {
        width: 100%;
        padding-left: 0px;
    }

    #sale-product .main-right .nav-tabs a {
        padding: 7px 5px;
    }

    .menu2 .navbar-nav.navbar-right {
        position: absolute;
        top: -44px;
        left: 15%;
        border: 0px;
    }

    #sale-product .main-right .nav-tabs li:first-child a {
        padding: 7px 5px;
        max-width: 77px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #report th {
        font-size: 12px;
    }

    .list-store li {
        width: 100% !important;
    }

    .list-store .content {
        width: 84% !important;
    }

    .logo-w {
        float: left;
    }

    .box-general-store .col-lg-9 {
        width: 70% !important;
        padding: 0px 15px 0px 0px !important;
    }

    .list-store .content h2 span {
        font-size: 15px;
    }

    .container {
        width: 1024px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .list-store .content {
        width: 74% !important;
    }

    #sale-product .main-right .tab-content .bill-value .bill-list table tr .item-left {
        line-height: 18px !important;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1380px) {
    #report th {
        font-size: 12px;
    }

    #sale-product .main-left .list-product .table-list tr .title-item-list {
        max-width: 250px;
    }
}

