﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB.SALE - Tạo cửa hàng</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="mainLogin">
        <div ng-app="FSaleApp">
            <div ng-controller="LoginController">
                <div class="boxLogin">
                    <header class="txtC txtB">
                        <div class="clip"></div>
                        <div class="clipLine"></div>

                    </header>
                    <div class="col-lg-7 info-PM">
                        <a href="#" class="logo dpib ovh" tabindex="-1">
                            <img src="/develop/img/logo246.png" alt="Salesmanager" title="Sales Manager">
                        </a>
                        <h1>Tạo cửa hàng trên SalesManager</h1>
                        <p>
                            Giải pháp bán hàng qua SalesManager toàn diện, hiệu quả. Quản lý danh sách khách hàng, tin nhắn, bình
                            luận, tình trạng đơn hàng, gửi hàng nhanh chóng trên web và di động
                        </p>
                        <!--<img src="develop/img/desk.png">-->
                    </div>
                    <section class="loginFr ovh vi-VN">
                        <div class="creat-store-form">
                            <h2>Tạo cửa hàng</h2>
                            <p>Dấu sao (*)  là bắt buộc</p>
                            <!-- Tab panes -->
                            <div class="tab-content import-Info">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <form class="form-horizontal" name="frmCreateShop">
                                        <div class="form-group">
                                            <div class="label1">Tên cửa hàng <span>(*)</span></div>
                                            <div class="w100pt input-group">
                                                <div class="label">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </div>
                                                <input type="text" class="form-control" ng-model="shopName" name="txtShopName"
                                                       placeholder="Tên của hàng" ng-minlength="6" ng-required="true"><span ng-show="frmCreateShop.txtShopName.$invalid"> *</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label1">Số điện thoại <span>(*)</span></div>
                                            <div class="w100pt input-group">
                                                <div class="label">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </div>
                                                <input type="text" class="form-control" ng-model="shopPhone" name="txtShopPhone"
                                                       placeholder="Số điện thoại" ng-required="true" ng-pattern="phoneFormat"><span ng-show="frmCreateShop.txtShopPhone.$invalid"> *</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label1">Địa chỉ <span>(*)</span></div>
                                            <div class="w100pt input-group">
                                                <div class="label">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </div>
                                                <input type="text" class="form-control" ng-model="shopAddress" name="txtShopAddress"
                                                       placeholder="Địa chỉ" ng-required="true"><span ng-show="frmCreateShop.txtShopAddress.$invalid"> *</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label1">Tên ngắn gọn <span>(*)</span></div>
                                            <div class="w100pt input-group">
                                                <div class="label">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </div>
                                                <input type="text" class="form-control" ng-model="uniqueName"
                                                       placeholder="Tên ngắn gọn" name="txtUniqueName" ng-required="true" ng-blur="checkUniqueName();"><span ng-show="isUniqueCheck"><img style="margin-top:5px" width="24px" src="/develop/img/Checked.png" /></span><span ng-show="(frmCreateShop.txtUniqueName.$dirty && frmRegister.txtUniqueName.$invalid) || !isUniqueCheck"><img style="margin-top:5px" width="24px" src="/develop/img/cancel.png" /></span>
                                            </div>
                                            <p style="border:0;">https://{{ uniqueName }}.fb.sale</p>
                                        </div>

                                        <div class="form-group boxBt">
                                            <button type="submit" class="col-md-3 btn bt-login bg-green clfff" ng-click="createShop();">Tiếp tục</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/report")

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</body>
<!-- begin jQuery -->

</html>