﻿@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>App Link</title>
    <meta property="fb:app_id" content="390808924586266">
    <meta property="al:ios:url" content="feedy://invite_from_fb?referral_id=@ViewBag.Id">
    <meta property="al:ios:app_name" content="Feedy">
    <meta property="al:ios:app_store_id" content="1144252484">
    <meta property="al:web:should_fallback" content="false">    
</head>
<body>
    
    Redirecting...
</body>
</html>