﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB.SALE - Liên kết page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="mainLogin">
        <div class="boxLogin boxTable">
            <div ng-app="FSaleApp">
                <div ng-controller="LinkPageController" ng-init="init();">
                    <header class="txtC txtB">
                        <div class="clip"></div>
                        <div class="clipLine"></div>
                        <h4 class="modal-title">Liên kết cửa hàng với page Facebook</h4>
                    </header>
                    <style>
                        .info-table {
                            padding: 20px 10px;
                        }

                        .boxTable .modal-title {
                            font-weight: bold;
                            font-size: 20px;
                            margin: 0;
                            float: left;
                            background: #f1f1f1;
                            width: 100%;
                            height: 50px;
                            line-height: 50px;
                            text-align: left;
                            padding-left: 20px;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                    </style>
                    <div class="col-lg-12 info-table">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Ảnh page</th>
                                        <th>Tên page</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat=" page in pages">
                                        <td><img src="https://graph.facebook.com/{{page.id}}/picture?type=square" width="50" height="50"></td>
                                        <td>{{page.name}}</td>
                                        <td>{{page.isSubscribed ? "Đã liên kết" : "Liên kết"}}</td>
                                        @if (Session["Group"].ToString() == "Admin")
                                        {
                                            <td align="right">
                                                <button type="button" ng-show="!page.isSubscribed" class='{{ page.isSubscribed ? "btn btn-secondary" : "btn btn-success"}}' ng-click="linkFanPage($event,page)">{{page.isSubscribed ? "Đã liên kết" : "Liên kết"}}</button>
                                                <button type="button" class="btn btn-secondary" ng-show="page.isSubscribed" ng-click="unlinkFanPage($event,page)">Hủy liên kết</button>
                                            </td>
                                        }
                                    </tr>
                                    @if (Session["Group"].ToString() == "Admin")
                                    {
                                        <tr ng-show="pages == undefined || pages.length == 0">
                                            <td colspan="3" align="center"><button type="button" class='btn btn-secondary' ng-click="loginAndGetPage()">Lấy danh sách page</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div>
                                @if (Session["Group"].ToString() != "Sale")
                                {
                                    <button type="submit" class="btn bt-foget clfff" style="margin-left:10px;" ng-click="goHome();">
                                        <b>Đến trang CMS</b>
                                    </button>
                                }
                                <button type="submit" class="btn bt-foget clfff" style="margin-left:10px;" ng-click="goChat();">
                                    <b>Đến trang CRM</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: @Session["FBAppId"].ToString(),
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/report")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</body>
<!-- begin jQuery -->

</html>