﻿@{
    Layout = null;
}

<!-- develop by ngocbich85hd -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB.SALE - Đăng nhập</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="mainLogin">
        <div ng-app="FSaleApp">
            <div ng-controller="LoginController">
                <div class="boxLogin">
                    <header class="txtC txtB">
                        <div class="clip"></div>
                        <div class="clipLine"></div>
                    </header>
                    <div class="col-lg-7 info-PM">
                        <a href="#" class="logo dpib ovh" tabindex="-1">
                            <img src="/develop/img/logo246.png" alt="Salesmanager" title="Sales Manager">
                        </a>
                        <h1>Để quản lý bán hàng mọi lúc, mọi nơi, trên mọi thiết bị.</h1>
                        <p>
                            Giải pháp bán hàng qua SalesManager toàn diện, hiệu quả. Quản lý danh sách khách hàng, tin nhắn, bình
                            luận, tình trạng đơn hàng, gửi hàng nhanh chóng trên web và di động
                        </p>
                        <!--<img src="develop/img/desk.png">-->
                    </div>
                    <section class="loginFr ovh vi-VN">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active" id="tabLogin">
                                    <a data-target="#home" aria-controls="home" role="tab"
                                       data-toggle="tab">Đăng Nhập</a>
                                </li>
                                <li role="presentation" id="tabRegister" class="hidden">
                                    <a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                        Đăng Ký
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content import-Info">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <form class="form-horizontal" name="frmLogin">
                                        <div class="form-group">
                                            <div class="w100pt input-group">
                                                <div class="label">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </div>
                                                <input type="email" class="form-control" id="txtLoginEmail"
                                                       placeholder="Email: shop@gmail.com">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="w100pt input-group">
                                                <div class="label">
                                                    <i class="fa fa-key" aria-hidden="true"></i>
                                                </div>
                                                <input type="password" class="form-control" id="txtLoginPassword" input-enter="login();"
                                                       placeholder="* * * * *">
                                            </div>
                                        </div>

                                        <div class="form-group boxBt">
                                            <input type="button" class="btn bt-login bg-green clfff" value="Đăng nhập" ng-click="login();" />
                                            <a href="#" class="left cl-green bt-foget">Quên mật khẩu ?</a>
                                            @*<a href="#" class="right cl-green bt-resgiter" id="#goRegister" ng-click="changeTab();">Đăng ký tại đây !</a>*@

                                            <div class="left w100pt logigFacebook">
                                                <h3>Hoặc đăng nhập bằng tài khoản sau:</h3>
                                                <input type="button" class="btn bt-login-face" ng-click="loginFacebook();" value="Đăng nhập Facebook" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        var sessionFBApp = '@Session["FBAppId"]';
        window.fbAsyncInit = function () {
            FB.init({
                appId: sessionFBApp,
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/report")

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</body>
<!-- begin jQuery -->
</html>
