﻿

<div id="footer">
    <div class="container">
        <div id="footer-top" class="hide">
            <ul>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Điều khoản sử dụng</a></li>
                <li><a href="">Hỗ trợ</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
        </div>
        <div id="footer-bottom" style="margin-top: 30px;">
            <p>2016 - eyePlus Mọi quyền lợi đã được bảo hộ.</p>
        </div>
    </div>
</div>
