﻿
<div id="header" class="bg-header header">
    <div class="container">
        <div class="col-lg-2 logo-w"><a href="/home.html"><img src="/develop/img/logo-fb.sale.png" height="30"> </a></div>
        <nav class="navbar navbar-default col-lg-10 ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-paint-brush" aria-hidden="true"></i>Chủ đề
                            </a>
                            <ul class="dropdown-menu list-color">
                                <li><a href="#"><span class="bg_Green"></span></a></li>
                                <li><a href="#"><span class="bg_Red"></span></a></li>
                                <li><a href="#"><span class="bg_Blue"></span></a></li>
                                <li><a href="#"><span class="bg_Orange"></span></a></li>
                                <li><a href="#"><span class="bg_Purple"></span></a></li>
                                <li><a href="#"><span class="bg_Yellow"></span></a></li>
                            </ul>
                        </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-ionic ion-android-chat" aria-hidden="true"></i>Hỗ trợ
                        </a>
                        <ul class="dropdown-menu box-support">
                            <li><i class="fa fa-fax" aria-hidden="true"></i> 0483333333</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> 0483333333</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> support@fb.sale</li>
                            <li><i class="fa fa-skype" aria-hidden="true"></i> supportfbsale</li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <i class="fa fa-map-o" aria-hidden="true"></i> Địa chỉ Tầng 5 - Star Tower, Dương Đình Nghệ, Cầu Giấy
                            </li>
                        </ul>
                    </li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle true" data-toggle="dropdown">
                                <i class="fa fa-bell" aria-hidden="true"></i>(0)
                            </a>
                            <ul class="dropdown-menu">
                                <div class="arrow-top"></div>
                                <div class="lable-n">
                                    <h3 class="uiHeaderTitle" aria-hidden="true">Tất cả thông báo</h3>
                                </div>
                                <ul class="list-notifi">
                                    @*<li class="">
                                        <a href="#" class="item-notifi">
                                            <div class="avatar-acc">
                                                <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-1/p160x160/14572384_883053598494419_735307405454534072_n.jpg?oh=d6d4a9b32c3411e7c5cc96bc5ef32227&amp;oe=58922ECE"
                                                     alt="">
                                            </div>
                                            <div class="txt-notifi">
                                                <h2>
                                                    <b>Vũ Đình Ngọc</b><span> đã gửi cho bạn một yêu cầu, đã gửi cho bạn một yêu cầu, đã gửi cho bạn một yêu cầu.</span>
                                                </h2>
                                                <p>31 phút trước</p>
                                            </div>

                                        </a>
                                    </li>
                                </ul>
                                <div class="view-more-no">
                                    <a class="seeMore" href="#"
                                       accesskey="5"><span>Xem tất cả</span></a>
                                </div>
                            </ul>
                        </li>*@
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-database" aria-hidden="true"></i> Quản lý chung
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu listACC">
                                <li><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i> Quản lý cấu hình</a></li>
                                @*<li>
                                    <a href="#"><i class="fa fa-bell" aria-hidden="true"></i> Quản lý mẫu in <span>4</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Quản lý người dùng</a>
                                </li>
                                <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Cài đặt</a></li>
                            </ul>
                        </li>*@
                    <li class="dropdown store-ct" style="padding-right:20px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                           
                            @(Session["ShopName"] != null?Session["ShopName"].ToString():"")
                        </a>
                        <ul class="dropdown-menu listACC">
                            <li><a href="/pages.html"><i class="fa fa-list-alt" aria-hidden="true"></i> Quản lý page</a></li>
                            <li><a href="/branches.html"><i class="fa fa-list-alt" aria-hidden="true"></i> Quản lý chi nhánh</a></li>
                            <li><a href="/employees.html"><i class="fa fa-list-alt" aria-hidden="true"></i> Quản lý người dùng</a></li>
                            @*<li>
                                    <a href="#"><i class="fa fa-bell" aria-hidden="true"></i> Thông báo</a>
                                </li>
                                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Nhật ký hoạt động</a></li>
                                <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Cài đặt</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown store-acc" style="padding-left:30px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-ionic ion-person" aria-hidden="true"></i>
                            @(Session["EmployeeName"] != null ? Session["EmployeeName"].ToString() : "")
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu listACC">
                            @*<li><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i> Thông tin của tôi</a></li>*@
                            <li><a href="/logout.html"><i class="fa fa-sign-out" aria-hidden="true"></i> Thoát</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="clearfix"></div>
</div>

