﻿<!DOCTYPE html>

<html lang="vi_VN">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.write('<base href="' + document.location + '" />');</script>
    @Styles.Render("~/Content/css")    
</head>
<body class="box_green">
    <div ng-app="FSaleApp">
        <div>
            <!--Header-->
            @Html.Partial("_Header")
            <!--Header-->
            @Html.Partial("_Menu")
              
            @RenderBody()
            <!--footer-->
            @Html.Partial("_Footer")
        </div>
    </div>
    <!-- begin jQuery -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: @Session["FBAppId"].ToString(),
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/angularjs")  
    @*@Scripts.Render("~/bundles/report")*@
     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    @Scripts.Render("~/bundles/appjs")
    <script>
    $(document).ready(function () {
        $(".accordion").accordion();
    });
    </script>
</body>
</html>