﻿<!DOCTYPE html>

<html lang="vi_VN">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.write('<base href="' + document.location + '" />');</script>

    @Styles.Render("~/Content/css")   
        
</head>
<body class="box_green">
    <div ng-app="FSaleApp">
        <div>
            <!--Header-->
            @Html.Partial("_Header")
            <!--Header-->
            @Html.Partial("_Menu")
            <!--container-->
            <div id="container" class="box-general" style="">
                <!--Box tổng quát-->
                <div class="container" ng-cloak>
                    <!-- box-intro-store -->
                    @RenderBody()
                </div>
            </div>
            <!--footer-->
            @Html.Partial("_Footer")
        </div>
        <fb app-id='@Session["FBAppId"]'></fb>
    </div>
    <!-- begin jQuery -->    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/angularjs")   
    @*@Scripts.Render("~/bundles/export")*@
    
    @Scripts.Render("~/bundles/report")
    @*<script src="~/Scripts/reports/js/angular-pdfjs-viewer.js"></script>*@


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/appjs")
    <script>
            $(document).ready(function () {
                document.getElementById('container').style.minHeight = window.innerHeight - 230 + "px";
            $(".accordion").accordion();
        });
    </script>
</body>
</html>