﻿<!-- develop by ngocbich85hd -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")    

</head>
<body class="box_green" style="height:20000px">
    <!--Header-->
    <div ng-app="FSaleApp">
        <div id="header" class="bg-header header">

            <div class="container">
                <div class="col-lg-2 logo-w"><a href="#"><img src="/develop/img/logo-fb.sale.png" height="30"> </a></div>
                <nav class="navbar navbar-default col-lg-10 ">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="creat-store hidden">
                                    Tạo thêm cửa hàng <i class="fa fa-arrow-right"
                                                         aria-hidden="true"></i>
                                </a>
                            </li>
                        
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>Hỗ trợ
                                </a>
                                <ul class="dropdown-menu box-support">
                                    <li><i class="fa fa-fax" aria-hidden="true"></i> 0483333333</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 0483333333</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> support@fb.sale</li>
                                    <li><i class="fa fa-skype" aria-hidden="true"></i> supportfbsale</li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <i class="fa fa-map-o" aria-hidden="true"></i> Địa chỉ Tầng 5 - Star Tower, Dương Đình Nghệ, Cầu Giấy
                                    </li>
                                </ul>
                            </li> 
                            <li class="dropdown store-acc" style="padding-left:30px;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @Session["EmployeeName"].ToString() <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu listACC">
                                    @*<li><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i> Thông tin của tôi</a></li>*@
                                    <li><a href="/logout.html"><i class="fa fa-sign-out" aria-hidden="true"></i> Thoát</a></li>
                                </ul>
                            </li>                          
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>

            <div class="clearfix"></div>
        </div>
        <!--container-->
        <div id="container" class="container">
            @RenderBody()
        </div>
        <!--footer-->     
        </div>
        <!-- begin jQuery -->
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: @Session["FBAppId"].ToString(),
                    xfbml: true,
                    version: 'v2.8'
                });
                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @*<script src="~/Scripts/reports/js/angular-pdfjs-viewer.js"></script>*@
    @Scripts.Render("~/bundles/report")

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    @Scripts.Render("~/bundles/appjs")
    <script>
        $(document).ready(function () {
            $(".accordion").accordion();
        });
    </script>
</body>
</html>