﻿
<div id="menu2" class="bge1 menu2">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-left">

                    <li class="@(ViewBag.ActiveMenu == 0 ? "dropdown active" : "dropdown")">
                        <a href="/shop.html" data-target="/shop.html">
                            <i class="fa fa-th-large" aria-hidden="true"></i>Tổng quát
                        </a>

                    </li>
                    <li class="@(ViewBag.ActiveMenu == 1 ? "dropdown active" : "dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-dropbox" aria-hidden="true"></i>Sản phẩm<i class="fa fa-angle-down"
                                                                                       aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu box-support">
                            <li><a href="/category.html"><i class="fa fa-list" aria-hidden="true"></i> Danh mục </a></li>
                            <li><a href="/products.html"><i class="fa fa-th" aria-hidden="true"></i> Quản lý sản phẩm </a></li>
                            <li><a href="/prices.html"><i class="fa fa-usd" aria-hidden="true"></i> Thiết lập giá </a></li>
                            @*<li><a href="#"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Kiểm kho </a></li>*@
                        </ul>
                    </li>
                    <li class="@(ViewBag.ActiveMenu == 2 ? "dropdown active" : "dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-stack-overflow" aria-hidden="true"></i>Đơn hàng<i class="fa fa-angle-down"
                                                                                              aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu box-support">
                            <li><a href="/orders.html"><i class="fa fa-files-o" aria-hidden="true"></i> Hóa đơn </a></li>
                            <li><a href="/exims.html"><i class="fa fa-sign-out" aria-hidden="true"></i> Nhập hàng </a></li>
                            <li><a href="/vendor-returns.html"><i class="fa fa-sign-out" aria-hidden="true"></i> Trả hàng nhập </a></li>
                            <li><a href="/customer-returns.html"><i class="fa fa-mail-reply" aria-hidden="true"></i> Trả hàng </a></li>
                            <li><a href="/branch-transfers.html"><i class="fa fa-mail-reply" aria-hidden="true"></i> Chuyển hàng </a></li>
                            @*<li>
                                    <a href="#"><i class="fa fa-mail-reply-all" aria-hidden="true"></i> Trả hàng nhập </a>
                                </li>
                                <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i> Chuyển hàng </a></li>
                                <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất hủy </a></li>*@
                        </ul>
                    </li>
                    <li class="@(ViewBag.ActiveMenu == 3 ? "dropdown active" : "dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-users" aria-hidden="true"></i>Nhà cung cấp & Khách hàng<i class="fa fa-angle-down"
                                                                                                      aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu box-support">
                            <li>
                                <a href="/delivery-vendors.html">
                                    <i class="fa fa-street-view" aria-hidden="true"></i> Quản lý dịch vụ vận chuyển
                                </a>
                            </li>
                            <li>
                                <a href="/vendors.html">
                                    <i class="fa fa-street-view" aria-hidden="true"></i> Quản lý nhà cung cấp
                                </a>
                            </li>
                            <li><a href="/customers.html"><i class="fa fa-user" aria-hidden="true"></i> Quản lý khách hàng </a></li>
                        </ul>
                    </li>
                    <li class="@(ViewBag.ActiveMenu == 4 ? "dropdown active" : "dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>Sổ quỹ<i class="fa fa-angle-down"
                                                                                          aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu box-support">
                            <li><a href="/cashes.html"><i class="fa fa-fax" aria-hidden="true"></i> Quản lý thu chi </a></li>
                        </ul>
                    </li>
                    <li class="@(ViewBag.ActiveMenu == 5 ? "dropdown active" : "dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>Báo cáo<i class="fa fa-angle-down"
                                                                                        aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu box-support">
                            @*<li><a href="/report-everyday.html"><i class="fa fa-pie-chart" aria-hidden="true"></i> Hàng ngày </a></li>*@
                            <li><a href="/report-sales.html"><i class="fa fa-clipboard" aria-hidden="true"></i> Bán hàng </a></li>
                            <li><a href="/report-cashes.html"><i class="fa fa-line-chart" aria-hidden="true"></i> Thu chi </a></li>
                            @*<li><a href="/report-order.html"><i class="fa fa-inbox" aria-hidden="true"></i> Đặt hàng </a></li>*@
                            @*<li><a href="/report-product.html"><i class="fa fa-cube" aria-hidden="true"></i> Hàng hóa </a></li>*@
                            @*<li><a href="/report-customer.html"><i class="fa fa-user" aria-hidden="true"></i> Khách hàng </a></li>
                                <li><a href="/report-vendor.html"><i class="fa fa-undo" aria-hidden="true"></i> Nhà cung cấp </a></li>
                                <li><a href="/report-employees.html"><i class="fa fa-male" aria-hidden="true"></i> Nhân viên </a></li>*@
                            @*<li><a href="/report-finance.html"><i class="fa fa-line-chart" aria-hidden="true"></i> Tài chính </a></li>*@
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="/chat.html" target="_blank">
                            Chat <i class="fa fa-comments-o" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="/sales.html">
                            Bán hàng <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="clearfix"></div>
</div>