﻿
@if (Session["EmployeeId"] == null)
{
    <li>
        <button type="button" class="btn btn-login btn-lg" data-toggle="modal" data-target="#loginModal">
            Đăng nhập
        </button>
    </li>
}
else
{
    <li>
        <a href="/select-page.html"><p style="margin:10px 20px 0px 0px;">Vào ứng dụng</p></a>
    </li>
    <li>
        <p style="margin:10px 0px 0px 0px;">Xin chào @Session["EmployeeName"].ToString() - <a href="logout.html">Đăng xuất</a></p>
    </li>
}