﻿
<div ng-controller="ActionController" ng-init="init()">
    <div class="col-lg-3 box-notifile">
        <div class="lable left">
            <h1>
                <i class="fa fa-bell" aria-hidden="true"></i> Các hoạt động gần
                đây
            </h1>
        </div>
        <div class="list-notifile left">
            <ul>
                <li ng-repeat="action in actions" ng-class="findClass(action)">
                    <a href="/actions.html" class="icon left">
                        <i ng-class="findIconClass(action)"
                           aria-hidden="true"></i>
                    </a>
                    <h2><a href="/actions.html"> {{ findTitle(action) }}</a></h2>
                    <p class="txt">
                        <a href="/actions.html">{{ action.employee.EmployeeName }} </a> vừa <a href="/actions.html">{{ action.ActionName }}</a>
                        {{ findMessage(action) }}
                    </p>
                    <p class="time" time-ago from-time="{{ action.CreatedAt }}"></p>                  
                </li>
            </ul>
        </div>
    </div>
</div>