﻿
@{
    ViewBag.Title = "FB.SALE - Hoạt động";
    Layout = "~/Views/Shared/_HomeShared.cshtml";
}

<style>
    .tabsdemoDynamicHeight md-content {
        background-color: transparent !important;
    }

        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

            .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white;
            }

        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }

    
</style>

<div ng-controller="ActionsController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Danh sách hoạt động </h2>
                </div>
                <div class="boxSearch right col-sm-3 hidden">
                    <form class="form-inline">
                        <div class="form-group form-control">
                            <input type="email" class="" id="exampleInputEmail3" placeholder="Tìm kiếm thông tin">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.province" ng-init="q.province = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Hoạt động</option>
                        <option value="CUSTOMER">Khách hàng</option>
                        <option value="IMPORT">Nhập hàng</option>
                        <option value="IMPORT_RETURN">Trả hàng nhập</option>
                        <option value="ORDER">Hóa đơn</option>
                        <option value="PRODUCT_ATTRIBUTE">Sản phẩm</option>
                        <option value="RETURN">Trả hàng</option>
                        <option value="VENDOR">Nhà cung cấp</option>
                        <option value="DELIVERY_VENDOR">Nhà cung cấp vận chuyển</option>

                    </select>
                </div>
                @*<div class="col-sm-2">
                        <select class="form-control" ng-model="o.totaldebt" ng-init="o.totaldebt = '0'" ng-change="onOrderChange()">
                            <option value="0">Sắp xếp theo tổng số nợ</option>
                            <option value="1">Tổng số nợ giảm dần</option>
                            <option value="-1">Tổng số nợ tăng dần</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="o.totalpaid" ng-init="o.totalpaid = '0'" ng-change="onOrderChange()">
                            <option value="0">Sắp xếp theo tổng số thanh toán</option>
                            <option value="1">Tổng số thanh toán giảm dần</option>
                            <option value="-1">Tổng số thanh toán tăng dần</option>
                        </select>
                    </div>*@
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>

            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Hoạt động</th>
                        <th>Mã</th>
                        <th>Tên nhân viên</th>
                        <th>Giá trị</th>
                        <th>Thời gian</th>
                    </tr>
                    @*<tr>
                            <th colspan="6" style="text-align:left;">Số nhà cung cấp: {{ metadata.Count }}</th>
                            <th>{{ metadata.TotalOrderImport }}</th>
                            <th>{{ metadata.TotalOrderImportPrice | formatPrice }}</th>
                            <th>{{ metadata.TotalDebtPrice | formatPrice }}</th>
                        </tr>*@
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: action.isExpand}" ng-repeat-start="action in actions">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td class="tranfromfirtWord"><a href="{{'/detail-action.html?type='+action.TargetType+'&id='+action.TargetId}}">{{ action.ActionName}}</a></td>
                        <td><a href="{{'/detail-action.html?type='+action.TargetType+'&id='+action.TargetId}}">{{ action.target.TargetCode }}</a></td>
                        <td>{{ action.employee.EmployeeName }}</td>
                        <td>{{ action.target.Price||"" }}</td>
                        <td>{{ action.CreatedAt|date : "dd/MM/yyyy" }}</td>

                    </tr>
                    <tr class="t-content" ng-repeat-end></tr>
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" ng-class="active:vm.pager.currentPage === page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate="true" max-size="10"></ul>
            </div>
        </div>
    </div>

</div>