﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Chi nhánh";
}

<style>

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
</style>

<div ng-controller="BranchController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý chi nhánh </h2>
                    <a href="#" class="addPro" ng-click="openCreateBranchDialog();"><i class="fa fa-plus" aria-hidden="true"></i> Thêm chi nhánh</a>              
                </div>
            </div>
        </div> 
        <div class="box-store-list left w100pt">            
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Tên chi nhánh</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>                      
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-repeat-start=" branch in branches track by $index" ng-click="expandDetail(branch);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ branch.BranchName }}</td>              
                        <td>{{ branch.Phone }}</td>
                        <td>{{ branch.Address }}</td>                 
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="branch.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">                                          
                                            <div class="col-lg-6 info-product-tt" style="width:100%;">
                                                <ul>                                                   
                                                    <li><span class="txt-left">Tên chi nhánh :</span> {{ branch.BranchName }}</li>                                                
                                                    <li><span class="txt-left">Địa chỉ:</span> {{ branch.Address }}</li>
                                                    <li><span class="txt-left">Số điện thoại:</span> {{ branch.Phone }}</li>
                                                </ul>
                                            </div>                                           
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-success btn-update" ng-click="openEditBranchDialog(branch);">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="showConfirmDeleteBranch(branch);">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true"></i> Xóa
                                            </button>
                                        </div>
                                    </uib-tab>                 
                                </uib-tabset>
                            </div>

                        </td>
                    </tr>                    
                </table>
            </div>
        </div>
    </div>   

    <div class="modal fade box-popup popMainl" id="addBranch" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm chi nhánh</h4>
                </div>
                <div class="modal-body" ng-form name="frmAddBranch">
                    <div class="form-group row">
                        <label>Tên chi nhánh</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Tên chi nhánh" ng-model="newBranch.BranchName" required>
                            <span class="err_msg" ng-show="newBranch.BranchName == '' || newBranch.BranchName == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Địa chỉ</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="newBranch.Address" required>
                            <span class="err_msg" ng-show="newBranch.Address == '' || newBranch.Address == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Số điện thoại</label>
                        <div>
                            <input type="text" name="txtPhone" class="form-control" placeholder="Số điện thoại" ng-model="newBranch.Phone" required ng-pattern="/^[0-9]{10,11}$/">
                            <span class="err_msg" ng-show="frmAddBranch.txtPhone.$invalid && !frmAddBranch.txtPhone.$pristine || newBranch.Phone == '' || newBranch.Phone == undefined">*</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelCreate();">
                        <span class="fa fa-ban"></span>Bỏ qua
                    </button>
                    <button id="createBranch" type="button" class="btn btn-success" ng-click="createBranch();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup popMainl" id="editBranch" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Cập nhật chi nhánh</h4>
                </div>
                <div class="modal-body" ng-form name="frmEditBranch">
                    <div class="form-group row">
                        <label>Tên chi nhánh</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Tên chi nhánh" ng-model="editBranch.BranchName" required>
                            <span class="err_msg" ng-show="editBranch.BranchName == '' || editBranch.BranchName == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Địa chỉ</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="editBranch.Address" required>
                            <span class="err_msg" ng-show="editBranch.Address == '' || editBranch.Address == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Số điện thoại</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Số điện thoại" ng-model="editBranch.Phone" required ng-pattern="/^[0-9]{10,11}$/">
                            <span class="err_msg" ng-show="frmEditBranch.txtPhone.$invalid && !frmEditBranch.txtPhone.$pristine || editBranch.Phone == '' || editBranch.Phone == undefined">*</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Bỏ qua
                    </button>
                    <button type="button" class="btn btn-success" ng-click="updateBranch();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>