﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý đơn hàng";
}

<div ng-controller="BranchTransfersController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý chuyển hàng </h2>
                    <a href="/transfers.html" class="addPro"><i class="fa fa-plus" aria-hidden="true"></i> Chuyển hàng</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Thời gian</th>
                        <th>Từ chi nhánh</th>
                        <th>Đến chi nhánh</th>
                        <th>Giá trị chuyển</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: transfer.isExpand}" ng-repeat-start=" transfer in transfers" ng-click="expandDetail(transfer);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ transfer.Code }}</td>
                        <td>{{ transfer.CreatedAt | date : "dd/MM/yyyy" }}</td>
                        <td>{{ transfer.fromBranch.BranchName }}</td>
                        <td>{{ transfer.toBranch.BranchName }}</td>
                        <td>{{ transfer.Total | formatPrice }}</td>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="transfer.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Mã phiếu:</span> {{ transfer.Code}}</li>
                                                    <li><span class="txt-left">Thời gian :</span> {{ transfer.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</li>
                                                    <li><span class="txt-left">Người tạo :</span><p> {{  transfer.employee.EmployeeName }}</p></li>
                                                    <li style="border-bottom:0;"><span class="txt-left">Ghi chú :</span> <textarea ng-model="transfer.Note"></textarea></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left">Từ chi nhánh :</span><p>{{ transfer.fromBranch.BranchName }}</p></li>
                                                    <li><span class="txt-left">Đến chi nhánh :</span><p>{{ transfer.toBranch.BranchName }}</p></li>
                                                    <li><span class="txt-left">Trạng thái :</span> {{ transfer.Status == 2 | iif : "Hoàn thành" : "Chưa hoàn thành"  }}</li>
                                                </ul>
                                            </div>
                                            <div class="table-othe">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã hàng hóa</th>
                                                            <th align="left">Tên hàng hóa</th>
                                                            <th align="left">Đơn giá</th>
                                                            <th align="left">Số lượng</th>
                                                            <th align="right">Thành tiền</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in transfer.products">
                                                            <td align="left">{{ product.ProductCode }}</td>
                                                            <td><a href="#"><b>{{ product.ProductName }}<br />{{ product.SubName }}</b></a></td>
                                                            <td align="right">{{ product.Price | formatPrice }}</td>
                                                            <td align="right">{{ product.Quantity }}</td>
                                                            <td align="right">{{ product.TotalPrice | formatPrice }}</td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="4">Tổng tiền hàng:</td>
                                                            <td align="right"><b>{{  transfer.Total | formatPrice }}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-default" ng-click="updateTransfer(transfer)">
                                                <i class="fa fa-check-square-o" style="color:#666" aria-hidden="true"></i> Lưu
                                            </button>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
            </div>
        </div>
    </div>
</div>