﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý thu chi";
}
<div ng-controller="CashController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý thu chi </h2>
                    <a href="#" class="addPro" ng-click="openCreateCash(1);"><i class="fa fa-plus" aria-hidden="true"></i> Thêm phiếu thu</a>
                    <a href="#" class="addPro" ng-click="openCreateCash(0);"><i class="fa fa-plus" aria-hidden="true"></i> Thêm phiếu chi</a>
                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.type" ng-init="q.type = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Loại phiếu</option>
                        <option value="1">Phiếu thu</option>
                        <option value="0">Phiếu chi</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" readonly placeholder="Ngày bắt đầu" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.StartDate" is-open="DatePopup.startDate" datepicker-options="dateOptionsStart" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                    <button class="btCalender" ng-click="openDatePopup(0);" style="top:6px;right:20px;"><i class="fa fa-calendar"></i></button>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" readonly placeholder="Ngày kết thúc" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.EndDate" is-open="DatePopup.endDate" datepicker-options="dateOptionsEnd" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                    <button class="btCalender" ng-click="openDatePopup(1);" style="top:6px;right:20px;"><i class="fa fa-calendar"></i></button>
                </div>
                <h2>Tìm kiếm</h2>
                <div class="col-sm-2">
                    <input type="text" class="form-control"
                           placeholder="Tìm theo người nộp nhận" ng-model="_search">
                </div>
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="table-list w100pt left">
                <table class="table table-responsive">
                    <tr>
                        <th colspan="3">Tông thu: {{ metadata.TotalCachesIn | formatPrice }} </th>
                        <th colspan="4">Tổng chi: {{ metadata.TotalCachesOut | formatPrice }} </th>
                    </tr>
                </table>
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Thời gian</th>
                        <th>Nội dung</th>
                        <th>Loại thu chi</th>
                        <th>Người nộp / nhận</th>
                        <th>Đã thanh toán</th>
                    </tr>

                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: cash.isExpand}" ng-repeat-start=" cash in cashes | filter:_search" ng-click="expandDetail(cash);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ cash.CashCode }}</td>
                        <td>{{ cash.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                        <td>{{ cash.Title }}</td>
                        <td>{{ findType(cash) }}</td>
                        <td>{{ cash.paidTarget.TargetName }}</td>
                        <td>{{ cash.PaidAmount | formatPrice }}</td>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="cash.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <div class="info-product-right left">
                                    <div class="col-lg-6 info-product-tt">
                                        <ul>
                                            <li><span class="txt-left">Mã phiếu:</span> {{ cash.CashCode}}</li>
                                            <li><span class="txt-left">Thời gian :</span> {{ cash.CreatedAt | date : "dd/MM/yyyy" }}</li>
                                            <li><span class="txt-left">Nội dung :</span> {{ cash.Title }}</li>
                                            <li><span class="txt-left">Người tạo :</span> {{ cash.employee.EmployeeName }}</li>
                                            <li><span class="txt-left">{{ cash.cashType.Type == 0 | iif : "Người nhận" : "Người nộp" }} :</span>{{ cash.paidTarget.TargetName }}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 info-product-tt last">
                                        <ul>
                                            <li><span class="txt-left">Số tiền :</span> {{  cash.PaidAmount | formatPrice }}</li>
                                            <li><span class="txt-left">Loại thu chi :</span> {{ cash.Type==0 | iif : "Phiếu chi" : "Phiếu thu" }}</li>
                                            <li style="border-bottom:0;"><span class="txt-left">Ghi chú :</span> <textarea ng-model="cash.Note" rows="3" style="width:100%;"></textarea></li>   
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                    {{ getMessage(cash); }}
                                    <div class="clearfix"></div>
                                    <button type="button" class="btn btn-success btn-update" ng-click="updateCash(cash);">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                                    </button>
                                    <button type="button" class="btn btn-lock" ng-click="showConfirmCancelCashes(cash)" ng-show="cash.IsManual!=null">
                                        <i class="fa fa-trash"
                                           aria-hidden="true" style="color:#fff"></i> Hủy phiếu
                                    </button>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                    <tr class="td-sum">
                        <td colspan="7" style="text-align:right;"><b>Tổng số đã thanh toán {{ metadata.TotalPaid | formatPrice }} / {{ metadata.Total | formatPrice }}</b></td>
                    </tr>
                </table>
            </div>
            
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addCashIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center box-popupB">
                <div class="modal-content" style="overflow: hidden;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Lập phiếu thu</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Mã phiếu thu</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Mã mặc định" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Loại thu</div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlGroup" ng-model="newCashIn.CashTypeId" ng-init="newCashIn.CashTypeId = '-1'">
                                            <option value="-1">-- Lựa chọn loại thu --</option>
                                            <option ng-repeat=" cashType in cashTypes" value="{{ cashType.CashTypeId }}">{{ cashType.Name }}</option>
                                        </select>
                                        <button class="plus-btn" data-toggle="modal" data-target="#addCashType">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Đối tượng : </div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlType" ng-model="newCashIn.PaidTargetType" ng-init="newCashIn.PaidTargetType = '-1'" ng-change="onTypeChange();">
                                            <option value="-1">-- Lựa chọn đối tượng --</option>
                                            <option value="CUSTOMER">Khách hàng</option>
                                            <option value="VENDOR">Đối tác</option>
                                            <option value="EMPLOYEE">Nhân viên</option>
                                            <option value="DELIVERY_VENDOR">Đối tác giao hàng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item" ng-show="newCashIn.PaidTargetType != '-1'">
                                <div class="col-md-3" style="">Người nộp</div>
                                <div class="col-md-9">
                                    <div ng-show="newCashIn.PaidTargetType == 'CUSTOMER'">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm khách hàng" ng-model="_customer" typeahead-template-url="customerTemplate.html" uib-typeahead="customer for item in getSuggestCustomers($viewValue)">
                                        <script type="text/ng-template" id="customerTemplate.html">
                                            <div style="display:block;width:396px;" ng-click="$parent.$parent.$parent.selectTarget(match.model)">
                                                <p style="padding:8px;margin:0px;">{{  match.model.CustomerName }}</p>
                                                <hr style="margin-bottom:1px;margin-top:1px;" />
                                            </div>
                                        </script>
                                    </div>
                                    <div ng-show="newCashIn.PaidTargetType == 'VENDOR'">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm đối tác" ng-model="_vendor" typeahead-template-url="vendorTemplate.html" uib-typeahead="vendor for item in getSuggestVendors($viewValue)">
                                        <script type="text/ng-template" id="vendorTemplate.html">
                                            <div style="display:block;width:396px;" ng-click="$parent.$parent.$parent.selectTarget(match.model)">
                                                <p style="padding:8px;margin:0px;">{{  match.model.VendorName }}</p>
                                                <hr style="margin-bottom:1px;margin-top:1px;" />
                                            </div>
                                        </script>
                                    </div>
                                    <div ng-show="newCashIn.PaidTargetType == 'EMPLOYEE'">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm nhân viên" ng-model="_vendor" typeahead-template-url="employeeTemplate.html" uib-typeahead="vendor for item in getSuggestEmployees($viewValue)">
                                        <script type="text/ng-template" id="employeeTemplate.html">
                                            <div style="display:block;width:396px;" ng-click="$parent.$parent.$parent.selectTarget(match.model)">
                                                <p style="padding:8px;margin:0px;">{{  match.model.EmployeeName }}</p>
                                                <hr style="margin-bottom:1px;margin-top:1px;" />
                                            </div>
                                        </script>
                                    </div>
                                    <div ng-show="newCashIn.PaidTargetType == 'DELIVERY_VENDOR'">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm đối tác giao hàng" ng-model="_vendor" typeahead-template-url="dvendorTemplate.html" uib-typeahead="vendor for item in getSuggestDVendors($viewValue)">
                                        <script type="text/ng-template" id="dvendorTemplate.html">
                                            <div style="display:block;width:396px;" ng-click="$parent.$parent.$parent.selectTarget(match.model)">
                                                <p style="padding:8px;margin:0px;">{{  match.model.VendorName }}</p>
                                                <hr style="margin-bottom:1px;margin-top:1px;" />
                                            </div>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item" ng-show="newCashIn.selectedTarget != undefined" ng-init="newCashIn.selectedTarget = undefined">
                                <div class="col-md-3" style=""></div>
                                <div class="col-md-9">
                                    <p style="margin:5px 0px 5px 0px;color:red;font-weight:bold;">{{ newCashIn.selectedTarget.Name  }}</p>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Phiếu liên quan : </div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlTargetType" ng-model="newCashIn.TargetType" ng-init="newCashIn.TargetType = '-1'" ng-change="onTargetTypeChange();">
                                            <option value="-1">-- Phiếu lẻ --</option>
                                            <option value="ORDER">Phiếu mua hàng</option>
                                            <option value="IMPORT">Phiếu nhập hàng</option>
                                            <option value="RETURN">Phiếu trả hàng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item" ng-show="newCashIn.TargetType != '-1'">
                                <div class="col-md-3" style="">Mã phiếu</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Mã phiếu" class="form-control" ng-model="newCashIn.TargetCode">
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Giá trị</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Giá trị" class="form-control" ng-model="newCashIn.PaidAmount" ng-required format="displayprice">
                                    <span style="right:0px;top:10px;" class="err_msg" ng-show="newCashIn.PaidAmount == '' || newCashIn.PaidAmount == undefined || newCashIn.PaidAmount == 0">*</span>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Ghi chú</div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" ng-model="newCashIn.Note" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style=""></div>
                                <div class="col-md-9" ng-show="newCashIn.PaidTargetType != 'EMPLOYEE'&& newCashIn.PaidTargetType != 'DELIVERY_VENDOR'">
                                    <input class="magic-checkbox" type="checkbox"  id="chkAddToFlow" ng-model="newCashIn.IsAddToFlow" ng-init="newCashIn.IsAddToFlow = true" />
                                    <label for="chkAddToFlow">
                                        Tính vào công nợ
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer left w100pt">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-ban"></span>Hủy</button>
                            <button type="button" class="btn btn-success" ng-click="createCash(1);"><span class="fa fa-save"></span>Lưu &amp; Thêm mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addCashOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center box-popupB">
                <div class="modal-content" style="overflow:hidden">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Lập phiếu chi</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Mã phiếu chi</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Mã mặc định" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Loại chi</div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlGroup" ng-model="newCashOut.CashTypeId" ng-init="newCashOut.CashTypeId = '-1'">
                                            <option value="-1">-- Lựa chọn loại chi --</option>
                                            <option ng-repeat=" cashType in cashTypes" value="{{ cashType.CashTypeId }}">{{ cashType.Name }}</option>
                                        </select>
                                        <button class="plus-btn" data-toggle="modal" data-target="#addCashType">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Đối tượng : </div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlType" ng-model="newCashOut.PaidTargetType" ng-init="newCashOut.PaidTargetType = '-1'" ng-change="onTypeChange();">
                                            <option value="-1">-- Lựa chọn đối tượng --</option>
                                            <option value="CUSTOMER">Khách hàng</option>
                                            <option value="VENDOR">Đối tác</option>
                                            <option value="EMPLOYEE">Nhân viên</option>
                                            <option value="DELIVERY_VENDOR">Đối tác giao hàng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item" ng-show="newCashOut.PaidTargetType != '-1'">
                                <div class="col-md-3" style="">Người nộp</div>
                                <div class="col-md-9">
                                    <div ng-show="newCashOut.PaidTargetType == 'CUSTOMER'">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm khách hàng" ng-model="_customer" typeahead-template-url="customerTemplate.html" uib-typeahead="customer for item in getSuggestCustomers($viewValue)">
                                        <script type="text/ng-template" id="customerTemplate.html">
                                            <div style="display:block;width:396px;" ng-click="$parent.$parent.$parent.selectTarget(match.model)">
                                                <p style="padding:8px;margin:0px;">{{  match.model.CustomerName }}</p>
                                                <hr style="margin-bottom:1px;margin-top:1px;" />
                                            </div>
                                        </script>
                                    </div>
                                    <div ng-show="newCashOut.PaidTargetType == 'VENDOR'">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm đối tác" ng-model="_vendor" typeahead-template-url="vendorTemplate.html" uib-typeahead="vendor for item in getSuggestVendors($viewValue)">
                                        <script type="text/ng-template" id="vendorTemplate.html">
                                            <div style="display:block;width:396px;" ng-click="$parent.$parent.$parent.selectTarget(match.model)">
                                                <p style="padding:8px;margin:0px;">{{  match.model.VendorName }}</p>
                                                <hr style="margin-bottom:1px;margin-top:1px;" />
                                            </div>
                                        </script>
                                    </div>
                                    <div ng-show="newCashOut.PaidTargetType == 'EMPLOYEE'">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm nhân viên" ng-model="_vendor" typeahead-template-url="employeeTemplate.html" uib-typeahead="vendor for item in getSuggestEmployees($viewValue)">
                                        <script type="text/ng-template" id="employeeTemplate.html">
                                            <div style="display:block;width:396px;" ng-click="$parent.$parent.$parent.selectTarget(match.model)">
                                                <p style="padding:8px;margin:0px;">{{  match.model.EmployeeName }}</p>
                                                <hr style="margin-bottom:1px;margin-top:1px;" />
                                            </div>
                                        </script>
                                    </div>
                                    <div ng-show="newCashOut.PaidTargetType == 'DELIVERY_VENDOR'">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm đối tác giao hàng" ng-model="_vendor" typeahead-template-url="dvendorTemplate.html" uib-typeahead="vendor for item in getSuggestDVendors($viewValue)">
                                        <script type="text/ng-template" id="dvendorTemplate.html">
                                            <div style="display:block;width:396px;" ng-click="$parent.$parent.$parent.selectTarget(match.model)">
                                                <p style="padding:8px;margin:0px;">{{  match.model.VendorName }}</p>
                                                <hr style="margin-bottom:1px;margin-top:1px;" />
                                            </div>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item" ng-show="newCashOut.selectedTarget != undefined" ng-init="newCashOut.selectedTarget = undefined">
                                <div class="col-md-3" style=""></div>
                                <div class="col-md-9">
                                    <p style="margin:5px 0px 5px 0px;color:red;font-weight:bold;">{{ newCashOut.selectedTarget.Name  }}</p>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Phiếu liên quan : </div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlTargetType" ng-model="newCashOut.TargetType" ng-init="newCashOut.TargetType = '-1'" ng-change="onTargetTypeChange();">
                                            <option value="-1">-- Phiếu lẻ --</option>
                                            <option value="ORDER">Phiếu mua hàng</option>
                                            <option value="IMPORT">Phiếu nhập hàng</option>
                                            <option value="RETURN">Phiếu trả hàng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item" ng-show="newCashOut.TargetType != '-1'">
                                <div class="col-md-3" style="">Mã phiếu</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Mã phiếu" class="form-control" ng-model="newCashOut.TargetCode">
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Giá trị</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Giá trị" class="form-control" ng-model="newCashOut.PaidAmount" ng-required format="displayprice">
                                    <span style="right:0px;top:10px;" class="err_msg" ng-show="newCashOut.PaidAmount == '' || newCashOut.PaidAmount == undefined || newCashOut.PaidAmount == 0">*</span>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Ghi chú</div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" ng-model="newCashOut.Note" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style=""></div>
                                <div class="col-md-9" ng-show="newCashOut.PaidTargetType != 'EMPLOYEE' && newCashOut.PaidTargetType != 'DELIVERY_VENDOR'">
                                    <input class="magic-checkbox" type="checkbox" id="chkAddToFlowOut"  ng-model="newCashOut.IsAddToFlow" ng-init="newCashOut.IsAddToFlow = true" />
                                    <label for="chkAddToFlowOut">
                                        Tính vào công nợ
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer left w100pt">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-ban"></span>Hủy</button>
                            <button type="button" class="btn btn-success" ng-click="createCash(0);"><span class="fa fa-save"></span>Lưu &amp; Thêm mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade box-popup cateModal" id="addCashType" tabindex="-1" style="z-index:9999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm loại thu / chi</h4>
                </div>
                <div class="modal-body">
                    <div class="row w100pt loaiKH">
                        <label class="col-form-label">Loại phiếu:</label>
                        <div class="btn-group btnSelect" role="group">
                            <div class="radio-KH">
                                <input class="magic-radio" type="radio" name="optType" id="phieuthu" ng-model="newCashType.Type" ng-init="newCashType.Type = '1'" ng-required="true" value="1" checked>
                                <label for="phieuthu">
                                    Phiếu thu
                                </label>
                            </div>
                            <div class="radio-KH">
                                <input class="magic-radio" type="radio" name="optType" id="phieuchi" ng-model="newCashType.Type" value="0" ng-required="true">
                                <label for="phieuchi">
                                    Phiếu chi
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label for="input">Mã phiếu</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newCashType.CashTypeCode" placeholder="Mã phiếu (VD : PTA,PCB..)">
                            <span class="err_msg" ng-show="newCashType.CashTypeCode == '' || newCashType.CashTypeCode == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label for="input">Loại thu / chi</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newCashType.Name" placeholder="Nhập tên phiếu">
                            <span class="err_msg" ng-show="newCashType.Name == '' || newCashType.Name == undefined">*</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="createCashType();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>