﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý danh mục";
}

<div ng-controller="CategoryController">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-list" aria-hidden="true"></i> Danh mục sản phẩm </h2>
                    <a href="#" class="addPro" data-toggle="modal" data-target="#cateModal"><i class="fa fa-plus" aria-hidden="true"></i>Tạo danh mục</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
                <div class="boxSearch right col-sm-3 hidden">
                    <form class="form-inline">
                        <div class="form-group form-control">
                            <input type="email" class="" id="exampleInputEmail3" placeholder="Tìm kiếm thông tin">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--list-categories -->
        <div class="list-categories left w100pt">
            <div class="col-sm-9">
                <div id="wrapper">
                    <div id="list" class="row item" ng-init="initCategory();">
                        <div class="item">
                            <div masonry item-selector=".list-items" preserve-order>
                                <div masonry-brick class="list-items" ng-repeat=" category in categories">
                                    <div class="title-item">
                                        <a href="#">{{ category.CategoryName +'('+category.ProductCount+')'}}</a>
                                        <button ng-click="editCategory(category);"><i class="fa fa-edit"></i> </button>
                                    </div>
                                    <ul>
                                        <li ng-repeat="childCategory in category.children" ng-class="{'clearfix': $first}">
                                            <a href="#">{{ childCategory.CategoryName }} <i>{{ childCategory.ProductCount }}</i></a>
                                            <button ng-click="editCategory(childCategory);"> <i class="fa fa-edit"></i> </button>
                                        </li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Action("BoxRecentAction", "Shared")
        </div>
    </div>

    <div class="modal fade box-popup cateModal" id="cateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm danh mục</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        <label for="input">Tên nhóm</label>
                        <div>
                            <input type="text" class="form-control" id="txtCategoryName" maxlength="49" ng-model="newCategory.CategoryName" ng-init="newCategory.CategoryName = ''" placeholder="Nhập tên danh mục">
                            <span class="err_msg" ng-show="newCategory.CategoryName == '' || newCategory.CategoryName == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label>Nhóm cha</label>
                        <div>
                            <div class="form-group">
                                <select class="form-control" id="ddlCategory" ng-model="newCategory.CategoryParentId" ng-init="newCategory.CategoryParentId = '-1'">
                                    <option value="-1">-- Lựa chọn nhóm cha --</option>
                                    <option ng-repeat=" category in categories" value="{{ category.CategoryId }}">{{ category.CategoryName }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="createCategory();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Modal-->
    <div class="modal fade box-popup editModal" tabindex="-1" id="editModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Sửa danh mục</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        <label for="input">Tên nhóm</label>
                        <div>
                            <input type="text" class="form-control" ng-model="editingCategory.CategoryName" maxlength="100" placeholder="Nhập tên danh mục">
                            <span class="err_msg" ng-show="editingCategory.CategoryName == ''">*</span>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label>Nhóm cha</label>
                        <div>
                            <div class="form-group">
                                <select class="form-control" id="ddlCategory" ng-model="editingCategory.CategoryParentId" ng-options="category.CategoryId as category.CategoryName for category in categories">
                                    <option value="">-- Lựa chọn nhóm cha --</option>
                                    @*<option ng-repeat=" category in categories" value="{{ category.CategoryId }}" ng-selected="category.CategoryId == editingCategory.CategoryParentId">{{ category.CategoryName }}</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="saveCategory();"><span class="fa fa-save"></span>Lưu</button>
                    <button type="button" class="btn btn-danger" ng-click="showConfirmDeleteCategory(editingCategory);"><span class="fa fa-trash"></span>Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

