﻿
@{
    ViewBag.Title = "FB.SALE-Quản lý người dùng";
    Layout = "~/Views/Shared/_HomeShared.cshtml";
}

<style>
    .tabsdemoDynamicHeight md-content {
        background-color: transparent !important;
    }

        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

            .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white;
            }

        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }
</style>

<div ng-controller="CMSadminController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý nhà cung cấp </h2>
                    <a href="#" class="addPro" ng-click="openCreateVendorDialog();"><i class="fa fa-plus" aria-hidden="true"></i> Thêm nhà cung cấp</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
                <div class="boxSearch right col-sm-3 hidden">
                    <form class="form-inline">
                        <div class="form-group form-control">
                            <input type="email" class="" id="exampleInputEmail3" placeholder="Tìm kiếm thông tin">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.province" ng-init="q.province = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Thành phố</option>
                        <option ng-repeat="province in provinces" value="{{ province.ProvinceId }}">{{ province.Name }}</option>
                    </select>
                </div>
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>

            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Tên người dùng</th>
                        <th>Email người dùng</th>
                        <th>Tên cửa hàng</th>
                        <th>Số điện thoại</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Trạng thái</th>
                    </tr>
                    <tr>
                        <th colspan="8" style="text-align:left;">Số người dùng: {{ metadata.Count }}</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="" ng-repeat-start="employee in employees" ng-click="expandDetail(employee);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ employee.EmployeeName}}</td>
                        <td>{{ employee.Email }}</td>
                        <td>{{ employee.ShopName }}</td>
                        <td>{{ employee.Phone }}</td>
                        <td>{{ employee.StartAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                        <td>{{ employee.EndAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                        <td style="text-align:center"><i class="{{employee.Status ? 'ion-close-round':'ion-checkmark-round'}}"></i></td>
                        
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="employee.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <h1>{{ employee.EmployeeName }}</h1>
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Email :</span> {{ employee.Email}}</li>
                                                    <li><span class="txt-left">Địa chỉ :</span> {{ employee.Address }}</li>
                                                    <li><span class="txt-left">Số điện thoại :</span> {{ employee.Phone }}</li>
                                                    <li><span class="txt-left">FacebookId:</span> {{ employee.FacebookUserId }}</li>
                                                    <li><span class="txt-left">Tên cửa hàng :</span> &nbsp;{{ employee.ShopName }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left">Nhóm người dùng : </span>&nbsp; {{ employee.Group }}</li>
                                                    <li><span class="txt-left">Trạng thái :</span> {{ employee.Status? 'Bị khóa': 'Đang hoạt động' }}</li>
                                                    <li><span class="txt-left">Phân loại : </span> {{ employee.TotalOrderPrice }}</li>
                                                    <li><span class="txt-left">Ngày bắt đầu :</span> {{ employee.StartAt | date : "dd/MM/yyyy HH:mm:ss"}}</li>
                                                    <li><span class="txt-left">Ngày kết thúc :</span> {{ employee.EndAt | date : "dd/MM/yyyy HH:mm:ss"}}</li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-success btn-update" ng-click="openEditEmployeeDialog(employee);">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="showConfirmEditStartus(employee);" ng-cloak>
                                                <i class="{{employee.Status?'ion-ios-unlocked':'ion-ios-locked'}}"
                                                   aria-hidden="true"></i> {{employee.Status?'Mở khóa':'Khóa'}}
                                            </button>
                                        </div>
                                    </uib-tab>
                                    
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate="true" max-size="10"></ul>
            </div>
        </div>
    </div>
    @*Cập nhật người dùng*@
    <div class="modal fade box-popup box-popupB" id="editEmployee" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Cập nhật người dùng
                    </h4>
                </div>
                <div class="modal-body" ng-form name="frmEditEmployee">
                    <div class="left-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Tên nhân viên :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên nhân viên" ng-model="editEmployee.EmployeeName" ng-required="true">
                            <span class="err_msg" ng-show="editEmployee.EmployeeName == '' || editEmployee.EmployeeName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Email đăng nhập :</label>
                            <input type="email" class="form-control" placeholder="Nhập tài khoản" ng-model="editEmployee.Email" disabled="disabled" ng-required="true">
                            <span class="err_msg" ng-show="editEmployee.Email == '' || editEmployee.Email == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Mật khẩu :</label>
                            <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" ng-model="editEmployee.Password" ng-init="editEmployee.Password = ''">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">ID Facebook :</label>
                            <input type="text" class="form-control" placeholder="Nhập ID Facebook" ng-model="editEmployee.FacebookUserId">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Chi nhánh :
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlBranch" ng-model="editEmployee.BranchId">
                                    <option value="-1">-- Lựa chọn chi nhánh --</option>
                                    <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                </select>
                                <span class="err_msg" ng-show="editEmployee.BranchId == -1 || editEmployee.BranchId == undefined">*</span>
                            </div>
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhóm :
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlGroup" ng-model="editEmployee.Group" required>
                                    <option value="-1">-- Lựa chọn nhóm --</option>
                                    <option value="Manager">Quản lý</option>
                                    <option value="Sale" >Bán hàng</option>
                                    <option value="Admin" >Admin</option>
                                </select>
                                <span class="err_msg" ng-show="editEmployee.Group == -1 || editEmployee.Group == undefined">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" name="txtPhone" class="form-control" placeholder="Nhập số điện thoại" ng-model="editEmployee.Phone">
                            <span class="err_msg" ng-show="frmEditEmployee.txtPhone.$invalid && !frmEditEmployee.txtPhone.$pristine">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="editEmployee.Address">
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="updateEmployee();">
                            <span class="fa fa-save"></span>Cập nhật
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    @*Cập nhật nhà cung cấp*@
</div>