﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý khách hàng";
}

<style>

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
</style>

<div ng-controller="CustomerController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý khách hàng </h2>
                    <a href="#" class="addPro" ng-click="openCreateCustomerDialog();"><i class="fa fa-plus" aria-hidden="true"></i> Thêm khách hàng</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
                <div class="boxSearch right col-sm-3 hidden">
                    <form class="form-inline">
                        <div class="form-group form-control">
                            <input type="email" class="" id="exampleInputEmail3" placeholder="Tìm kiếm thông tin">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div> 
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.group" ng-init="q.group = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Nhóm khách hàng</option>
                        <option ng-repeat="group in customerGroups" value="{{ group.CustomerGroupId }}">{{ group.Name }}</option>
                    </select>
                </div>  
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.type" ng-init="q.type = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Loại khách hàng</option>
                        <option value="0">Cá nhân</option>
                        <option value="1">Công ty</option>
                    </select>
                </div> 
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.province" ng-init="q.province = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Thành phố</option>
                        <option ng-repeat="province in provinces" value="{{ province.ProvinceId }}">{{ province.Name }}</option>
                    </select>
                </div>
                <h2>Tìm kiếm</h2>
                <div class="col-sm-2">
                    <input type="text" class="form-control"
                           placeholder="Tìm khách hàng" ng-model="_search">
                </div>
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>  
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>                       
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Tỉnh / Thành Phố</th>
                        <th>Nhóm</th>
                        <th>Tổng số đơn hàng</th>
                        <th>Tổng giá trị đơn hàng</th>
                        <th>Nợ cần thu</th>
                        @*<th>Xóa</th>*@
                    </tr>
                    <tr>
                        <th colspan="6" style="text-align:left;">Số khách hàng: {{ metadata.Count }}</th>
                        <th>{{ metadata.TotalOrderImport }}</th>
                        <th>{{ metadata.TotalOrderImportPrice | formatPrice }}</th>
                        <th>{{ (0 - metadata.TotalDebtPrice) | formatPrice }}</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: customer.isExpand}" ng-repeat-start="customer in customers | filter:_search track by $index" ng-click="expandDetail(customer);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ customer.CustomerCode}}</td>
                        <td>{{ customer.CustomerName }}</td>
                        <td>{{ customer.Phone }}</td>
                        <td>{{ customer.Province.Name }}</td>
                        <td>{{ customer.customerGroup.Name }}</td>
                        <td>{{ customer.TotalOrder }}</td>
                        <td>{{ customer.TotalOrderPrice | formatPrice }}</td>
                        <td>{{ (0 - customer.TotalDebt) | formatPrice }}</td>
                        @*<td>
                <button class="btn btn-delete" ng-click="deleteCustomer();"><i class="fa fa-times" aria-hidden="true"></i></button>
            </td>*@
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="customer.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <h1>{{ customer.CustomerName }}</h1>
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Mã khách hàng:</span> 	&nbsp; {{ customer.CustomerCode}}</li>
                                                    <li><span class="txt-left">Địa chỉ :</span>	&nbsp; {{ customer.Address }}</li>
                                                    <li><span class="txt-left">Tỉnh / Thành Phố :</span>	&nbsp; {{ customer.Province.Name }}</li>
                                                    <li><span class="txt-left">Quận / Huyện :</span> 	&nbsp;{{ customer.District.Name }}</li>
                                                    <li><span class="txt-left">Số điện thoại:</span> 	&nbsp;{{ customer.Phone }}</li>
                                                    <li><span class="txt-left">Email :</span>	&nbsp; {{ customer.Email }}</li>
                                                    <li><span class="txt-left">CMND :</span>	&nbsp; {{ customer.ID }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left">Ngày sinh :</span>	&nbsp; {{ customer.DOB | date:'dd/MM/yyyy'}}</li>                                                   
                                                    <li><span class="txt-left">Giới tính :</span>	&nbsp;{{ customer.Gender == true | iif : "Nam" : "Nữ" }}</li>                                                   
                                                    <li><span class="txt-left">Loại khách hàng :</span>	&nbsp; {{ customer.Type == 0 | iif : "Cá nhân" : "Công ty" }}</li>                                                   
                                                    <li><span class="txt-left">Nhóm khách hàng :</span>	&nbsp; {{ customer.customerGroup.Name }}</li>                                                   
                                                    <li><span class="txt-left">Mã số thuế :</span>	&nbsp; {{ customer.TaxID }}</li> 
                                                    <li><span class="txt-left">Link Facebook:</span>	&nbsp;<a ng-show="customer.FacebookUserId" href="https://www.facebook.com/{{ customer.FacebookUserId }}" target="_blank"> https://www.facebook.com/{{ customer.FacebookUserId }} </a></li>        
                                                    <li><span class="txt-left">Ghi chú :</span>	&nbsp; {{ customer.Note }}</li>      
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-success btn-update" ng-click="openEditCustomerDialog(customer);">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="showConfirmDeleteCustomer(customer);">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true"></i> Xóa
                                            </button>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Bán hàng" ng-click="loadOrder(customer,1);">
                                        <div class="table-responsive table-othe">
                                            <div class="table-detail">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Chứng từ</th>
                                                            <th align="left">Loại</th>
                                                            <th align="left">Chi nhánh</th>
                                                            <th align="left">Thời gian</th>
                                                            <th align="right">Giá đơn hàng</th>
                                                            <th align="right">Giá bán</th>
                                                            <th align="right">Trạng thái</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="order in customer.orders">
                                                            <td><a href="#"><b>{{ order.OrderCode }}</a></b></td>
                                                            <td><a href="#">{{ order.Type == 0 | iif : "Bán hàng" : "Trả hàng" }}</a></td>
                                                            <td><a href="#">{{ order.branch.BranchName }}</a></td>
                                                            <td align="left">{{ order.CreatedAt | date:'dd/MM/yyyy HH:mm'}}</td>
                                                            <td align="right">{{ order.OrderPrice | formatPrice }}</td>
                                                            <td align="right">{{ order.TotalPrice | formatPrice }}</td>
                                                            <td align="right">{{ order.OrderStatus == 2 | iif : "Hoàn thành" : "Chưa hoàn thành" }}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                                </div>
                                                <div class="newsdetail-pagging" style="width:100%">
                                                    <ul uib-pagination boundary-links="true" total-items="itemorder_count" ng-model="orderpage" ng-show="itemorder_count" items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadOrder(customer,orderpage);" rotate ="true" max-size="10"></ul>
                                                </div>
                                            </div>
                                    </uib-tab>       
                                    <uib-tab index="2" heading="Công nợ" ng-click="loadCashFlows(customer,1);">
                                        <div class="table-responsive table-othe">
                                            <div class="table-detail">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã phiếu</th>
                                                            <th align="left">Thời gian</th>
                                                            <th align="left">Loại</th>
                                                            <th align="right">Tăng nợ</th>
                                                            <th align="right">Giảm nợ</th>
                                                            <th align="right">Nợ cần thu</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cashflow in customer.cashflows">
                                                            <td><a href="#"><b>{{ cashflow.target.TargetCode }}</a></b></td>
                                                            <td><a href="#">{{ cashflow.CreatedAt | date:'dd/MM/yyyy HH:mm'}}</a></td>
                                                            <td align="left">{{ findType(cashflow.Type) }}</td>
                                                            <td align="right">{{ cashflow.Amount < 0 && (cashflow.Type==0 || cashflow.Type==1) | iif : (0 - cashflow.Amount | formatPrice) : "0" }}</td>
                                                            <td align="right">{{ cashflow.Amount > 0 && (cashflow.Type==0 || cashflow.Type==2)| iif : (cashflow.Amount | formatPrice) :"0" }}</td>
                                                            <td align="right">{{ (0 - cashflow.Debt) | formatPrice }}</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                </div>
                                                <div class="newsdetail-pagging" style="width:100%">
                                                    <ul uib-pagination boundary-links="true" total-items="itemcashflow_count" ng-model="cashflowpage" ng-show="itemcashflow_count" items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadCashFlows(customer,cashflowpage);" rotate ="true" max-size="10"></ul>
                                                </div>
                                                <button type="button" class="btn btn-lock left" ng-click="openCreateCash(customer)">
                                                    <i class="fa fa-sign-out"
                                                       aria-hidden="true"></i> Thanh toán
                                                </button>
                                            </div>
                                    </uib-tab>   
                                    @*<uib-tab index="3" heading="Giao dịch" ng-click="loadCustomerEximsProduct(customer);">
                                        <div class="table-responsive table-othe">
                                            <table class="table">
                                                <thead>
                                                    <tr class="success">
                                                        <th align="left">Mã phiếu</th>
                                                        <th align="left">Thời gian</th>
                                                        <th align="left">Loại giao dịch</th>
                                                        <th align="left">Số lượng hàng</th>
                                                        <th align="right">Giá trị nhập</th>
                                                        <th align="right">Giảm giá</th>
                                                        <th align="right">Tổng thanh toán</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="eximsproduct in customer.eximsproducts">
                                                        <td><a href="#"><b>{{ eximsproduct.Code }}</a></b></td>
                                                        <td><a href="#">{{ eximsproduct.CreatetAt | date:'dd/MM/yyyy hh:mm'}}</a></td>
                                                        <td align="left">{{ eximsproduct.Type }}</td>
                                                        <td align="left">{{ eximsproduct.TotalProduct }}</td>
                                                        <td align="right">{{ eximsproduct.Price | formatPrice }}</td>
                                                        <td align="right">{{ eximsproduct.Discount | formatPrice }}</td>
                                                        <td align="right">{{ eximsproduct.Price - eximsproduct.Discount | formatPrice }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </uib-tab>*@                               
                                </uib-tabset>
                            </div>

                        </td>
                    </tr>
                    <tr class="td-sum hidden">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>898.000</b></td>
                        <td><b>935,000</b></td>
                        <td><b>10</b></td>
                        <td colspan="2" align="right"><b>Tổng chênh lệch:</b></td>
                        <td colspan="2" align="right"><b style="padding-right: 10px">898.000</b></td>
                    </tr>
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
            </div>
        </div>
    </div>
    <div class="modal fade box-popup box-popupB" id="addCustomer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Thêm khách hàng
                    </h4>
                </div>
                <div class="modal-body" ng-form name="frmAddCustomer">
                    <div class="row w100pt loaiKH">
                        <label class="col-form-label">Loại khách hàng:</label>
                        <div class="btn-group btnSelect" role="group">
                            <div class="radio-KH">
                                <input class="magic-radio" type="radio" name="optType" id="canhan" ng-model="newCustomer.Type" ng-required="true" value="0" checked>
                                <label for="canhan">
                                    Cá nhân
                                </label>
                            </div>
                            <div class="radio-KH">
                                <input class="magic-radio" type="radio" name="optType" id="congty" ng-model="newCustomer.Type" value="1" ng-required="true">
                                <label for="congty">
                                    Công ty
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="left-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Mã khách hàng :</label>
                            <input type="text" class="form-control" placeholder="Mã mặc định" ng-model="newCustomer.CustomerCode" disabled="disabled">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Tên khách hàng :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên khách hàng" ng-model="newCustomer.CustomerName" required name="addCustomerName">
                            <span class="err_msg" ng-show="newCustomer.CustomerName == '' || newCustomer.CustomerName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Ngày sinh :</label>
                            <input type="text" class="form-control" readonly placeholder="Nhập ngày sinh" uib-datepicker-popup="{{DOBformat}}" ng-model="newCustomer.DOB" is-open="DOBPopup.opened" datepicker-options="dateOptions" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                            <button class="btCalender" ng-click="openPopupDOB();"><i class="fa fa-calendar"></i></button>
                        </div>
                        <div class="form-group row sex">
                            <label class="col-form-label">Giới tính:</label>
                            <div class="btn-group btnSelect" role="group">
                                <input class="magic-radio" type="radio" name="optGender" ng-model="newCustomer.Gender" id="boy" value="1" checked>
                                <label for="boy">
                                    Nam
                                </label>
                                <input class="magic-radio" type="radio" name="optGender" ng-model="newCustomer.Gender" id="girl" value="0">
                                <label for="girl">
                                    Nữ
                                </label>

                            </div>
                        </div>                                          
                        <div class="form-group row">
                            <label class="col-form-label">Mã số thuế:</label>
                            <input type="text" class="form-control" name="txtTaxID" placeholder="Nhập mã số thuế" ng-model="newCustomer.TaxID" ng-pattern="/^[0-9]*$/">
                            <span class="err_msg" ng-show="frmAddCustomer.txtTaxID.$invalid && !frmAddCustomer.txtTaxID.$pristine">*</span>
                        </div>    
                        <div class="form-group row">
                            <label class="col-form-label">CMND:</label>
                            <input type="text" class="form-control" name="txtID" placeholder="Nhập cmnd" ng-model="newCustomer.ID" ng-pattern="/^[0-9]*$/">
                            <span class="err_msg" ng-show="frmAddCustomer.txtID.$invalid && !frmAddCustomer.txtID.$pristine">*</span>
                        </div>                         
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhóm KH :                                
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlGroup" ng-model="newCustomer.CustomerGroupId" ng-init="newCustomer.CustomerGroupId='1'" >
                                    <option value="1" selected>-- Lựa chọn nhóm khách hàng --</option>
                                    <option ng-repeat="group in customerGroups" value="{{ group.CustomerGroupId }}">{{ group.Name }}</option>
                                </select>                                
                                <button class="plus-btn" data-toggle="modal"
                                        data-target="#groupModal">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" class="form-control" name="txtPhone" placeholder="Nhập số điện thoại" ng-model="newCustomer.Phone" ng-required="true" ng-pattern="/^[0-9]{10,11}$/">
                            <span class="err_msg" ng-show="(frmAddCustomer.txtPhone.$invalid && !frmAddCustomer.txtPhone.$pristine) || newCustomer.Phone == '' || newCustomer.Phone == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Email :</label>
                            <input type="email" name="txtEmail" class="form-control" placeholder="Nhập Email khách hàng" ng-model="newCustomer.Email">
                            <span class="err_msg" ng-show="frmAddCustomer.txtEmail.$invalid && !frmAddCustomer.txtEmail.$pristine">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="newCustomer.Address">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label" style="color: #fff">Quận/Huyện :</label>
                            <div class="btn-group btnSelect left" role="group">
                                <div class="col-lg-6">                                    
                                    <button id="btnGroupDropTP" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ newCustomer.Province.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropTP">
                                        <ul>
                                            <li ng-repeat="province in provinces" ng-click="loadDistricts(province)">
                                                <a href="#" class="dropdown-item">{{ province.Name }}</a>
                                            </li>                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 right">
                                    <button id="btnGroupDropQH" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ newCustomer.District.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropQH">
                                        <ul>
                                            <li ng-repeat="district in districts" ng-click="selectDistrict(district)">
                                                <a href="#" class="dropdown-item">{{ district.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Facebook Id :</label>
                            <input type="text" class="form-control" placeholder="Facebook Id của khách hàng" ng-model="newCustomer.FacebookUserId">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Ghi chú :</label>
                            <textarea type="text" class="form-are" rows="3" ng-model="newCustomer.Note" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelCreate();">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="createCustomer();">
                            <span class="fa fa-save"></span>Lưu & Thêm mới
                        </button>                       
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup cateModal" id="groupModal" tabindex="-1" style="z-index:9999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm nhóm khách hàng</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        <label for="input">Tên nhóm</label>
                        <div>
                            <input type="text" class="form-control" id="txtGroupName" ng-model="createGroupCustomer.GroupName" placeholder="Nhập tên nhóm">
                            <span class="err_msg" ng-show="createGroupCustomer.GroupName == '' || createGroupCustomer.GroupName == undefined">*</span>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="createCustomerGroup();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup box-popupB" id="editCustomer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Cập nhật khách
                        hàng
                    </h4>
                </div>
                <div class="modal-body" ng-form name="frmEditCustomer">
                    <div class="row w100pt loaiKH">
                        <label class="col-form-label">Loại khách hàng:</label>
                        <div class="btn-group btnSelect" role="group">
                            <div class="radio-KH">
                                <input class="magic-radio" type="radio" name="optEditType" id="edit_canhan" ng-model="editCustomer.Type" value="0">
                                <label for="edit_canhan">
                                    Cá nhân
                                </label>
                            </div>
                            <div class="radio-KH">
                                <input class="magic-radio" type="radio" name="optEditType" id="edit_congty" value="1" ng-model="editCustomer.Type">
                                <label for="edit_congty">
                                    Công ty
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="left-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Mã khách hàng :</label>
                            <input type="text" class="form-control" placeholder="Mã mặc định" value="{{ editCustomer.CustomerCode }}" disabled="disabled" >
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Tên khách hàng :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên khách hàng" ng-model="editCustomer.CustomerName" required name="editCustomerName">
                            <span class="err_msg" ng-show="editCustomer.CustomerName == '' || editCustomer.CustomerName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Ngày sinh :</label>
                            <input type="text" class="form-control" readonly placeholder="Nhập ngày sinh" uib-datepicker-popup="{{DOBformat}}" ng-model="editCustomer.DOB" is-open="DOBPopup.opened" datepicker-options="dateOptions" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                            <button class="btCalender" ng-click="openPopupDOB();"><i class="fa fa-calendar"></i></button>
                        </div>
                        <div class="form-group row sex">
                            <label class="col-form-label">Giới tính:</label>
                            <div class="btn-group btnSelect" role="group">
                                <input class="magic-radio" type="radio" name="optEditGender" ng-model="editCustomer.Gender" id="edit_boy" value="1">
                                <label for="edit_boy">
                                    Nam
                                </label>
                                <input class="magic-radio" type="radio" name="optEditGender" ng-model="editCustomer.Gender" id="edit_girl" value="0">
                                <label for="edit_girl">
                                    Nữ
                                </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Mã số thuế:</label>
                            <input type="text" class="form-control" name="txtTaxID" placeholder="Nhập mã số thuế" ng-model="editCustomer.TaxID" ng-pattern="/^[0-9]*$/">
                            <span class="err_msg" ng-show="frmEditCustomer.txtTaxID.$invalid && !frmEditCustomer.txtTaxID.$pristine">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">CMND:</label>
                            <input type="text" class="form-control" name="txtID" placeholder="Nhập cmnd" ng-model="editCustomer.ID" ng-pattern="/^[0-9]*$/">
                            <span class="err_msg" ng-show="frmEditCustomer.txtID.$invalid && !frmEditCustomer.txtID.$pristine">*</span>
                        </div>   
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhóm KH :
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlEditGroup" ng-model="editCustomer.customerGroup.CustomerGroupId">                                
                                    <option value="-1">-- Lựa chọn nhóm khách hàng --</option>
                                    <option ng-repeat=" group in customerGroups" value="{{ group.CustomerGroupId }}">{{ group.Name }}</option>
                                </select>
                                <button class="plus-btn" data-toggle="modal"
                                        data-target="#groupModal">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" class="form-control" name="txtPhone" placeholder="Nhập số điện thoại" ng-model="editCustomer.Phone" ng-required="true" ng-pattern="/^[0-9]{10,11}$/">
                            <span class="err_msg" ng-show="frmEditCustomer.txtPhone.$invalid && !frmEditCustomer.txtPhone.$pristine">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Email :</label>
                            <input type="email" name="txtEmail" class="form-control" placeholder="Nhập Email khách hàng" ng-model="editCustomer.Email">
                            <span class="err_msg" ng-show="frmEditCustomer.txtEmail.$invalid && !frmEditCustomer.txtEmail.$pristine">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="editCustomer.Address">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label" style="color: #fff">Quận/Huyện :</label>
                            <div class="btn-group btnSelect left" role="group">
                                <div class="col-lg-6">
                                    <button id="btnGroupDropTP" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ editCustomer.Province.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropTP">
                                        <ul>
                                            <li ng-repeat="province in provinces" ng-click="loadDistricts(province)">
                                                <a href="#" class="dropdown-item">{{ province.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 right">
                                    <button id="btnGroupDropQH" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ editCustomer.District.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropQH">
                                        <ul>
                                            <li ng-repeat="district in districts" ng-click="selectDistrict(district)">
                                                <a href="#" class="dropdown-item">{{ district.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Facebook Id :</label>
                            <input type="text" class="form-control" placeholder="Facebook Id của khách hàng" ng-model="editCustomer.FacebookUserId">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Ghi chú :</label>
                            <textarea type="text" class="form-are" rows="3" ng-model="editCustomer.Note" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelEdit();">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="updateCustomer();">
                            <span class="fa fa-save"></span>Lưu
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCashIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center box-popupB">
                <div class="modal-content" style="overflow: hidden;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Lập phiếu</h4>
                    </div>
                    <div class="modal-body">
                       
                        <div class="row">
                            <div class="col-md-12 customer-item">
                                <label class="col-form-label col-md-3" style="padding-top: 10px;">Loại phiếu:</label>
                                <div class="btn-group btnSelect col-md-9" role="group">
                                    <div class="radio-KH">
                                        <input class="magic-radio" type="radio" name="optTypeCustomer" id="TypeIn" ng-click="selectCashType(1);" checked="checked">
                                        <label for="TypeIn">
                                            Phiếu thu
                                        </label>
                                    </div>
                                    <div class="radio-KH">
                                        <input class="magic-radio" type="radio" name="optTypeCustomer" id="TypeOut" ng-click="selectCashType(0);">
                                        <label for="TypeOut">
                                            Phiếu chi
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Mã phiếu {{ newCashIn.CashTypeName }}</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Mã mặc định" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Loại {{ newCashIn.CashTypeName }} </div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlGroup" ng-model="newCashIn.CashTypeId" ng-init="newCashIn.CashTypeId = '-1'">
                                            <option value="-1">-- Lựa chọn loại {{ newCashIn.CashTypeName }} --</option>
                                            <option ng-repeat=" cashType in cashTypes" value="{{ cashType.CashTypeId }}">{{ cashType.Name }}</option>
                                        </select>
                                        <button class="plus-btn" data-toggle="modal" data-target="#addCashType">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>                   
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Người nộp</div>
                                <div class="col-md-9">
                                    <p style="color:red;font-weight:bold;"> {{ newCashIn.TargetName }} </p>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Phiếu liên quan : </div>
                                <div class="col-md-9">
                                    <div class="col-md-9">
                                        <p style="font-weight:bold;"> {{ newCashIn.TargetTypeName }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Giá trị</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Giá trị" class="form-control" ng-model="newCashIn.PaidAmount" ng-required format="displayprice">
                                    <span style="right:0px;top:10px;" class="err_msg" ng-show="newCashIn.PaidAmount == '' || newCashIn.PaidAmount == undefined || newCashIn.PaidAmount == 0">*</span>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Ghi chú</div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" ng-model="newCashIn.Note" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer left w100pt">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-ban"></span>Hủy</button>
                            <button type="button" class="btn btn-success" ng-click="createCash();"><span class="fa fa-save"></span>Lưu &amp; Thêm mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup cateModal" id="addCashType" tabindex="-1" style="z-index:9999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm loại phiếu</h4>
                </div>
                <div class="modal-body">
                    <div class="row w100pt loaiKH">
                        <label class="col-form-label">Loại phiếu:</label>
                        <div class="btn-group btnSelect" role="group">
                            <div class="radio-KH">
                                <input class="magic-radio" type="radio" name="optType" id="phieuthu" ng-model="newCashType.Type" ng-init="newCashType.Type = '1'" ng-required="true" value="1" checked>
                                <label for="phieuthu">
                                    Phiếu thu
                                </label>
                            </div>
                            <div class="radio-KH">
                                <input class="magic-radio" type="radio" name="optType" id="phieuchi" ng-model="newCashType.Type" value="0" ng-required="true">
                                <label for="phieuchi">
                                    Phiếu chi
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label for="input">Mã phiếu</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newCashType.CashTypeCode" placeholder="Mã phiếu (VD : PTA, PTB..)">
                            <span class="err_msg" ng-show="newCashType.CashTypeCode == '' || newCashType.CashTypeCode == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label for="input">Tên loại phiếu</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newCashType.Name" placeholder="Nhập tên phiếu">
                            <span class="err_msg" ng-show="newCashType.Name == '' || newCashType.Name == undefined">*</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="createCashType();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>