﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý công nợ";
}

<div ng-controller="DebtController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý công nợ </h2>
                    <a href="#" class="hidden" ng-click="openCreateVendorDialog();"><i class="fa fa-plus" aria-hidden="true"></i> Thêm phiếu thu/chi</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
            </div>
        </div> 
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.type" ng-init="q.type = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Loại phiếu</option>
                        <option value="1">Phiếu thu</option>
                        <option value="0">Phiếu chi</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" readonly placeholder="Ngày bắt đầu" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.StartDate" is-open="DatePopup.startDate" datepicker-options="dateOptions" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                    <button class="btCalender" ng-click="openDatePopup(0);" style="top:6px;right:20px;"><i class="fa fa-calendar"></i></button>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" readonly placeholder="Ngày kết thúc" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.EndDate" is-open="DatePopup.endDate" datepicker-options="dateOptions" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                    <button class="btCalender" ng-click="openDatePopup(1);" style="top:6px;right:20px;"><i class="fa fa-calendar"></i></button>
                </div>
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>      
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Loại phiếu</th>                       
                        <th>Thời gian</th>                       
                        <th>Người nộp / nhận</th>
                        <th>Giá trị</th>
                        <th>Đã nộp / nhận</th>
                        <th>Còn nợ</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: cash.isExpand}" ng-repeat-start=" cash in cashes" ng-click="expandDetail(cash);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ getDebtType(cash) }}</td>
                        <td>{{ cash.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                        <td>{{ cash.paidTarget.TargetName }}</td>
                        <td>{{ cash.Total | formatPrice }}</td>
                        <td>{{ cash.PaidAmount | formatPrice }}</td>
                        <td>{{ (cash.Total - cash.PaidAmount) | formatPrice }}</td>
                    </tr>                   
                    <tr class="t-content" ng-repeat-end ng-show="cash.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <div class="info-product-right left">                                 
                                    <div class="col-lg-6 info-product-tt">
                                        <ul>
                                            <li><span class="txt-left">Mã phiếu:</span> {{ cash.CashCode}}</li>
                                            <li><span class="txt-left">Thời gian :</span> {{ cash.CreatedAt | date : "dd/MM/yyyy" }}</li>
                                                 
                                            <li><span class="txt-left">Người tạo :</span> {{ cash.employee.EmployeeName }}</li>
                                            <li><span class="txt-left">{{ cash.cashType.Type == 0 | iif : "Người nhận" : "Người nộp" }} :</span>{{ cash.paidTarget.TargetName }}</li>                                 
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 info-product-tt last">
                                        <ul>
                                            <li><span class="txt-left">Giá trị :</span> {{  cash.PaidAmount | formatPrice }}</li>    
                                            <li><span class="txt-left">Đã nộp / nhận :</span> {{  cash.PaidAmount | formatPrice }}</li>    
                                            <li><span class="txt-left">Còn nợ :</span> {{ (cash.Total - cash.PaidAmount) | formatPrice }}</li>    
                                            <li><span class="txt-left">Loại thu chi :</span> {{ cash.cashType.Name }}</li>                 
                                            <li style="border-bottom:0;"><span class="txt-left">Ghi chú :</span> {{ cash.Note }}</li> 
                                        </ul>                                       
                                    </div>                                   
                                    <div class="clearfix"></div>
                                    <button type="button" class="btn btn-success btn-update">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Mở phiếu
                                    </button>                                   
                                </div>
                            </div>
                        </td>
                    </tr> 
                    <tr class="td-sum">
                        <td colspan="4" align="right"><b>Tổng số</b></td>
                        <td><b>{{ metadata.Total | formatPrice }}</b></td>
                        <td><b>{{ metadata.TotalPaid | formatPrice }}</b></td>
                        <td><b>{{ (metadata.Total - metadata.TotalPaid) | formatPrice }}</b></td>
                    </tr>                   
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()"></ul>
            </div>
        </div>
    </div>
</div>