﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý nhà cung cấp vận chuyển";
}

<style>
    .tabsdemoDynamicHeight md-content {
        background-color: transparent !important;
    }

        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

            .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white;
            }

        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }
</style>

<div ng-controller="DeliveryVendorController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý nhà cung cấp dịch vụ vận chuyển</h2>
                    <a href="#" class="addPro" ng-click="openCreateDeliveryVendorDialog();"><i class="fa fa-plus" aria-hidden="true"></i> Thêm nhà cung cấp dịch vụ vận chuyển</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
                <div class="boxSearch right col-sm-3 hidden">
                    <form class="form-inline">
                        <div class="form-group form-control">
                            <input type="email" class="" id="exampleInputEmail3" placeholder="Tìm kiếm thông tin">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.province" ng-init="q.province = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Thành phố</option>
                        <option ng-repeat="province in provinces" value="{{ province.ProvinceId }}">{{ province.Name }}</option>
                    </select>
                </div>
                @*<div class="col-sm-2">
                        <select class="form-control" ng-model="o.totaldebt" ng-init="o.totaldebt = '0'" ng-change="onOrderChange()">
                            <option value="0">Sắp xếp theo tổng số nợ</option>
                            <option value="1">Tổng số nợ giảm dần</option>
                            <option value="-1">Tổng số nợ tăng dần</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="o.totalpaid" ng-init="o.totalpaid = '0'" ng-change="onOrderChange()">
                            <option value="0">Sắp xếp theo tổng số thanh toán</option>
                            <option value="1">Tổng số thanh toán giảm dần</option>
                            <option value="-1">Tổng số thanh toán tăng dần</option>
                        </select>
                    </div>*@
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Tên nhà cung cấp</th>
                        <th>Số điện thoại</th>
                        <th>Tỉnh / Thành Phố</th>
                        <th>Quận / Huyện</th>
                        <th>Tổng số nợ</th>
                        <th>Tổng đã thanh toán</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: vendor.isExpand}" ng-repeat-start=" vendor in vendors" ng-click="expandDetail(vendor);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ vendor.VendorCode}}</td>
                        <td>{{ vendor.VendorName }}</td>
                        <td>{{ vendor.Phone }}</td>
                        <td>{{ vendor.Province.Name }}</td>
                        <td>{{ vendor.District.Name }}</td>
                        <td>{{ vendor.TotalDebt }}</td>
                        <td>{{ vendor.TotalPaid }}</td>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="vendor.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <h1>{{ vendor.VendorName }}</h1>
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Mã khách hàng:</span> {{ vendor.VendorCode}}</li>
                                                    <li><span class="txt-left">Địa chỉ :</span> {{ vendor.Address }}</li>
                                                    <li><span class="txt-left">Tỉnh / Thành Phố :</span> {{ vendor.Province.Name }}</li>
                                                    <li><span class="txt-left">Quận / Huyện :</span> {{ vendor.District.Name }}</li>
                                                    <li><span class="txt-left">Số điện thoại:</span> {{ vendor.Phone }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left">Tổng số nợ :</span> {{ vendor.TotalDebt }}</li>
                                                    <li><span class="txt-left">Tổng đã thanh toán :</span> &nbsp; {{ vendor.TotalDebt }}</li>
                                                    <li><span class="txt-left">Ghi chú :</span> {{ vendor.Note }}</li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-success btn-update" ng-click="openEditDeliveryVendorDialog(vendor);">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="showConfirmDeleteDeliveryVendor(vendor);">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true"></i> Xóa
                                            </button>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Công nợ" ng-click="loadVendorCashes(vendor,1);">
                                        <div class="table-responsive table-othe">
                                            <div class="table-detail">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã phiếu</th>
                                                            <th align="left">Người bán</th>
                                                            <th align="left">Phương thức</th>
                                                            <th align="right">Tiền đã trả</th>
                                                            <th align="right">Tổng tiền</th>
                                                            <th align="right">Trạng thái</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cash in vendor.cashes">
                                                            <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                                            <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                                            <td align="left">{{ findMethod(cash) }}</td>
                                                            <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                                            <td align="right">{{ cash.Total | formatPrice }}</td>
                                                            <td align="right">{{ findPaymentStatus(cash) }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="newsdetail-pagging" style="width:100%">
                                                <ul uib-pagination boundary-links="true" total-items="itemVendorCashes_count" ng-model="VendorCashespage" ng-show="itemVendorCashes_count" items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadVendorCashes(vendor,VendorCashespage);" rotate ="true" max-size="10"></ul>
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="news-pagging">
                    <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup box-popupB" id="addDeliveryVendor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>Thêm nhà cung cấp dịch vụ vận chuyển
                    </h4>
                </div>
                <div class="modal-body" ng-form name="frmAddDeliveryVendor">
                    <div class="left-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Mã nhà cung cấp :</label>
                            <input type="text" class="form-control" placeholder="Mã mặc định" ng-model="newDeliveryVendor.VendorCode" disabled="disabled">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Tên nhà cung cấp :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên nhà cung cấp" ng-model="newDeliveryVendor.VendorName" required name="DeliveryName">
                            <span class="err_msg" ng-show="newDeliveryVendor.VendorName == '' || newDeliveryVendor.VendorName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" name="txtPhone" class="form-control" placeholder="Nhập số điện thoại" ng-model="newDeliveryVendor.Phone" ng-pattern="/^[0-9]{10,11}$/" required>
                            <span class="err_msg" ng-show="(frmAddDeliveryVendor.txtPhone.$invalid && !frmAddDeliveryVendor.txtPhone.$pristine) || newDeliveryVendor.Phone == '' || newDeliveryVendor.Phone == undefined">*</span>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="newDeliveryVendor.Address">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label" style="color: #fff">Quận/Huyện :</label>
                            <div class="btn-group btnSelect left" role="group">
                                <div class="col-lg-6">
                                    <button id="btnGroupDropTP" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ newDeliveryVendor.Province.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropTP">
                                        <ul>
                                            <li ng-repeat="province in provinces" ng-click="loadDistricts(province)">
                                                <a href="#" class="dropdown-item">{{ province.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 right">
                                    <button id="btnGroupDropQH" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ newDeliveryVendor.District.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropQH">
                                        <ul>
                                            <li ng-repeat="district in districts" ng-click="selectDistrict(district)">
                                                <a href="#" class="dropdown-item">{{ district.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Ghi chú :</label>
                            <textarea class="form-are" rows="5" ng-model="newDeliveryVendor.Note" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelCreate();">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="createDeliveryVendor();">
                            <span class="fa fa-save"></span>Lưu & Thêm mới
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup box-popupB" id="editDeliveryVendor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Cập nhật nhà cung cấp dịch vụ vận chuyển
                    </h4>
                </div>
                <div class="modal-body" ng-form name="frmEditDeliveryVendor">
                    <div class="left-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Mã nhà cung cấp :</label>
                            <input type="text" class="form-control" placeholder="Mã mặc định" ng-model="editDeliveryVendor.VendorCode" disabled="disabled">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Tên nhà cung cấp :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên nhà cung cấp" ng-model="editDeliveryVendor.VendorName" required name="DeliveryName">
                            <span class="err_msg" ng-show="editDeliveryVendor.VendorName == '' || editDeliveryVendor.VendorName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" name="txtPhone" class="form-control" placeholder="Nhập số điện thoại" ng-model="editDeliveryVendor.Phone" ng-pattern="/^[0-9]{10,11}$/" required>
                            <span class="err_msg" ng-show="editDeliveryVendor.txtPhone.$invalid && !editDeliveryVendor.txtPhone.$pristine || editDeliveryVendor.Phone == '' || editDeliveryVendor.Phone == undefined">*</span>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="editDeliveryVendor.Address">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label" style="color: #fff">Quận/Huyện :</label>
                            <div class="btn-group btnSelect left" role="group">
                                <div class="col-lg-6">
                                    <button id="btnGroupDropTP" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ editDeliveryVendor.Province.Name }}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropTP">
                                        <ul>
                                            <li ng-repeat="province in provinces" ng-click="loadDistricts(province)">
                                                <a href="#" class="dropdown-item">{{ province.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 right">
                                    <button id="btnGroupDropQH" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ editDeliveryVendor.District.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropQH">
                                        <ul>
                                            <li ng-repeat="district in districts" ng-click="selectDistrict(district)">
                                                <a href="#" class="dropdown-item">{{ district.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Ghi chú :</label>
                            <textarea type="text" class="form-are" rows="5" ng-model="editDeliveryVendor.Note" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="updateDeliveryVendor();">
                            <span class="fa fa-save"></span>Cập nhật
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>