﻿
@{
    ViewBag.Title = "FB.SALE - Chi tiết hoạt động";
    Layout = "~/Views/Shared/_HomeShared.cshtml";
}

<style>
    .tabsdemoDynamicHeight md-content {
        background-color: transparent !important;
    }

        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

            .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white;
            }

        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }
        h1 {
        margin-top: 20px !important;
    }
</style>

<div ng-controller="DetailActionController" ng-init="detailaction.type='@ViewBag.TypeAction';detailaction.id=@ViewBag.DetailActionId; init();">
    <div class="breadcrumb-main left w100pt">
        <div class="row">
            <div class="col-sm-9">
                <h2><i class="fa fa-th" aria-hidden="true"></i> Chi tiết hoạt động </h2>
            </div>
            <div class="boxSearch right col-sm-3 hidden">
            </div>
        </div>
    </div>
    @*khách hàng*@
    <div ng-model="customer">
        <div class="table-list w100pt left" ng-show="customer.show">
            <div class="actionCustomer">
                <div class="left w100pt info-product">
                    <!-- Nav tabs -->
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Khách hàng">
                            <div class="info-product-right left">
                                <h1>{{ customer.CustomerName }}</h1>
                                <div class="col-lg-6 info-product-tt">
                                    <ul>
                                        <li><span class="txt-left">Mã khách hàng:</span> 	&nbsp; {{ customer.CustomerCode}}</li>
                                        <li><span class="txt-left">Địa chỉ :</span>	&nbsp; {{ customer.Address }}</li>
                                        <li><span class="txt-left">Tỉnh / Thành Phố :</span>	&nbsp; {{ customer.Province.Name }}</li>
                                        <li><span class="txt-left">Quận / Huyện :</span> 	&nbsp;{{ customer.District.Name }}</li>
                                        <li><span class="txt-left">Số điện thoại:</span> 	&nbsp;{{ customer.Phone }}</li>
                                        <li><span class="txt-left">Email :</span>	&nbsp; {{ customer.Email }}</li>
                                        <li><span class="txt-left">CMND :</span>	&nbsp; {{ customer.ID }}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 info-product-tt last">
                                    <ul>
                                        <li><span class="txt-left">Ngày sinh :</span>	&nbsp; {{ customer.DOB | date:'dd/MM/yyyy'}}</li>
                                        <li><span class="txt-left">Giới tính :</span>	&nbsp;{{ customer.Gender == true | iif : "Nam" : "Nữ" }}</li>
                                        <li><span class="txt-left">Loại khách hàng :</span>	&nbsp; {{ customer.Type == 0 | iif : "Cá nhân" : "Công ty" }}</li>
                                        <li><span class="txt-left">Nhóm khách hàng :</span>	&nbsp; {{ customer.customerGroup.Name }}</li>
                                        <li><span class="txt-left">Mã số thuế :</span>	&nbsp; {{ customer.TaxID }}</li>
                                        <li><span class="txt-left">Link Facebook:</span>	&nbsp;<a ng-show="customer.FacebookUserId" href="https://www.facebook.com/{{ customer.FacebookUserId }}" target="_blank"> https://www.facebook.com/{{ customer.FacebookUserId }} </a></li>
                                        <li><span class="txt-left">Ghi chú :</span>	&nbsp; {{ customer.Note }}</li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </uib-tab>


                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    @*Action Nhap hang*@
    <div ng-model="eximaction" ng-show="exim.show" class="importaction">
        <div class="table-list w100pt left">
            <div class="left w100pt info-product">
                <!-- Nav tabs -->
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Nhập hàng">
                        <div class="info-product-right left">
                            <div class="col-lg-6 info-product-tt">
                                <ul>
                                    <li><span class="txt-left">Mã phiếu :&nbsp; </span> {{ exim.Code }}</li>
                                    <li><span class="txt-left">Loại phiếu :&nbsp; </span> {{ exim.Type == 0 | iif : "Phiếu nhập" : "Phiếu xuất" }}</li>
                                    <li><span class="txt-left">Giá trị đơn hàng :&nbsp; </span> {{ exim.Price | formatPrice }}</li>
                                    <li><span class="txt-left">Giảm giá :&nbsp; </span> {{ exim.Discount | formatPrice }}</li>
                                    <li><span class="txt-left">Tiền cần trả nhà cung cấp : &nbsp;</span> {{ exim.TotalPrice | formatPrice }}</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 info-product-tt last">
                                <ul>
                                    <li><span class="txt-left" style="min-width:150px;">Chi nhánh nhập :&nbsp; </span> <p> {{ exim.branch.BranchName }} </p></li>
                                    <li><span class="txt-left" style="min-width:150px;">Đối tác nhập hàng :&nbsp; </span><p> {{ exim.target.TargetName }} </p></li>
                                    <li><span class="txt-left" style="min-width:150px;">Nhân viên tạo phiếu :&nbsp; </span> {{ exim.employee.EmployeeName }}</li>
                                    <li><span class="txt-left" style="min-width:150px;">Ngày tạo :&nbsp; </span> {{ exim.CreatetAt | date:'dd/MM/yyyy HH:mm'}}</li>
                                    <li><span class="txt-left" style="min-width:150px;">Trạng thái : &nbsp; </span> {{ exim.Status == 10 | iif : "Phiếu tạm" : "Đã nhập hàng"  }}</li>
                                </ul>
                            </div>
                            <div class="table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Tên hàng hóa</th>
                                            <th align="left">Số lượng</th>
                                            <th align="right">Tồn cuối</th>
                                            <th align="right">Đơn giá</th>
                                            <th align="right">Giảm giá trên sản phẩm</th>
                                            <th align="right">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in exim.products">
                                            <td><a href="#">{{ product.ProductName }}<br />{{ product.SubName }}</a></b></td>
                                            <td align="left">{{ product.Quantity }}</td>
                                            <td align="right">{{ product.PreviousStock + " > " + product.LastStock }}</td>
                                            <td align="right">{{ product.Price | formatPrice }}</td>
                                            <td align="right">{{ product.DiscountPerItem | formatPrice }}</td>
                                            <td align="right">{{ ((product.Price - product.DiscountPerItem) * product.Quantity) | formatPrice }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td align="right">Tổng số mặt hàng</td>
                                            <td align="right">{{ exim.products.length }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td align="right">Tổng tiền nhập hàng</td>
                                            <td align="right">{{ exim.Price | formatPrice }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td align="right">Giảm giá nhập hàng</td>
                                            <td align="right">{{ exim.Discount | formatPrice }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td align="right">Tổng tiền đã trả nhà cung cấp</td>
                                            <td align="right">{{ exim.CustomerPaid | formatPrice }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td align="right">Tổng tiền trả hàng nhập</td>
                                            <td align="right">{{ exim.ReturnPaid | formatPrice }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td align="right">Tổng tiền cần trả nhà cung cấp</td>
                                            <td align="right">{{ exim.Price - exim.Discount - exim.CustomerPaid - exim.ReturnPaid | formatPrice }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>

                            <div class="clearfix"></div>
                        </div>
                    </uib-tab>
                    @*<uib-tab index="1" heading="Lịch sử thanh toán" ng-click="loadCashes(exim);">
                            <div class="table-responsive table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Mã phiếu</th>
                                            <th align="left">Người bán</th>
                                            <th align="left">Phương thức</th>
                                            <th align="right">Tiền đã trả</th>
                                            <th align="right">Tổng tiền</th>
                                            <th align="right">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cash in exim.cashes">
                                            <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                            <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                            <td align="left">{{ findMethod(cash) }}</td>
                                            <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                            <td align="right">{{ cash.Total | formatPrice }}</td>
                                            <td align="right">{{ findPaymentStatus(cash.PaymentStatus) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>*@
                </uib-tabset>
            </div>
        </div>
    </div>


    @*Cập nhật Trả hàng*@
    <div ng-model="return" ng-show="return.show" class="importaction">

        <div class="left w100pt info-product">
            <!-- Nav tabs -->
            <uib-tabset active="active">
                <uib-tab index="0" heading="Trả hàng">
                    <div class="info-product-right left">
                        <div class="col-lg-6 info-product-tt">
                            <ul>
                                <li><span class="txt-left">Mã phiếu:</span> {{ return.Code}}</li>
                                <li><span class="txt-left">Thời gian :</span> {{ return.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</li>
                                <li><span class="txt-left">Khách hàng :</span> <p>{{  return.customer.CustomerName }}</p></li>
                                <li style="border-bottom:0;"><span class="txt-left">Ghi chú :</span> <textarea ng-model="return.Note"></textarea></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 info-product-tt last">
                            <ul>
                                <li><span class="txt-left">Nhân viên :</span>{{ return.employee.EmployeeName }}</li>
                                <li><span class="txt-left">Chi nhánh :</span> <p>{{ return.branch.BranchName }}</p></li>
                                <li><span class="txt-left">Trạng thái :</span> {{ return.Status == 2 | iif : "Hoàn thành" : "Chưa hoàn thành"  }}</li>
                            </ul>
                        </div>
                        <div class="table-othe">
                            <table class="table">
                                <thead>
                                    <tr class="success">
                                        <th align="left">Mã hàng hóa</th>
                                        <th align="left">Tên hàng hóa</th>
                                        <th align="left">Đơn vị</th>
                                        <th align="left">Đơn giá</th>
                                        <th align="left">Số lượng</th>
                                        <th align="right">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in return.products">
                                        <td align="left">{{ product.ProductCode }}</td>
                                        <td><a href="#"><b>{{ product.ProductName }}<br />{{ product.SubName }}</a></b></td>
                                        <td><a href="#">{{ product.unit.Name }}</a></td>
                                        <td align="right">{{ product.Price | formatPrice }}</td>
                                        <td align="right">{{ product.Quantity }}</td>
                                        <td align="right">{{ product.TotalPrice | formatPrice }}</td>
                                    </tr>

                                    <tr class="sum-bill-price">
                                        <td align="right" colspan="5">Tổng tiền hàng:</td>
                                        <td align="right"><b>{{  return.Price | formatPrice }}</b></td>
                                    </tr>
                                    <tr class="sum-bill-price">
                                        <td align="right" colspan="5">Phí:</td>
                                        <td align="right">{{  return.Fee | formatPrice }}</td>
                                    </tr>
                                    <tr class="sum-bill-price">
                                        <td align="right" colspan="5">Tổng tiền cần trả:</td>
                                        <td align="right">{{  return.TotalPrice | formatPrice }}</td>
                                    </tr>
                                    <tr class="sum-bill-price">
                                        <td align="right" colspan="5">Tổng tiền đã trả:</td>
                                        <td align="right">{{  return.Paid | formatPrice }}</td>
                                    </tr>
                                    <tr class="sum-bill-price">
                                        <td align="right" colspan="5">Tổng tiền còn nợ:</td>
                                        <td align="right">{{  (return.TotalPrice - return.Paid) | formatPrice }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </uib-tab>
                @*<uib-tab index="1" heading="Lịch sử thanh toán" ng-click="loadCashes(return);">
                        <div class="table-responsive table-othe">
                            <table class="table">
                                <thead>
                                    <tr class="success">
                                        <th align="left">Mã phiếu</th>
                                        <th align="left">Người nhận</th>
                                        <th align="left">Phương thức</th>
                                        <th align="right">Tiền đã trả</th>
                                        <th align="right">Tổng tiền</th>
                                        <th align="right">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cash in return.cashes">
                                        <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                        <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                        <td align="left">{{ findMethod(cash) }}</td>
                                        <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                        <td align="right">{{ cash.Total | formatPrice }}</td>
                                        <td align="right">{{ findPaymentStatus(cash.PaymentStatus) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>*@
            </uib-tabset>
        </div>
    </div>



    @*Trả hàng nhập*@
    <div ng-model="import_return">
        <div class="table-list w100pt left" ng-show="import_return.show">
            <div class="left w100pt info-product">
                <!-- Nav tabs -->
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Trả hàng nhập">
                        <div class="info-product-right left">
                            <div class="col-lg-6 info-product-tt">
                                <ul>
                                    <li><span class="txt-left">Mã phiếu:</span> {{ import_return.Code}}</li>
                                    <li><span class="txt-left">Thời gian :</span> {{ import_return.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</li>
                                    <li><span class="txt-left">Nhà cung cấp :</span> {{  import_return.vendor.VendorName }}</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 info-product-tt last">
                                <ul>
                                    <li><span class="txt-left">Nhân viên :</span>{{ import_return.employee.EmployeeName }}</li>
                                    <li><span class="txt-left">Chi nhánh :</span><p>{{ import_return.branch.BranchName }}</p></li>
                                    <li><span class="txt-left">Trạng thái :</span> {{ import_return.Status == 2 | iif : "Hoàn thành" : "Chưa hoàn thành"  }}</li>
                                </ul>
                            </div>
                            <div class="table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Mã hàng hóa</th>
                                            <th align="left">Tên hàng hóa</th>
                                            <th align="left">Giá trả hàng</th>
                                            <th align="left">Số lượng</th>
                                            <th align="right">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in import_return.products">
                                            <td align="left">{{ product.ProductCode }}</td>
                                            <td><a href="#"><b>{{ product.ProductName }}<br />{{ product.SubName }}</a></b></td>
                                            <td align="right">{{ product.Price | formatPrice }}</td>
                                            <td align="right">{{ product.Quantity }}</td>
                                            <td align="right">{{ (product.Price * product.Quantity) | formatPrice }}</td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="4">Tổng tiền hàng:</td>
                                            <td align="right"><b>{{  import_return.TotalPrice | formatPrice }}</b></td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="4">Tiền NCC trả:</td>
                                            <td align="right">{{  import_return.PaidAmount | formatPrice }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    @*<uib-tab index="1" heading="Lịch sử thanh toán" ng-click="loadCashes(return);">
                            <div class="table-responsive table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Mã phiếu</th>
                                            <th align="left">Người nhận</th>
                                            <th align="left">Phương thức</th>
                                            <th align="right">Tiền đã trả</th>
                                            <th align="right">Tổng tiền</th>
                                            <th align="right">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cash in return.cashes">
                                            <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                            <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                            <td align="left">{{ findMethod(cash) }}</td>
                                            <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                            <td align="right">{{ cash.Total | formatPrice }}</td>
                                            <td align="right">{{ findPaymentStatus(cash.PaymentStatus) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>*@
                </uib-tabset>
            </div>
        </div>
    </div>


    @*Bán hàng*@
    <div ng-model="order">
        <div class="table-list w100pt left" ng-show="order.show">
            <div class="left w100pt info-product">
                <!-- Nav tabs -->
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Đơn hàng">
                        <div class="info-product-right left">
                            <div class="col-lg-6 info-product-tt">
                                <ul>
                                    <li><span class="txt-left">Mã phiếu:</span> {{ order.OrderCode}}</li>
                                    <li><span class="txt-left">Thời gian :</span> {{ order.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</li>
                                    <li><span class="txt-left">Khách hàng :</span><p> {{  order.customer.CustomerName }}</p></li>
                                    <li style="border-bottom:0;"><span class="txt-left">Ghi chú :</span> <textarea ng-model="order.Note" rows="3" style="width:100%;"></textarea></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 info-product-tt last">
                                <ul>
                                    <li><span class="txt-left" style="min-width:155px;">Người bán :</span><p>{{ order.saleEmployee.EmployeeName }}</p></li>
                                    <li><span class="txt-left" style="min-width:155px;">Người lập phiếu :</span> <p> {{ order.employee.EmployeeName }}</p></li>
                                    <li><span class="txt-left" style="min-width:155px;">Chi nhánh :</span><p>{{ order.branch.BranchName }}</p></li>
                                    <li><span class="txt-left" style="min-width:155px;">Trạng thái đơn hàng :</span> {{ order.OrderStatusname}}</li>
                                    <li>
                                        <span class="txt-left" style="min-width:155px;">Trạng thái vận chuyển :</span>
                                        <select style="width:50%;" class="form-control" id="ddlDeliveryStatus" ng-model="order.NewDeliveryStatus" ng-init="order.DeliveryStatus">
                                            <option value="4">Đang giao hàng</option>
                                            <option value="2">Đã giao hàng</option>
                                            <option value="3">Không giao được hàng</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                            <div class="table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Mã hàng hóa</th>
                                            <th align="left">Tên hàng hóa</th>
                                            <th align="left">Đơn vị</th>
                                            <th align="left">Đơn giá</th>
                                            <th align="left">Số lượng</th>
                                            <th align="right">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in order.products">
                                            <td align="left">{{ product.ProductCode }}</td>
                                            <td><a href="#"><b>{{ product.ProductName }}<br />{{ product.SubName }}</a></b></td>
                                            <td><a href="#">{{ product.unit.Name }}</a></td>
                                            <td align="right">{{ product.Price | formatPrice }}</td>
                                            <td align="right">{{ product.Quantity }}</td>
                                            <td align="right">{{ product.TotalPrice | formatPrice }}</td>
                                        </tr>

                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="5">Tổng tiền hàng:</td>
                                            <td align="right"><b>{{  order.OrderPrice | formatPrice }}</b></td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="5">Giảm giá hóa đơn:</td>
                                            <td align="right">{{  order.Discount | formatPrice }}</td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="5">Chi phí vận chuyển:</td>
                                            <td align="right">{{  order.DeliveryPrice | formatPrice }}</td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="5">Khách phải thanh toán:</td>
                                            <td align="right">{{  order.TotalPrice | formatPrice }}</td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="5">Khách đã thanh toán:</td>
                                            <td align="right">{{  order.CustomerPaid | formatPrice }}</td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="5">Khách thanh toán tiếp:</td>
                                            <td align="right">{{ (order.CashesPaid > order.CustomerPaid | iif : (order.CashesPaid - order.CustomerPaid) : (order.CustomerPaid - order.CashesPaid)) | formatPrice }}</td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="5">Tổng tiển khách trả hàng:</td>
                                            <td align="right">{{  order.ReturnPaid | formatPrice }}</td>
                                        </tr>
                                        <tr class="sum-bill-price">
                                            <td align="right" colspan="5">Dư nợ đơn hàng:</td>
                                            <td align="right">{{  (order.TotalPrice - order.CashesPaid - order.ReturnPaid) | formatPrice }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </uib-tab>

                    @*<uib-tab index="1" heading="Lịch sử thanh toán" ng-click="loadOrderCashes(order);">
                            <div class="table-responsive table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Mã phiếu</th>
                                            <th align="left">Người bán</th>
                                            <th align="left">Phương thức</th>
                                            <th align="right">Tiền đã trả</th>
                                            <th align="right">Tổng tiền</th>
                                            <th align="right">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cash in order.cashes">
                                            <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                            <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                            <td align="left">{{ findMethod(cash) }}</td>
                                            <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                            <td align="right">{{ cash.Total | formatPrice }}</td>
                                            <td align="right">{{ findPaymentStatus(cash.PaymentStatus) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>*@
                </uib-tabset>
            </div>

        </div>
    </div>


    @*nhà cung cấp*@
    <div ng-model="vendor">
        <div class="table-list w100pt left" ng-show="vendor.show">
            <div class="actionCustomer">
                <div class="left w100pt info-product">
                    <!-- Nav tabs -->
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Nhà cung cấp">
                            <div class="info-product-right left">
                                <h1>{{ vendor.VendorName }}</h1>
                                <div class="col-lg-6 info-product-tt">
                                    <ul>
                                        <li><span class="txt-left">Mã khách hàng :</span> {{ vendor.VendorCode}}</li>
                                        <li><span class="txt-left">Đỉa chỉ :</span> {{ vendor.Address }}</li>
                                        <li><span class="txt-left">Tỉnh / Thành Phố :</span> {{ vendor.Province.Name }}</li>
                                        <li><span class="txt-left">Quận / Huyện :</span> {{ vendor.District.Name }}</li>
                                        <li><span class="txt-left">Số điện thoại :</span> {{ vendor.Phone }}</li>
                                        <li><span class="txt-left">Email :</span> {{ vendor.Email }}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 info-product-tt last">
                                    <ul>
                                        <li><span class="txt-left">Số đơn hàng :</span> {{ vendor.TotalOrder }}</li>
                                        <li><span class="txt-left">Tổng giá trị đơn hàng : &nbsp;</span> {{ vendor.TotalOrderPrice }}</li>
                                        <li><span class="txt-left">Đã thanh toán :</span> {{ vendor.TotalPaid }}</li>
                                        <li><span class="txt-left">Ghi chú :</span> {{ vendor.Note }}</li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </uib-tab>
                        @*<uib-tab index="1" heading="Hàng Hóa" ng-click="loadVendorEximsProduct(vendor);">
                                <div class="table-responsive table-othe">
                                    <table class="table">
                                        <thead>
                                            <tr class="success">
                                                <th align="left">Mã phiếu</th>
                                                <th align="left">Thời gian</th>
                                                <th align="left">Số lượng hàng</th>
                                                <th align="right">Giá trị nhập</th>
                                                <th align="right">Giảm giá</th>
                                                <th align="right">Tổng cần thanh toán</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="exim in vendor.eximsproducts">
                                                <td><a href="#"><b>{{ exim.Code }}</b></a></td>
                                                <td><a href="#">{{ exim.CreatetAt | date:'dd/MM/yyyy HH:mm' }}</a></td>
                                                <td>{{ exim.TotalProduct }}</td>
                                                <td>{{ exim.Price | formatPrice }}</td>
                                                <td>{{ exim.Discount | formatPrice }}</td>
                                                <td>{{ exim.Price - exim.Discount | formatPrice }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="Công nợ" ng-click="loadCashFlows(vendor);">
                                <div class="table-responsive table-othe">
                                    <table class="table">
                                        <thead>
                                            <tr class="success">
                                                <th align="left">Mã phiếu</th>
                                                <th align="left">Thời gian</th>
                                                <th align="left">Loại</th>
                                                <th align="right">Tăng nợ</th>
                                                <th align="right">Giảm nợ</th>
                                                <th align="right">Nợ cần trả</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cashflow in vendor.cashflows">
                                                <td><a href="#"><b>{{ cashflow.target.TargetCode }}</a></b></td>
                                                <td><a href="#">{{ cashflow.CreatedAt | date:'dd/MM/yyyy HH:mm'}}</a></td>
                                                <td align="left">{{ findType(cashflow.Type) }}</td>
                                                <td align="right">{{ cashflow.Amount > 0 | iif : (cashflow.Amount | formatPrice)  : "0"  }}</td>
                                                <td align="right">{{ cashflow.Amount < 0 | iif : ( 0 - cashflow.Amount | formatPrice) : "0"  }}</td>
                                                <td align="right">{{ cashflow.Debt | formatPrice }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>*@

                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>


    @*nhà cung cấp vận chuyển*@
    <div ng-model="delivery_vendor">
        <div class="table-list w100pt left" ng-show="delivery_vendor.show">
            <div class="actionCustomer">
                <div class="left w100pt info-product">
                    <!-- Nav tabs -->
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Thông tin">
                            <div class="info-product-right left">
                                <h1>{{ delivery_vendor.VendorName }}</h1>
                                <div class="col-lg-6 info-product-tt">
                                    <ul>
                                        <li><span class="txt-left">Mã khách hàng:</span> {{ delivery_vendor.VendorCode}}</li>
                                        <li><span class="txt-left">Địa chỉ :</span> {{ delivery_vendor.Address }}</li>
                                        <li><span class="txt-left">Tỉnh / Thành Phố :</span> {{ delivery_vendor.Province.Name }}</li>
                                        <li><span class="txt-left">Quận / Huyện :</span> {{ delivery_vendor.District.Name }}</li>
                                        <li><span class="txt-left">Số điện thoại:</span> {{ delivery_vendor.Phone }}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 info-product-tt last">
                                    <ul>
                                        <li><span class="txt-left">Tổng số nợ :</span> {{ delivery_vendor.TotalDebt }}</li>
                                        <li><span class="txt-left">Tổng đã thanh toán :</span> &nbsp; {{ delivery_vendor.TotalDebt }}</li>
                                        <li><span class="txt-left">Ghi chú :</span> {{ delivery_vendor.Note }}</li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                                
                            </div>
                        </uib-tab>
                        @*<uib-tab index="1" heading="Công nợ" ng-click="loadVendorCashes(vendor);">
                            <div class="table-responsive table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Mã phiếu</th>
                                            <th align="left">Người bán</th>
                                            <th align="left">Phương thức</th>
                                            <th align="right">Tiền đã trả</th>
                                            <th align="right">Tổng tiền</th>
                                            <th align="right">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cash in vendor.cashes">
                                            <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                            <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                            <td align="left">{{ findMethod(cash) }}</td>
                                            <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                            <td align="right">{{ cash.Total | formatPrice }}</td>
                                            <td align="right">{{ findPaymentStatus(cash) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>*@
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    @*sản phẩm*@
    <div ng-model="product">
        <div class="table-list w100pt left" ng-show="product.show">
            <div class="actionCustomer">
                <div class="left w100pt info-product">
                    <!-- Nav tabs -->
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Sản phẩm">
                            <div id="detail_product_picture">
                                <div uib-carousel active="active">
                                    <div uib-slide ng-repeat="image in product.images track by image.ProductImageId" index="$index">
                                        <img ng-src="{{image.Path}}" style="margin:auto;max-height:300px">
                                    </div>
                                </div>
                            </div>
                            <div class="info-product-right left">
                                <h1>{{ product.ProductName + " " + product.SubName }}</h1>
                                <div class="col-lg-6 info-product-tt">
                                    <ul>
                                        <li><span class="txt-left">Mã sản phẩm: &nbsp;</span> {{ product.ProductCode}}</li>
                                        <li><span class="txt-left">Giá bán:&nbsp; </span> {{ product.prices != null | iif : (findSalePrice(product.prices) | formatPrice) : "" }} đ</li>
                                        <li><span class="txt-left">Giá nhập trung bình:&nbsp; </span> {{ product.prices != null | iif : (findAverageImportPrice(product.prices) | formatPrice) : "" }} đ</li>
                                        <li>
                                            <span class="txt-left">Tồn kho:&nbsp;</span> <span class="cl-red">{{ product.stock != null | iif : sumStock(product.stock) : 0 }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 info-product-tt last">
                                    <ul>
                                        <li><span class="txt-left">Nhóm hàng:&nbsp;</span> {{ product.category.CategoryName }}</li>
                                        <li><span class="txt-left">Định mức:&nbsp;</span> {{ product.MinStock }} > {{ product.StockLimit }}</li>
                                        <li>
                                            <span class="txt-left">Trạng thái:&nbsp;</span> <span class="cl-green">{{ product.PAStatus != 98 | iif : "Đang kinh doanh" : "Ngừng kinh doanh" }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Xuất - Nhập - Tồn" ng-click="loadExims(product);">
                            <div class="table-responsive table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Chứng từ</th>
                                            <th align="left">Hành động</th>
                                            <th align="left">Tên đối tác</th>
                                            <th align="right">Chi nhánh</th>
                                            <th align="left">Thời gian</th>
                                            <th align="right">Giá</th>
                                            <th align="right">Số lượng</th>
                                            <th align="right">Tồn cuối</th>
                                            <th align="right">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="exim in product.exims">
                                            <td><a href="#"><b>{{ exim.EximsCode }}</a></b></td>
                                            <td align="right">{{ exim.Type==0 | iif : "Nhập hàng" : "Xuất hàng" }}</td>
                                            <td><a href="#">{{ exim.branch.BranchName }}</a></td>
                                            <td><a href="#">{{ exim.target==null | iif : "Khách trả hàng" : exim.target.TargetName }}</a></td>
                                            <td align="left">{{ exim.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                                            <td align="right">{{ exim.EximsPrice | formatPrice }}</td>
                                            <td align="right">{{ exim.Quantity }}</td>
                                            <td align="right">{{ exim.Type==1 | iif : (exim.PreviousStock + " > " + exim.LastStock) : (exim.PreviousStock + " < " + exim.LastStock) }}</td>
                                            <td align="right">Hoàn Thành</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>

                        <uib-tab index="3" heading="Kho hàng">
                            <div class="table-responsive table-othe">
                                <table class="table">
                                    <thead>
                                        <tr class="success">
                                            <th align="left">Chi nhánh</th>
                                            <th align="left">Tồn kho</th>

                                        </tr>
                                    </thead>
                                    <tbody class="tbodydetail">
                                        <tr ng-repeat="s in product.stock">
                                            <td><a href="#"><b>{{ s.BranchName }}</a></b></td>
                                            <td><a href="#">{{ s.Stock }}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
