﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý nhân viên";
}

<style>
    .tabsdemoDynamicHeight md-content {
        background-color: transparent !important;
    }

        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

            .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white;
            }

        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }
</style>

<div ng-controller="EmployeeController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý nhân viên </h2>
                    @if (Session["Group"].ToString() == "Admin")
                    {
                        <a href="#" class="addPro"  ng-click="openCreateEmployeeDialog();"><i class="fa fa-plus" aria-hidden="true"></i> Thêm nhân viên</a>
                    }
                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Tài khoản</th>
                        <th>Tên nhân viên</th>
                        <th>Chi nhánh</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Nhóm</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-repeat-start=" employee in employees track by $index" ng-click="expandDetail(employee);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ employee.Username }}</td>
                        <td>{{ employee.EmployeeName }}</td>
                        <td>{{ employee.branch.BranchName }}</td>
                        <td>{{ employee.Phone }}</td>
                        <td>{{ employee.Email }}</td>
                        <td>{{ employee.Group == "Manager" | iif : "Quản lý" : (employee.Group == "Admin" | iif : "Admin" : "Bán hàng") }}</td>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="employee.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Tài khoản :</span> {{ employee.Username }}</li>
                                                    <li><span class="txt-left">Chi nhánh:</span> {{ employee.branch.BranchName }}</li>
                                                    <li><span class="txt-left">Nhóm :</span> {{ employee.Group == "Manager" | iif : "Quản lý" : (employee.Group == "Admin" | iif : "Admin" : "Bán hàng") }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left">Đỉa chỉ :</span> {{ employee.Address }}</li>
                                                    <li><span class="txt-left">Số điện thoại:</span> {{ employee.Phone }}</li>
                                                    <li><span class="txt-left">Email :</span> {{ employee.Email }}</li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            @if (Session["Group"].ToString() == "Admin")
                                            {
                                                <button type="button" class="btn btn-success btn-update" ng-click="openEditEmployeeDialog(employee);">
                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                                                </button>
                                                <button type="button" class="btn btn-default" ng-click="showConfirmDeleteEmployee(employee);">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i> Xóa
                                                </button>
                                            }
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade box-popup box-popupB" id="addEmployee" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Thêm nhân viên
                    </h4>
                </div>
                <div class="modal-body" ng-form name="frmAddEmployee">
                    <div class="left-modal">
                        @*<div class="form-group row">
                                <label class="col-form-label">Mã nhân viên :</label>
                                <input type="text" class="form-control" placeholder="Mã mặc định" ng-model="newEmp.EmployeeCode" disabled="disabled">
                            </div>*@
                        <div class="form-group row">
                            <label class="col-form-label">Tên nhân viên :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên nhân viên" ng-model="newEmp.EmployeeName" required>
                            <span class="err_msg" ng-show="newEmp.EmployeeName == '' || newEmp.EmployeeName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Email đăng nhập :</label>
                            <input type="email" name="txtEmail" class="form-control" placeholder="Nhập tài khoản" ng-model="newEmp.Email" required>
                            <span class="err_msg" ng-show="frmAddEmployee.txtEmail.$invalid && !frmAddEmployee.txtEmail.$pristine || newEmp.Email == '' || newEmp.Email == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Mật khẩu :</label>
                            <input type="password" class="form-control" placeholder="Nhập mật khẩu" ng-model="newEmp.Password" ng-minlength="6" required>
                            <span class="err_msg" ng-show="newEmp.Password == '' || newEmp.Password == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">ID Facebook :</label>
                            <input type="text" class="form-control" placeholder="Nhập ID Facebook" ng-model="newEmp.FacebookUserId">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Chi nhánh :
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlBranch" ng-model="newEmp.BranchId" ng-init="newEmp.BranchId = '-1'" required>
                                    <option value="-1">-- Lựa chọn chi nhánh --</option>
                                    <option ng-repeat=" branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                </select>
                                <span class="err_msg" ng-show="newEmp.BranchId == -1 || newEmp.BranchId == undefined">*</span>
                            </div>

                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhóm :
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlGroup" ng-model="newEmp.Group" ng-init="newEmp.Group = '-1'" required>
                                    <option value="-1">-- Lựa chọn nhóm --</option>
                                    <option value="Manager">Quản lý</option>
                                    <option value="Sale" selected="selected">Bán hàng</option>
                                </select>
                                <span class="err_msg" ng-show="newEmp.Group == -1 || newEmp.Group == undefined">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" name="txtPhone" class="form-control" placeholder="Nhập số điện thoại" ng-model="newEmp.Phone" ng-pattern="/^[0-9]{10,11}$/">
                            <span class="err_msg" ng-show="frmAddEmployee.txtPhone.$invalid && !frmAddEmployee.txtPhone.$pristine">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="newEmp.Address">
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelCreate();">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="createEmployee();">
                            <span class="fa fa-save"></span>Lưu & Thêm mới
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup box-popupB" id="editEmployee" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Cập nhật nhân viên
                    </h4>
                </div>
                <div class="modal-body" ng-form name="frmEditEmployee">
                    <div class="left-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Tên nhân viên :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên nhân viên" ng-model="editEmployee.EmployeeName" ng-required="true">
                            <span class="err_msg" ng-show="editEmployee.EmployeeName == '' || editEmployee.EmployeeName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Email đăng nhập :</label>
                            <input type="email" class="form-control" placeholder="Nhập tài khoản" ng-model="editEmployee.Email" disabled="disabled" ng-required="true">
                            <span class="err_msg" ng-show="editEmployee.Email == '' || editEmployee.Email == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Mật khẩu :</label>
                            <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" ng-model="editEmployee.Password" ng-init="editEmployee.Password = ''">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">ID Facebook :</label>
                            <input type="text" class="form-control" placeholder="Nhập ID Facebook" ng-model="editEmployee.FacebookUserId">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Chi nhánh :
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlBranch" ng-model="editEmployee.BranchId">
                                    <option value="-1">-- Lựa chọn chi nhánh --</option>
                                    <option ng-repeat=" branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                </select>
                                <span class="err_msg" ng-show="editEmployee.BranchId == -1 || editEmployee.BranchId == undefined">*</span>
                            </div>
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhóm :
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlGroup" ng-model="editEmployee.Group" required>
                                    <option value="-1">-- Lựa chọn nhóm --</option>
                                    <option value="Manager">Quản lý</option>
                                    <option value="Sale" selected="selected">Bán hàng</option>
                                </select>
                                <span class="err_msg" ng-show="editEmployee.Group == -1 || editEmployee.Group == undefined">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" name="txtPhone" class="form-control" placeholder="Nhập số điện thoại" ng-model="editEmployee.Phone">
                            <span class="err_msg" ng-show="frmEditEmployee.txtPhone.$invalid && !frmEditEmployee.txtPhone.$pristine">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="editEmployee.Address">
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="updateEmployee();">
                            <span class="fa fa-save"></span>Cập nhật
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>