﻿@{
    Layout = "~/Views/Shared/_HomeSharedFullWidth.cshtml";
    ViewBag.Title = "FB.SALE - Bán hàng";
}

<style>
    .tooltip {
        white-space: pre-wrap;
    }
    [uib-typeahead-popup].dropdown-menu
	{
		max-height:300px;
		overflow-y: scroll;
	}
</style>

<div>
    <div class="container-fluid">
        <div class="row" id="sale-product">
            <h2>Hệ thống đang xử lý, vui lòng thử lại sau giây lát</h2>
        </div>
    </div>
</div>