﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý xuất nhập hàng";
}

<style>
    .tabsdemoDynamicHeight md-content {
        background-color: transparent !important;
    }

        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

            .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white;
            }

        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }
    
</style>


<div ng-controller="EximController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý nhập hàng </h2>
                    <a href="/imports.html"><i class="fa fa-plus" aria-hidden="true"></i> Nhập hàng</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
                <div class="boxSearch right col-sm-3 hidden">
                    <form class="form-inline">
                        <div class="form-group form-control">
                            <input type="email" class="" id="exampleInputEmail3" placeholder="Tìm kiếm thông tin">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.paymentStatus" ng-init="q.paymentStatus = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Trạng thái thanh toán</option>
                        <option value="0">Chưa thanh toán</option>
                        <option value="1">Chưa thanh toán hết</option>
                        <option value="2">Đã thanh toán</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.deliveryStatus" ng-init="q.deliveryStatus = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Trạng thái vận chuyển</option>
                        <option value="0">Chưa giao hàng</option>
                        <option value="1">Đang giao hàng</option>
                        <option value="2">Đã giao hàng</option>
                        <option value="3">Không giao được hàng</option>
                    </select>
                </div>
                <h2>Tìm kiếm</h2>
                <div class="col-sm-4">
                    @*<input type="text" class="form-control"
            placeholder="Tìm theo mã phiếu hoặc theo tên nhà cung cấp" ng-model="_search">*@
                    <div class="col-md-10">
                        <input class="form-control" type="text" placeholder="Nhập mã phiếu hoặc tên nhà cung cấp" ng-model="q.txtSearch" ng-keyup="$event.keyCode == 13 ? onQueryChange() : null">
                    </div>
                    <i class="fa fa-search" style="color:#fff" data-selector="true" ng-click="onQueryChange();"></i>
                </div>
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        @*<th>Loại phiếu</th>*@
                        <th>Đối tác nhập / xuất</th>
                        <th>Giá trị</th>
                        <th>Giảm giá</th>
                        <th>Trạng thái</th>
                        <th>Thanh toán</th>
                        <th>Ngày tạo</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: exim.isExpand}" ng-repeat-start="exim in exims" ng-click="expandDetail(exim);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ exim.Code}}</td>
                        @*<td>{{ exim.Type == 0 | iif : "Phiếu nhập" : "Phiếu xuất" }}</td>*@
                        <td>{{ exim.target.TargetName }}</td>
                        <td>{{ exim.Price | formatPrice }}</td>
                        <td>{{ exim.Discount | formatPrice}}</td>
                        <td>{{ exim.Status == 10 | iif : "Phiếu tạm" : "Đã nhập hàng"  }}</td>
                        <td>{{filterPaystatus(exim.PaymentStatus)}}</td>
                        <td>{{ exim.CreatetAt | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="exim.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Mã phiếu :&nbsp; </span> {{ exim.Code }}</li>
                                                    <li><span class="txt-left">Loại phiếu :&nbsp; </span> {{ exim.Type == 0 | iif : "Phiếu nhập" : "Phiếu xuất" }}</li>
                                                    <li><span class="txt-left">Giá trị đơn hàng :&nbsp; </span> {{ exim.Price | formatPrice }}</li>
                                                    <li><span class="txt-left">Giảm giá :&nbsp; </span> {{ exim.Discount | formatPrice }}</li>
                                                    <li><span class="txt-left">Tiền cần trả nhà cung cấp : &nbsp;</span> {{ exim.TotalPrice | formatPrice }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left" style="min-width:150px;">Chi nhánh nhập :&nbsp; </span> <p> {{ exim.branch.BranchName }} </p></li>
                                                    <li><span class="txt-left" style="min-width:150px;">Đối tác nhập hàng :&nbsp; </span><p> {{ exim.target.TargetName }} </p></li>
                                                    <li><span class="txt-left" style="min-width:150px;">Nhân viên tạo phiếu :&nbsp; </span> {{ exim.employee.EmployeeName }}</li>
                                                    <li><span class="txt-left" style="min-width:150px;">Ngày tạo :&nbsp; </span> {{ exim.CreatetAt | date:'dd/MM/yyyy HH:mm'}}</li>
                                                    <li><span class="txt-left" style="min-width:150px;">Trạng thái : &nbsp; </span> {{ exim.Status == 10 | iif : "Phiếu tạm" : "Đã nhập hàng"  }}</li>
                                                </ul>
                                            </div>
                                            <div class="table-othe">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Tên hàng hóa</th>
                                                            <th align="left">Số lượng</th>
                                                            <th align="right">Tồn cuối</th>
                                                            <th align="right">Đơn giá</th>
                                                            <th align="right">Giảm giá trên sản phẩm</th>
                                                            <th align="right">Thành tiền</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in exim.products">
                                                            <td><a href="#">{{ product.ProductName }}<br />{{ product.SubName }}</a></b></td>
                                                            <td align="left">{{ product.Quantity }}</td>
                                                            <td align="right">{{ product.PreviousStock + " > " + product.LastStock }}</td>
                                                            <td align="right">{{ product.Price | formatPrice }}</td>
                                                            <td align="right">{{ product.DiscountPerItem | formatPrice }}</td>
                                                            <td align="right">{{ ((product.Price - product.DiscountPerItem) * product.Quantity) | formatPrice }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td align="right">Tổng số mặt hàng</td>
                                                            <td align="right">{{ exim.products.length }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td align="right">Tổng tiền nhập hàng</td>
                                                            <td align="right">{{ exim.Price | formatPrice }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td align="right">Giảm giá nhập hàng</td>
                                                            <td align="right">{{ exim.Discount | formatPrice }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td align="right">Tổng tiền đã trả nhà cung cấp</td>
                                                            <td align="right">{{ exim.CustomerPaid | formatPrice }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td align="right">Tổng tiền trả hàng nhập</td>
                                                            <td align="right">{{ exim.ReturnPaid | formatPrice }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td align="right">Tổng tiền cần trả nhà cung cấp</td>
                                                            <td align="right">{{ exim.Price - exim.Discount - exim.CustomerPaid - exim.ReturnPaid | formatPrice }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-success btn-update" ng-click="showConfirmCompleteImport(exim)" ng-hide="exim.Status != 10">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Hoàn thành
                                            </button>
                                            <button type="button" style="" class="btn btn-secondary" ng-click="showConfirmCancelImport(exim)">
                                                <i class="fa fa-ban" aria-hidden="true"></i>
                                                Hủy phiếu
                                            </button>
                                            <button type="button" class="btn btn-lock" ng-click="openCreateCash(exim)" ng-show="(exim.Price - exim.Discount - exim.CustomerPaid - exim.ReturnPaid) > 0">
                                                <i class="fa fa-sign-in"
                                                   aria-hidden="true"></i> Thanh toán
                                            </button>
                                            <button type="button" class="btn btn-lock" disabled="disabled" ng-show="(exim.Price - exim.Discount - exim.CustomerPaid - exim.ReturnPaid) <= 0">
                                                <i class="fa fa-sign-in"
                                                   aria-hidden="true"></i> Đã thanh toán hết
                                            </button>  
                                            <button type="button" class="btn btn-warning btn-lock" id="btreturnProduct" ng-show="exim.Status != 10 && StatusProduct==1">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                <a style="color:#Fff; display: inline-flex" href="/imports/{{ exim.Code }}/return.html">
                                                    Trả hàng nhập
                                                </a>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-lock" id="btreturnProduct" ng-show="StatusProduct==0" disabled="disabled">
                                                <i class=" fa fa-sign-out" aria-hidden="true">
                                                </i>
                                                <a style="color: #Fff; display: inline-flex;" href=" ">
                                                    Đã trả hết hàng nhập
                                                </a>
                                            </button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Lịch sử thanh toán" ng-click="loadCashes(exim,1);">
                                        <div class="table-responsive table-othe">
                                            <div class="table-detail">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã phiếu</th>
                                                            <th align="left">Người bán</th>
                                                            <th align="left">Phương thức</th>
                                                            <th align="right">Tiền đã trả</th>
                                                            <th align="right">Tổng tiền</th>
                                                            <th align="right">Trạng thái</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cash in exim.cashes">
                                                            <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                                            <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                                            <td align="left">{{ findMethod(cash) }}</td>
                                                            <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                                            <td align="right">{{ cash.Total | formatPrice }}</td>
                                                            <td align="right">{{ findPaymentStatus(cash.PaymentStatus) }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="newsdetail-pagging" style="width:100%">
                                                <ul uib-pagination boundary-links="true" total-items="itemexim_count" ng-model="eximpage" ng-show="itemexim_count" items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadCashes(exim,eximpage);" rotate ="true" max-size="10"></ul>
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="news-pagging">
            <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
        </div>
    </div>

    <div class="modal fade" id="addCashIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center box-popupB">
                <div class="modal-content" style="overflow: hidden;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Lập phiếu chi</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Mã phiếu chi</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Mã mặc định" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Loại chi</div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlGroup" ng-model="newCashIn.CashTypeId" ng-init="newCashIn.CashTypeId = '-1'">
                                            <option value="-1">-- Lựa chọn loại chi --</option>
                                            <option ng-repeat=" cashType in cashTypes" value="{{ cashType.CashTypeId }}">{{ cashType.Name }}</option>
                                        </select>
                                        <button class="plus-btn" data-toggle="modal" data-target="#addCashType">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style=""> Người nộp </div>
                                <div class="col-md-9">
                                    <p style="color:red;font-weight:bold;"> {{ newCashIn.TargetName }} </p>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Phiếu liên quan </div>
                                <div class="col-md-9">
                                    <p style="font-weight:bold;"> Phiếu nhập hàng </p>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Giá trị</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Giá trị" class="form-control" ng-model="newCashIn.PaidAmount" ng-required format="displayprice">
                                    <span style="right:0px;top:10px;" class="err_msg" ng-show="newCashIn.PaidAmount == '' || newCashIn.PaidAmount == undefined || newCashIn.PaidAmount == 0">*</span>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Ghi chú</div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" ng-model="newCashIn.Note" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer left w100pt">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-ban"></span>Hủy</button>
                            <button type="button" class="btn btn-success" ng-click="createCash();"><span class="fa fa-save"></span>Lưu &amp; Thêm mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup cateModal" id="addCashType" tabindex="-1" style="z-index:9999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm loại phiếu chi</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        <label for="input">Mã phiếu</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newCashType.CashTypeCode" placeholder="Mã phiếu (VD : PCA, PCB..)">
                            <span class="err_msg" ng-show="newCashType.CashTypeCode == '' || newCashType.CashTypeCode == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label for="input">Tên loại phiếu</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newCashType.Name" placeholder="Nhập tên phiếu">
                            <span class="err_msg" ng-show="newCashType.Name == '' || newCashType.Name == undefined">*</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="createCashType();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>