﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Nhập hàng";
}
<style>
    [uib-typeahead-popup].dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }
</style>
<script>
    function inputValueCheck(object) {
        //console.log(object.value[object.value.length - 1]);
        //if (isNaN(object.value[object.value.length - 1]))
        //    object.value[object.value.length] = '';
    }
    function isNumeric(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
<div ng-controller="ImportController" ng-init="EmployeeId = @ViewBag.EmployeeId;BranchId = @ViewBag.BranchId; init();">
    <div class="box-general-store left w100pt" ng-form name="frmImport">
        <!--box-store-list -->
        <div class="box-inputSP col-lg-9 thietLap">
            <div class="breadcrumb-main left w100pt">
                <div class="row">
                    <div class="col-sm-9">
                        <h2><i class="fa fa-mail-reply-all" aria-hidden="true"></i>Nhập hàng</h2>
                        <div class="selectbox-Sp left">
                            <input type="text" class="form-control"
                                   placeholder="Tìm hàng hóa theo mã hoặc tên" ng-model="_product" typeahead-template-url="productTemplate.html" uib-typeahead="product for item in getSuggestProducts($viewValue)">
                            <script type="text/ng-template" id="productTemplate.html">
                                <div ng-click="$parent.$parent.$parent.selectProduct(match.model)">
                                    <table border="0" width="280" style="margin-bottom:5px;">
                                        <tr>
                                            <td width="60" align="right">
                                                <img width="50" height="50" ng-src='{{ match.model.images[0].Path }}' />
                                            </td>
                                            <td style="padding-left:5px;">
                                                {{ match.model.ProductName + '' + match.model.SubName }}
                                                <br />
                                                {{ match.model.ProductCode }} - Tồn kho : {{ match.model.stock != null | iif : $parent.$parent.$parent.sumStock(match.model.stock) : 0 }}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr style="margin-bottom:1px;margin-top:1px;" />
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-base w100pt left">
                <table class="table table-responsive table-import">
                    <tr class="bg-header">
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Tên hàng hóa</th>
                        <th align="right">Giá nhập cuối</th>
                        <th align="right">Giảm giá</th>
                        <th align="right">Số lượng</th>
                        <th align="right">Thành tiền</th>
                        <th align="right"> Xóa</th>
                    </tr>
                    <tr ng-repeat="product in selectedProducts" ng-init="initProduct(product)">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ product.ProductCode }}</td>
                        <td title="{{ product.ProductName + ' ' + product.SubName }}">
                            <p>{{ product.ProductName }}</p>
                            <br />
                            <p>{{ product.SubName }}</p>
                        </td>
                        <td align="left"><input type="text" onkeypress="return isNumeric(event)"  class="form-control" style="width:100px" ng-model="product.originPrice" format="displayprice" ng-change="onPriceChange(product, 1);" required ng-pattern="/[0-9]|\./" /></td>
                        <td align="left"><input type="text"  onkeypress="return isNumeric(event)"  class="form-control" style="width:100px" ng-model="product.discount" format="displayprice" ng-change="onPriceChange(product, 2);" ng-pattern="/[0-9]|\./" /></td>
                        <td align="left"><input type="text"  onkeypress="return isNumeric(event)" class="form-control" style="width:100px" ng-model="product.quantity" ng-change="onPriceChange(product);" required ng-pattern="/[0-9]|\./" /></td>
                        <td align="left">
                            {{  product.total | formatPrice }} đ
                        </td>
                        <td>
                            <div class="remove-item" ng-click="removeSelectedProduct(product);">
                                <i class="fa fa-times"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3 info-SP right trahang">
            <ul class="row nav nav-tabs" style="background-color: #FFFFFF">
                <li class="active"><a data-toggle="tab" data-target="#info">Thông tin</a></li>
                <li class=""><a data-toggle="tab" data-target="#extend">Mở rộng</a></li>
                <li class=""><a data-toggle="tab" data-target="#note">Ghi chú</a></li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane fade in active">
                    <div class="search-customer">
                        <input type="text" class="form-control" placeholder="Tìm nhà cung cấp" ng-model="_vendor" typeahead-template-url="vendorTemplate.html" uib-typeahead="vendor for item in getSuggestVendors($viewValue)">
                        <script type="text/ng-template" id="vendorTemplate.html">
                            <div style="display:block;" ng-click="$parent.$parent.$parent.selectVendor(match.model)">
                                <p style="padding:8px;margin:0px;">{{  match.model.VendorName }}</p>
                                <hr style="margin-bottom:1px;margin-top:1px;" />
                            </div>
                        </script>
                        <button class="btn btn-default" ng-click="openCreateVendorDialog();">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="price-common">
                        <p><b>{{ selectedVendor.VendorName }}</b></p>
                        <div class="bill-box left w100pt p0">
                            <div class="form-bill left w100pt">
                                <label>Mã nhập hàng :</label>
                                <span><input class="form-control text-right" type="text" placeholder="Mã nhập hàng tự động" disabled="disabled"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="extend" class="tab-pane fade">
                    <div class="bill-value">
                        <div class="bill-box-ex left w100pt">
                            <div class="form-bill left w100pt">
                                <label>Chi nhánh</label>
                                <span>
                                    <select class="form-control" ng-model="newImport.BranchId" ng-init="newImport.BranchId = BranchId + ''" required ng-pattern="/^[0-9]*$/">
                                        <option value="-1">Chọn chi nhánh</option>
                                        <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                    </select>
                                </span>
                                <p class="err_msg3" ng-show="newImport.BranchId == '-1' || newImport.BranchId == -1 || newImport.BranchId == undefined">*</p>
                            </div>
                            <div class="form-bill left w100pt">
                                <label>Thanh toán</label>
                                <span>
                                    <select class="form-control" ng-model="newImport.PaymentType" ng-init="newImport.PaymentType = '0'">
                                        <option value="0">Tiền mặt</option>
                                        <option value="1">Chuyển khoản</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-bill left w100pt">
                                <label>Người tạo</label>
                                <span>
                                    <select class="form-control" ng-model="newImport.EmployeeId" ng-init="newImport.EmployeeId = EmployeeId + ''">
                                        <option ng-repeat="employee in employees" value="{{ employee.EmployeeId }}">{{ employee.EmployeeName }}</option>
                                    </select>
                                </span>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="note" class="tab-pane fade">
                    <div class="left noteSP w100pt">
                        <textarea class="form-control" style="width: 100%" rows="3" placeholder="Ghi chú ..." ng-model="newImport.Note"></textarea>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="bill-value">
                    <div class="bill-value-title">
                        <button class="btn">Thanh toán</button>
                        <div class="line"></div>
                    </div>
                    <div class="bill-box left w100pt">
                        <div class="form-bill left w100pt">
                            <label>Tổng số lượng</label>
                            <span>{{ calculateQuatity()||0; }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Tổng tiền</label>
                            <span>{{ calculateTotal() | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Giảm giá</label>
                            <span><input class="form-control text-right" type="text" onkeypress="return isNumeric(event)"   ng-model="newImport.discount" format="displayprice" ng-init="newImport.discount = 0" ng-change="onDiscountPriceChange();" required ng-pattern="/^[0-9\./,]*$/"></span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Cần trả nhà cung cấp</label>
                            <span>{{ (calculateTotal() -  newImport.discount) | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Đã trả nhà cung cấp</label>
                            <span><input class="form-control text-right" type="text" onkeypress="return isNumeric(event)"  ng-model="newImport.paid" ng-init="newImport.paid = 0" format="displayprice" ng-change="onPaidPriceChange();" required ng-pattern="/^[0-9\./,]*$/"></span>
                        </div>
                        <div class="form-bill left w100pt line">

                        </div>
                        <div class="form-bill left w100pt">
                            <label><b>Tính vào công nợ</b></label>
                            <span><b style="color: #ff0000">{{ (calculateTotal() - newImport.discount - newImport.paid) | formatPrice }}</b></span>
                        </div>
                    </div>

                </div>
                <div class="left bt-box w100pt">
                    <button class="btn btn-default btn-save" ng-click="createImport(true)">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Lưu tạm
                    </button>
                    <button class="btn btn-default btn-red" ng-click="createImport(false)">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Hoàn thành
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade box-popup popMainl" id="addVendor" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm nhà cung cấp</h4>
                </div>
                <div class="modal-body" ng-form name="frmAddVendor">
                    <div class="form-group row">
                        <label>Mã nhà cung cấp</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Mã nhà cung cấp" disabled="disabled" ng-model="newVendor.VendorCode">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Tên nhà cung cấp</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Tên nhà cung cấp" ng-model="newVendor.VendorName" required>
                            <span class="err_msg" ng-show="newVendor.VendorName == '' || newVendor.VendorName == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Số điện thoại</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Số điện thoại" ng-model="newVendor.Phone" required ng-pattern="/^[0-9]{10,11}$/">
                            <span class="err_msg" ng-show="newVendor.Phone == '' || newVendor.Phone == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Email</label>
                        <div>
                            <input type="email" name="txtEmail" class="form-control" placeholder="Email" ng-model="newVendor.Email">
                            <span class="err_msg" ng-show="frmAddVendor.txtEmail.$invalid && !frmAddVendor.txtEmail.$pristine">*</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelCreate();">
                        <span class="fa fa-ban"></span>Bỏ qua
                    </button>
                    <button type="button" class="btn btn-success" ng-click="createVendor();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>

</div>

