﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Trả hàng nhập";
}
<div ng-controller="ImportReturnController" ng-init="EmployeeId = @ViewBag.EmployeeId;BranchId = @ViewBag.BranchId;EximCode= @ViewBag.EximCode; init();">
    <div class="box-general-store left w100pt" ng-form name="frmReturn">
        <!--box-store-list -->
        <div class="box-inputSP col-lg-9 thietLap">
            <div class="breadcrumb-main left w100pt">
                <div class="row">
                    <div class="col-sm-9">
                        <h2><i class="fa fa-mail-reply-all" aria-hidden="true"></i>Trả hàng</h2>
                        <div class="selectbox-Sp left">
                            <input type="text" class="form-control" placeholder="Nhập mã nhập hàng" ng-model="EximCode" input-enter="loadExim();">
                            <button class="plus-btn" style="font-size:16px;" ng-click="loadExim();">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-base w100pt left">
                <table class="table table-responsive">
                    <tr class="bg-header">
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Tên hàng hóa</th>
                        <th align="right">Giá nhập</th>
                        <th align="right">Giá trả lại</th>
                        <th align="right">Số lượng</th>
                        <th align="right">Thành tiền</th>
                    </tr>
                    <tr ng-repeat="product in return.products">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ product.ProductCode }}</td>
                        <td title="{{ product.ProductName + " " + product.SubName }}">
                            <p>{{ product.ProductName }}</p>
                            <br />
                            <p>{{ product.SubName }}</p>
                        </td>
                        <td align="left">{{ product.Price | formatPrice }}</td>
                        <td align="left"><input type="text" class="form-control" style="width:100px" min="0" ng-model="product.ReturnPrice" ng-init="product.ReturnPrice = product.Price" format="displayprice" ng-change="onPriceChanged(product, 1);" /></td>
                        <td><input type="number" class="form-control" style="width:100px" ng-model="product.Quantity" max="{{product.MaxQuantity}}" min="0" ng-change="onPriceChanged(product, 2);" /> / <b style="color:red;">{{product.MaxQuantity}}</b></td>
                        <td align="left" ng-init="product.total = product.Price * product.Quantity">
                            {{ product.total | formatPrice }}đ
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3 info-SP right trahang">
            <ul class="row nav nav-tabs" style="background-color: #FFFFFF">
                <li class="active"><a data-toggle="tab" data-target="#info">Thông tin</a></li>
                <li class=""><a data-toggle="tab" data-target="#extend">Mở rộng</a></li>
                <li class=""><a data-toggle="tab" data-target="#note">Ghi chú</a></li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane fade in active">
                    <div class="price-common">
                        <p><b>{{ return.target.TargetName }}</b></p>
                        <div class="bill-box left w100pt p0">
                            <div class="form-bill left w100pt">
                                <label>Mã nhập hàng :</label>
                                <span><input class="form-control text-right" type="text" placeholder="Mã trả nhập hàng tự động" disabled="disabled"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="extend" class="tab-pane fade">
                    <div class="bill-value">
                        <div class="bill-box-ex left w100pt">
                            <div class="form-bill left w100pt">
                                <label>Chi nhánh</label>
                                <span>
                                    <select class="form-control" ng-model="return.BranchId" required ng-pattern="/^[0-9]*$/">
                                        <option value="-1">Chọn chi nhánh</option>
                                        <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                    </select>
                                </span>
                                <p class="err_msg3" ng-show="return.BranchId == '-1' || return.BranchId == -1 || return.BranchId == undefined">*</p>
                            </div>
                            <div class="form-bill left w100pt">
                                <label>Thanh toán</label>
                                <span>
                                    <select class="form-control" ng-model="return.PaymentType" ng-init="return.PaymentType = '0'">
                                        <option value="0">Tiền mặt</option>
                                        <option value="1">Chuyển khoản</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-bill left w100pt">
                                <label>Người tạo</label>
                                <span>
                                    <select class="form-control" ng-model="return.EmployeeId">
                                        <option ng-repeat="employee in employees" value="{{ employee.EmployeeId }}">{{ employee.EmployeeName }}</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="note" class="tab-pane fade">
                    <div class="left noteSP w100pt">
                        <textarea class="form-control" style="width: 100%" rows="3" placeholder="Ghi chú ..." ng-model="return.Note"></textarea>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="bill-value">
                    <div class="bill-value-title">
                        <button class="btn">Thanh toán</button>
                        <div class="line"></div>
                    </div>
                    <div class="bill-box left w100pt">
                        <div class="form-bill left w100pt">
                            <label>Tổng tiền hàng</label>
                            <span>{{ return.TotalPrice | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Nhà cung cấp cần trả</label>
                            <span>{{ return.ReturnAmount | currency : "" :0 }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Tiền nhà cung cấp trả</label>
                            <span><input class="form-control text-right" type="text" ng-model="return.PaidAmount" format="displayprice" ng-change="onPaidAmountPriceChanged();" ng-pattern="/^[0-9\./,]*$/"></span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Tính vào công nợ</label>
                            <span>{{ ((return.ReturnAmount - return.PaidAmount) > 0 | iif : (return.ReturnAmount - return.PaidAmount) : 0 - (return.ReturnAmount - return.PaidAmount)) | formatPrice }}</span>
                        </div>
                    </div>
                </div>
                <div class="left bt-box w100pt">
                    <button class="btn btn-default btn-red" ng-click="returnImport()">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Hoàn thành
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

