﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Tổng quan";
}

<div ng-controller="ShopController" ng-init="init();">
    <div class="box-intro-store left w100pt">
        <div class="col-lg-3 intro-store">         
            <h2><a href="#"> {{ detailStats.ShopName }}</a></h2>
            <p>
                Địa chỉ:<b> {{ detailStats.Address }} </b><br>             
            </p>
        </div>

        <div class="content left col-lg-9">
            <div class="left box-cart">
                <a href="/products.html">
                    <div class="icon left"><i class="fa fa-shopping-basket" aria-hidden="true"></i></div>
                    <div class="txt"><span>Tổng: </span><b>{{ detailStats.CountProduct }}</b><i>Sản phẩm</i></div>
                    <div class="txt"><span>Tồn:</span> <b>{{ detailStats.CountItem }}</b><i> Sản phẩm</i></div>
                    <div class="txt"><span>Xuất:</span> <b>{{ detailStats.CountExportedItem }}</b><i>Sản phẩm</i></div>
                </a>
            </div>
            <div class="left box-bill">
                <a href="/orders.html">
                    <div class="icon left"><i class="fa fa-usd" aria-hidden="true"></i></div>
                    <div class="txt"><span>Hóa đơn: </span><b>{{ detailStats.TotalOrder }}</b></div>
                    <div class="txt-number"><b>{{ detailStats.TotalOrderAmount | formatPrice }}</b></div>
                    <div class="txt" style="font-size: 12px;color: #666">Doanh số</div>
                </a>
            </div>
            <div class="left box-ballot">
                <a href="/customers.html">
                    <div class="icon left"><i class="fa fa-reply-all" aria-hidden="true"></i></div>
                    <div class="txt-number"><b>{{ (0 - detailStats.DebtAmount) | formatPrice }}</b></div>
                    <div class="txt" style="font-size: 12px;color: #666">Nợ cần thu</div>
                </a>
            </div>
            <div class="left box-mess">
                <a href="/chat.html">
                    <div class="icon left"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                    <div class="txt"><b>{{ detailStats.CountMessage }}</b> Tin nhắn</div>
                </a>
            </div>
        </div>

    </div>
    <div class="box-general-store left w100pt">
        <div class="left col-lg-9">
            <div class="sales-results left w100pt">
                <div class="lable left">
                    <h1>
                        KẾT QUẢ BÁN HÀNG HÔM NAY ({{ today | date : "dd/MM/yyyy"}})                       
                    </h1>
                </div>
                <div class="left box-bill" ng-controller="OrderController">
                    <a href="#" ng-click="openOrderDate();">
                        <div class="icon left"><i class="fa fa-usd" aria-hidden="true"></i></div>
                        <div class="txt"><span>Hóa đơn: </span><b>{{ detailStats.TodayOrderCount }}</b></div>
                        <div class="txt-number"><b>{{ detailStats.TodayOrderAmount | formatPrice }}</b></div>
                        <div class="txt" style="font-size: 12px;color: #666">Doanh số</div>
                    </a>
                </div>
                <div class="left box-ballot" ng-controller="CustomerReturnController">
                    <a href="#" ng-click="openCustomerReturnDate();">
                        <div class="icon left"><i class="fa fa-reply-all" aria-hidden="true"></i></div>
                        <div class="txt"><span>Phiếu: </span><b>{{ detailStats.TodayReturnCount }}</b></div>
                        <div class="txt-number"><b>{{ detailStats.TodayReturnAmount | formatPrice }}</b></div>
                        <div class="txt" style="font-size: 12px;color: #666">Trả hàng</div>
                    </a>
                </div>
            </div>
            <div ng-controller="ChartController" ng-init="init();">
                @*<div class="sales-results  left w100pt">
                <div class="lable left">
                    <h1>
                        DOANH SỐ HÔM NAY (11/10/2016)
                        <div class="form-date">
                            <select class="form-control">
                                <option>Hôm nay</option>
                                <option>Hôm qua</option>
                                <option>Tuần</option>
                                <option>Tháng</option>
                                <option>Quý</option>
                            </select>
                        </div>
                    </h1>

                </div>
                <div class="chart-store left w100pt">
                    <img src="img-demo/bang.jpg">
                </div>
                <div class="left chart-statis w100pt">
                    <div class="col-lg-4">Tổng 5 cửa hàng</div>
                    <div class="col-lg-4 txt1">Hóa đơn :<b> 20</b></div>
                    <div class="col-lg-4 txt2"> Tổng thu: <b>11,439,000</b> vnđ</div>
                </div>
            </div>*@
                <div class="sales-results left w100pt">
                    <div class="lable left">
                        <h1>
                            TOP 5 HÀNG HÓA BÁN CHẠY NGÀY ({{ dt | date : "dd/MM/yyyy"}})
                        </h1>
                        <div class="list-notifile right" style="margin-top:-40px;">
                            <input type="text" class="form-control" readonly placeholder="Chọn ngày" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.StartDate" is-open="DatePopup.startDate" datepicker-options="dateOptions" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                            <button ng-click="openDatePopup(0);" style="position: absolute; right: 20px; border: 0px; background-color: #eeeeee; margin-top: -28px; margin-right: 18px;"><i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                    <div class="left list-pro-top w100pt">
                        <canvas id="base" class="chart-horizontal-bar"
                                chart-data="chart.data" chart-labels="chart.labels" chart-options="chart.options"></canvas>
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("BoxRecentAction", "Shared")
    </div>
</div>

