﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý đơn hàng";
}

<div ng-controller="OrderController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý đơn hàng </h2>
                    <a href="/sales.html" class="addPro"><i class="fa fa-plus" aria-hidden="true"></i> Tạo đơn hàng</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>           
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-1 typeSearch">
                    <select class="form-control" ng-model="q.allowsell" ng-init="q.allowsell = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Tất cả</option>
                        <option value="0">Đang giao hàng</option>
                        <option value="1">Đã giao hàng</option>
                        <option value="2">Không giao được hàng</option>
                    </select>
                </div>
                <div class="col-sm-2 datetimpickers">
                    <input type="text" class="form-control" readonly placeholder="Ngày bắt đầu" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.StartDate" is-open="DatePopup.startDate" datepicker-options="dateOptionsStart" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                    <button class="btCalender" ng-click="openDatePopup(0);" style="top:6px;right:20px;"><i class="fa fa-calendar"></i></button>
                </div>
                <div class="col-sm-2 datetimpickers">
                    <input type="text" class="form-control" readonly placeholder="Ngày kết thúc" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.EndDate" is-open="DatePopup.endDate" datepicker-options="dateOptionsEnd" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                    <button class="btCalender" ng-click="openDatePopup(1);" style="top:6px;right:20px;"><i class="fa fa-calendar"></i></button>
                </div>
                <div class="col-sm-4 box-search">
                    <div class="col-md-10">
                        <input class="form-control" id="txtSearch" type="text" placeholder="Tìm kiếm theo KH / mã HĐ" ng-model="q.txtSearch" ng-keyup="$event.keyCode == 13 ? onQueryChange() : null">
                    </div>
                    <i class="fa fa-search" style="color:#fff" data-selector="true" ng-click="onQueryChange()" ></i>
                   
                </div>
                <div class="lengthpage">
                    <h2>Số bản ghi</h2>
                    <div class="col-sm-1 ">
                        <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>    
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Thời gian</th>
                        <th>Khách hàng</th>
                        <th>Tổng tiền hàng</th>
                        <th>Giảm giá</th>
                        <th>Phí vận chuyển</th>
                        <th>Khách đã trả</th>
                        <th>Trang thái vận chuyển</th>
                    </tr>
                    <tr>
                        <th colspan="4" style="text-align:left;">Số hóa đơn: {{ metadata.Count }}</th>
                        <th>{{ metadata.TotalPrice | formatPrice }}</th>
                        <th>{{ metadata.TotalDiscountPrice | formatPrice }}</th>
                        <th>{{ metadata.TotalDeliveryPrice | formatPrice }}</th>
                        <th>{{ metadata.TotalPaidPrice | formatPrice }}</th>
                        <th>Đã giao hàng {{ metadata.TotalDeliveryCompleted }}/{{ metadata.Count }}</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: order.isExpand}" ng-repeat-start=" order in orders" ng-click="expandDetail(order);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ order.OrderCode }}</td>
                        <td>{{ order.CreatedAt | date : "dd/MM/yyyy" }}</td>
                        <td>{{ order.customer.CustomerName }}</td>
                        <td>{{ order.OrderPrice | formatPrice }}</td>
                        <td>{{ order.Discount | formatPrice }}</td>
                        <td>{{ order.DeliveryPrice | formatPrice }}</td>
                        <td>{{ order.CustomerPaid | formatPrice }}</td>
                        <td>{{ order.DeliveryStatus == 2 | iif : "Đã giao hàng" : (order.DeliveryStatus == 4 | iif : "Đang giao hàng" : "Không giao được hàng") }}</td>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="order.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Mã phiếu:</span> {{ order.OrderCode}}</li>
                                                    <li><span class="txt-left">Thời gian :</span> {{ order.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</li>
                                                    <li><span class="txt-left">Khách hàng :</span><p> {{  order.customer.CustomerName }}</p></li>
                                                    <li style="border-bottom:0;"><span class="txt-left">Ghi chú :</span> <textarea ng-model="order.Note" rows="3" style="width:100%;"></textarea></li>                                                                             
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>            
                                                    <li><span class="txt-left" style="min-width:155px;">Người bán :</span><p>{{ order.saleEmployee.EmployeeName }}</p></li>
                                                    <li><span class="txt-left" style="min-width:155px;">Người lập phiếu :</span> <p> {{ order.employee.EmployeeName }}</p></li>
                                                    <li><span class="txt-left" style="min-width:155px;">Chi nhánh :</span><p>{{ order.branch.BranchName }}</p></li>                                        
                                                    <li><span class="txt-left" style="min-width:155px;">Trạng thái đơn hàng :</span> {{ order.OrderStatus == 2 | iif : "Hoàn thành" : "Chưa hoàn thành"  }}</li>   
                                                    <li>
                                                        <span class="txt-left" style="min-width:155px;">Trạng thái vận chuyển :</span>
                                                        <select style="width:50%;" class="form-control" id="ddlDeliveryStatus" ng-model="order.NewDeliveryStatus" ng-init="order.NewDeliveryStatus = order.DeliveryStatus + ''">
                                                            <option value="4">Đang giao hàng</option>
                                                            <option value="2">Đã giao hàng</option>
                                                            <option value="3">Không giao được hàng</option>
                                                        </select>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="table-othe">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã hàng hóa</th>
                                                            <th align="left">Tên hàng hóa</th>
                                                            <th align="left">Đơn vị</th>
                                                            <th align="left">Đơn giá</th>
                                                            <th align="left">Số lượng</th>
                                                            <th align="right">Thành tiền</th>       
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in order.products">
                                                            <td align="left">{{ product.ProductCode }}</td>
                                                            <td><a href="#"><b>{{ product.ProductName }}<br />{{ product.SubName }}</a></b></td>
                                                            <td><a href="#">{{ product.unit.Name }}</a></td>
                                                            <td align="right">{{ product.Price | formatPrice }}</td>
                                                            <td align="right">{{ product.Quantity }}</td>
                                                            <td align="right">{{ product.TotalPrice | formatPrice }}</td>
                                                        </tr>

                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="5">Tổng tiền hàng:</td>
                                                            <td align="right"><b>{{  order.OrderPrice | formatPrice }}</b></td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="5">Giảm giá hóa đơn:</td>
                                                            <td align="right">{{  order.Discount | formatPrice }}</td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="5">Chi phí vận chuyển:</td>
                                                            <td align="right">{{  order.DeliveryPrice | formatPrice }}</td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="5">Khách phải thanh toán:</td>
                                                            <td align="right">{{  order.TotalPrice | formatPrice }}</td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="5">Khách đã thanh toán:</td>
                                                            <td align="right">{{  order.CustomerPaid | formatPrice }}</td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="5">Khách thanh toán tiếp:</td>
                                                            <td align="right">{{ (order.CashesPaid > order.CustomerPaid | iif : (order.CashesPaid - order.CustomerPaid) : (order.CustomerPaid - order.CashesPaid)) | formatPrice }}</td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="5">Tổng tiển khách trả hàng:</td>
                                                            <td align="right">{{  order.ReturnPaid | formatPrice }}</td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="5">Dư nợ đơn hàng:</td>
                                                            <td align="right">{{  (order.TotalPrice - order.CashesPaid) | formatPrice }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-default" ng-click="updateOrder(order)">
                                                <i class="fa fa-check-square-o" style="color:#666" aria-hidden="true"></i> Lưu
                                            </button> 
                                            <button type="button" class="btn btn-lock" ng-click="openCreateCash(order)" ng-show="(order.TotalPrice - order.CashesPaid) > 0">
                                                <i class="fa fa-sign-in"
                                                   aria-hidden="true"></i> Thanh toán
                                            </button>    
                                            <button type="button" class="btn btn-lock" disabled="disabled" ng-show="(order.TotalPrice - order.CashesPaid) <= 0">
                                                <i class="fa fa-sign-in"
                                                   aria-hidden="true"></i> Đã thanh toán hết
                                            </button>                                     
                                            <button type="button" class="btn btn-lock" ng-controller="ReturnController" ng-click="openReturn(order)" ng-show="order.NewDeliveryStatus==2">
                                                <i class="fa fa-sign-out"
                                                   aria-hidden="true"></i> Trả hàng
                                            </button>
                                            <button type="button" class="btn btn-lock" ng-show="order.NewDeliveryStatus!=2" ng-click="showConfirmCancelOrder(order)">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true" style="color:#fff"></i> Hủy đơn hàng
                                            </button>
                                        </div>
                                    </uib-tab>
                                    @*<uib-tab index="1" heading="Hàng hóa" ng-click="loadOrderProducts(order);">
                                        <div class="table-responsive table-othe">
                                            <table class="table">
                                                <thead>
                                                    <tr class="success">
                                                        <th align="left">Tên hàng hóa</th>
                                                        <th align="left">Đơn vị</th>
                                                        <th align="left">Số lượng</th>
                                                        <th align="right">Thành tiền</th>                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="product in order.products">
                                                        <td><a href="#"><b>{{ product.ProductName }}<br />{{ product.SubName }}</a></b></td>
                                                        <td><a href="#">{{ product.unit.Name }}</a></td>
                                                        <td align="left">{{ product.Quantity }}</td>
                                                        <td align="right">{{ product.TotalPrice | formatPrice }}</td>                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </uib-tab>*@
                                    <uib-tab index="1" heading="Lịch sử thanh toán" ng-click="loadOrderCashes(order,1);">
                                        <div class="table-responsive table-othe">
                                            <div class="table-detail">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã phiếu</th>
                                                            <th align="left">Người bán</th>
                                                            <th align="left">Phương thức</th>
                                                            <th align="right">Tiền đã trả</th>
                                                            <th align="right">Tổng tiền</th>
                                                            <th align="right">Trạng thái</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cash in order.cashes">
                                                            <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                                            <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                                            <td align="left">{{ findMethod(cash) }}</td>
                                                            <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                                            <td align="right">{{ cash.Total | formatPrice }}</td>
                                                            <td align="right">{{ findPaymentStatus(cash.PaymentStatus) }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                                <div class="newsdetail-pagging" style="width:100%">
                                                    <ul uib-pagination boundary-links="true" total-items="itemorder_count" ng-model="orderpage" ng-show="itemorder_count" items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadOrder(customer,orderpage);" rotate ="true" max-size="10"></ul>
                                                </div>
                                            </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCashIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center box-popupB">
                <div class="modal-content" style="overflow: hidden;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Lập phiếu thu</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Mã phiếu thu</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Mã mặc định" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Loại thu</div>
                                <div class="col-md-9">
                                    <div class="selectbox-Sp left">
                                        <select class="form-control" id="ddlGroup" ng-model="newCashIn.CashTypeId" ng-init="newCashIn.CashTypeId = '-1'">
                                            <option value="-1">-- Lựa chọn loại thu --</option>
                                            <option ng-repeat=" cashType in cashTypes" value="{{ cashType.CashTypeId }}">{{ cashType.Name }}</option>
                                        </select>
                                        <button class="plus-btn" data-toggle="modal" data-target="#addCashType">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style=""> Người nộp </div>
                                <div class="col-md-9">
                                    <p style="color:red;font-weight:bold;"> {{ newCashIn.TargetName }} </p>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Phiếu liên quan </div>
                                <div class="col-md-9">
                                    <p style="font-weight:bold;"> Phiếu mua hàng </p>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Giá trị</div>
                                <div class="col-md-9">
                                    <input type="text" placeholder="Giá trị" class="form-control" ng-model="newCashIn.PaidAmount" ng-required format="displayprice">
                                    <span style="right:0px;top:10px;" class="err_msg" ng-show="newCashIn.PaidAmount == '' || newCashIn.PaidAmount == undefined || newCashIn.PaidAmount == 0">*</span>
                                </div>
                            </div>
                            <div class="col-md-12 customer-item">
                                <div class="col-md-3" style="">Ghi chú</div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" ng-model="newCashIn.Note" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer left w100pt">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-ban"></span>Hủy</button>
                            <button type="button" class="btn btn-success" ng-click="createCash();"><span class="fa fa-save"></span>Lưu &amp; Thêm mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup cateModal" id="addCashType" tabindex="-1" style="z-index:9999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm loại phiếu thu</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        <label for="input">Mã phiếu</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newCashType.CashTypeCode" placeholder="Mã phiếu (VD : PTA, PTB..)">
                            <span class="err_msg" ng-show="newCashType.CashTypeCode == '' || newCashType.CashTypeCode == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label for="input">Tên loại phiếu</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newCashType.Name" placeholder="Nhập tên phiếu">
                            <span class="err_msg" ng-show="newCashType.Name == '' || newCashType.Name == undefined">*</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="createCashType();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>