﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý page";
}

<style>

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
</style>

<div ng-controller="PageController" ng-init="Group = @ViewBag.Group;FacebookUserId = @ViewBag.FacebookUserId; init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý page </h2>
                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Ảnh đại diện</th>
                        <th>Tên page</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-repeat=" page in pages track by $index">
                        <td><b>{{$index + 1}}</b></td>
                        <td align="left"><img style="float:left;" src="http://graph.facebook.com/{{page.id}}/picture?type=square" width="50" height="50"></td>
                        <td>{{ page.name }}</td>
                        <td>{{ page.isSubscribed ? "Đã liên kết" : "Liên kết" }}</td>
                        @if (Session["Group"].ToString() == "Admin")
                        {
                            <td align="right">
                                <img src="/develop/img/loading.gif" width="28" height="28" ng-show="page.isLinking" />
                                <button type="button" ng-show="!page.isSubscribed" class='{{ page.isSubscribed ? "btn bt-huy" : "btn bt-huy"}}' ng- ng-cl ng-click="linkFanPage($event,page)" ng-disabled="page.isLinking">{{page.isSubscribed ? "Đã liên kết" : "Liên kết"}}</button>
                                <button type="button" class="btn bt-huy" ng-show="page.isSubscribed" ng-click="unlinkFanPage($event,page)" ng-disabled="page.isLinking">Hủy liên kết</button>
                                <button type="button" class="btn bt-huy" ng-click="showDownloadContent(page);" ng-show="page.isSubscribed"><img src="/develop/img/download.png" width="20" height="20" /></button>
                            </td>
                        }
                    </tr>
                    @if (Session["Group"].ToString() == "Admin")
                    {
                        <tr ng-show="showLogin">
                            <td colspan="4">
                                <input type="button" class="btn bt-login-face" ng-click="loginFacebook();" value="Đăng nhập Facebook để lấy page" />
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade box-popup" id="downloadContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Tải dữ liệu</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        Tải dữ liệu cho page {{ selectedPage.name }}
                    </div>
                    <div class="form-group row form-pad">
                        <label>Chọn thời gian</label>
                        <div>
                            <div class="form-group">
                                <select class="form-control" id="ddlTime" ng-model="selectedTime" ng-init="selectedTime = '1'">
                                    <option value="1">1 ngày</option>
                                    <option value="2">2 ngày</option>
                                    <option value="3">3 ngày</option>
                                    <option value="7">7 ngày</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="downloadContent();"><span class="fa fa-save"></span>Tải dữ liệu <img src="/develop/img/loading.gif" width="28" height="28" ng-show="selectedPage.isDownloading" /></button>
                </div>
            </div>
        </div>
    </div>

</div>