﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý giá sản phẩm";
}

<div ng-controller="ProductPriceController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Thiết lập giá</h2>
                    <a href="#" class="addPro hidden"><i class="fa fa-plus" aria-hidden="true"></i> Thêm sản phẩm</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.category" ng-init="q.category = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Loại hàng</option>
                        <optgroup ng-repeat="category in categories" label="{{ category.CategoryName }}">
                            <option ng-repeat="childCategory in category.children" value="{{ childCategory.CategoryId }}">{{ childCategory.CategoryName }}</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.allowsell" ng-init="q.allowsell = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Tất cả</option>
                        <option value="0">Đang kinh doanh</option>
                        <option value="1">Đã ngừng kinh doanh</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <div class="col-md-10">
                        <input class="form-control" ng-model="q.txtSearch" ng-change="onQueryChange()" placeholder="Tìm kiếm sản phẩm">
                    </div><i class="fa fa-search" data-selector="true" title="Tìm kiếm sản phẩm"></i>
                </div>
               

                <h2>Số bản ghi :</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">                      
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Tên hàng hóa</th>
                        <th>Tồn kho</th>
                        <th>Đơn vị</th>
                        <th>Giá nhập cuối</th>
                        <th>Giá nhập trung bình</th>
                        <th>Giá bán</th>
                        <th>Giá bán mới</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: productPrice.isExpand}" ng-repeat-start=" productPrice in productPrices" ng-click="loadImport(productPrice);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ productPrice.ProductCode}}</td>
                        <td><a href="#">{{ productPrice.ProductName + " " + productPrice.SubName }}</a></td>
                        <td>{{ productPrice.stock != null | iif : sumStock(productPrice.stock) : 0 }}</td>
                        <td>                            
                            <a href="#" style="color:blue;" popover-trigger="'outsideClick'" uib-popover-template="'popoverUnit.html'"
                               popover-append-to-body="true" popover-is-open="productPrice.isPopoverOpen" ng-click="productPrice.isPopoverOpen = !productPrice.isPopoverOpen; productPrice.isExpand = !productPrice.isExpand"
                               popover-placement="bottom">{{ productPrice.prices != null | iif : findBaseUnit(productPrice) : ""}}<span class="fa fa-angle-down"></span></a>
                        </td>
                        <script type="text/ng-template" id="popoverUnit.html">
                            <div ng-repeat="price in productPrice.prices" ng-click="changeUnit(productPrice,$index);">{{  price.unit.Unit }}</div>
                        </script>
                        <td>{{ productPrice.prices != null | iif : (findOriginPrice(productPrice) | formatPrice) : "" }}</td>
                        @*<td>{{ productPrice.AverageImportPrice | formatPrice }}</td>*@    
                        <td>{{ productPrice.prices != null | iif : (findAverageImportPrice(productPrice) | formatPrice) : "" }}</td>                 
                        <td>{{ productPrice.prices != null | iif : (findSalePrice(productPrice) | formatPrice) : 0 }}</td>
                        <td width="150"><input type="text" popover-class="" style="background-color:#fff;" readonly="readonly" class="form-control"
       value="{{ productPrice.prices != null | iif : findSalePriceWithFormat(productPrice) | formatPrice : 0 }}" popover-trigger="'outsideClick'"
       uib-popover-template="'popoverChangePrice.html'" popover-is-open="productPrice.isPopoverPriceOpen" popover-append-to-body="true"
       ng-click="productPrice.isPopoverPriceOpen = !productPrice.isPopoverPriceOpen; productPrice.isExpand = !productPrice.isExpand" popover-placement="bottom-right" ng-init="itemInit(productPrice)">
                        </td>
                        <script type="text/ng-template" id="popoverChangePrice.html">                           
                            <div class="sb_dropdown" ng-init="itemInit(productPrice);">
                                <div class="left boxPrice">
                                    <div class="left text-left price-new">
                                        Giá mới <b>[{{ productPrice.newPrice | formatPrice }}]</b> =
                                    </div>
                                    <div class="boxPriceRight">
                                        @*<div class="selectbox-Sp left">
                                            <select class="form-control" ng-model="productPrice.priceSelect" ng-init="productPrice.priceSelect = '0'" ng-change="changeOption(productPrice)">
                                                <option value="0">Giá hiện tại</option>
                                                <option value="1">Giá nhập trung bình</option>
                                                <option value="2">Giá nhập cuối cùng</option>
                                            </select>
                                        </div>*@
                                        <div class="left acc-ebb">
                                            <button class="btn-acc acc-ebb-bt" ng-click="changeOperator(productPrice,0)" ng-class="productPrice.operator == '+' ? 'active' : ''">
                                                <span class="ion-plus-round"></span>
                                            </button>
                                            <button class="btn-ebb acc-ebb-bt" ng-click="changeOperator(productPrice,1)" ng-class="productPrice.operator == '-' ? 'active' : ''">
                                                <span class="ion-minus-round"></span>
                                            </button>
                                        </div>
                                        <div class="left form-input">
                                            <input type="text" class="form-control text-right"
                                                   placeholder="0" ng-model="productPrice.changeValue" ng-change="changePrice(productPrice)" format="displayprice" />
                                        </div>
                                        <div class="left dv-price">
                                            <button class="acc-ebb-bt dv-price-vnd" ng-click="changeOperatorValue(productPrice,0)" ng-class="productPrice.operatorValue == 'VND' ? 'active' : ''">VND</button>
                                            <button class="acc-ebb-bt dv-price-pt" ng-click="changeOperatorValue(productPrice,1)" ng-class="productPrice.operatorValue == 'PER' ? 'active' : ''">%</button>
                                        </div>
                                        <div class="right dv-price" style="margin-top:10px;">
                                            <button class="acc-ebb-bt dv-price-vnd active" ng-click="updatePrice(productPrice);">Áp dụng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>             
                        </script>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="productPrice.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Lịch sử thiết lập giá bán">
                                        <div class="table-responsive table-othe">
                                            <table class="table">
                                                <thead>
                                                    <tr class="success">
                                                        <th align="left">Thời gian</th>
                                                        <th align="right">Giá bán</th>
                                                        <th align="right">Đơn vị</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="import in productPrice.imports">
                                                        <td align="left">{{ import.CreatedAt }}</td>
                                                        <td align="right">{{ import.SalePrice | formatPrice }}</td>
                                                        <td align="right">{{ import.ProductUnitName }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
            </div>
        </div>
    </div>
</div>