﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý sản phẩm";
}

<style>
    .tooltip {
        white-space: pre-wrap;
    }

    [uib-typeahead-popup].dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }
    .opparent{
        font-weight:bold;
    }
    
</style>

<script>
    function isNumeric(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

</script>
<div ng-controller="ProductController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý Sản phẩm </h2>
                    <a href="#" class="addPro" ng-click="openCreateProductDialog();"><i class="fa fa-plus" aria-hidden="true"></i> Thêm sản phẩm</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="../api/app/exportExcel" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                    <button class="hidden" ng-json-export-excel data="products" report-fields="{ProductCode: 'Mã hàng', ProductName: 'Tên hàng'}" separator="," filename="'danh-sach-hang-hoa'">Xuất file</button>
                </div>
                <div class="boxSearch right col-sm-3 hidden">
                    <form class="form-inline">
                        <div class="form-group form-control">
                            <input type="email" class="" id="exampleInputEmail3" placeholder="Tìm kiếm thông tin">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!--box-store-list -->
        <div class="box-store-list left w100pt productable">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2 typeSearch">
                    <select class="form-control" ng-model="q.category" ng-init="q.category = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Loại hàng</option>
                        <option ng-repeat="category in categoriallchil" label="{{ category.CategoryName }}" class="{{ category.Class }}" value="{{category.CategoryId}}">
                            @*<option ng-repeat="childCategory in category.children" value="{{ childCategory.CategoryId }}">{{ childCategory.CategoryName }}</option>*@
                        </option>
                    </select>
                </div>  
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.allowsell" ng-init="q.allowsell = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Tất cả</option>
                        <option value="0">Đang kinh doanh</option>
                        <option value="1">Ngừng kinh doanh</option>
                        <option value="2">Còn hàng</option>
                        <option value="3">Hết hàng</option>
                    </select>
                </div>
                <div class="lengthpage">
                    <h2>Số bản ghi :</h2>
                    <div class="col-sm-1 ">
                        <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1 right hide" style="padding-right: 0px">
                    <div class="button-group numberColum right">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle " data-toggle="dropdown">
                            Xuất dữ liệu <i class="fa fa-align-left" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">

                            <li>
                                <a href="#" class="small" data-ng-click="exportAction('csv')"> Xuất CSV </a>
                            </li>
                            <li>
                                <a href="#" class="small" data-ng-click="exportAction('excel')"> Xuất Excel </a>
                            </li>
                            <li>
                                <a href="#" class="small" data-ng-click="exportAction('doc')"> Xuất Word</a>
                            </li>
                            <li>
                                <a href="#" class="small" data-ng-click="exportAction('pdf')"> Xuất Pdf</a>
                            </li>
                            <li>
                                <button class="btn btn-primary" ng-print print-element-id="report"><i class="fa fa-print"></i> Print</button>
                            </li>
                        </ul>

                    </div>
                </div>
                <button class="btn btn-link left hide" ng-click="exportToExcel('#report')">
                    <span class="glyphicon glyphicon-share"></span>
                    Export to Excel
                </button>
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive export-table">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th></th>
                        <th>Tên hàng hóa</th>
                        <th>Giá nhập trung bình</th>
                        <th>Giá bán</th>
                        <th>Tồn kho</th>
                        <th>Giá trị tồn</th>
                        <th>Nhóm hàng</th>
                        <th>Trạng thái</th>
                    </tr>
                    <tr>
                        <th colspan="6" style="text-align:left;">Số sản phẩm: {{ metadata.Count }}</th>
                        <th>{{ metadata.TotalStock }} </th>
                        <th>{{ metadata.TotalStockPrice | formatPrice }}</th>
                        <th colspan="2"></th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: product.isExpand}" ng-repeat-start=" product in products" ng-click="expandDetail(product);" ng-if="product.PAStatus != 99">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ product.ProductCode}}</td>
                        <td class="imgSP"><div> <img ng-src='{{ getFirstImage(product.images) }}' style="width:45px; height:45px;"/> </div></td>
                        <td><a href="#">{{ (product.ProductName + " " + product.SubName) | displaystring : 25 }}</a></td>
                        <td>{{ product.prices != null | iif : (findAverageImportPrice(product.prices) | formatPrice) : "" }}</td>
                        <td>{{ product.prices != null | iif : (findSalePrice(product.prices) | formatPrice) : "" }}</td>
                        <td>
                            {{ product.stock != null | iif : sumStock(product.stock) : 0 }}
                            <i href="#" class="fa fa-exclamation-triangle red-tooltip" data-html="true" ng-show="product.isInvalidQuantity" style="white-space: pre-wrap;" tooltip-placement="right" uib-tooltip="{{ product.tooltip }}"></i>
                        </td>
                        <td>{{ (product.stock != null && product.prices != null) | iif : (sumStock(product.stock) * findAverageImportPrice(product.prices) | formatPrice) : "0" }}</td>
                        <td>{{ product.category.CategoryName }}</td>
                        <td>{{ product.PAStatus != 98 | iif : "Đang kinh doanh" : "Ngừng kinh doanh" }}</td>
                        @*<td>
                    <button class="btn btn-delete" ng-click="deleteProduct();"><i class="fa fa-times" aria-hidden="true"></i></button>
                </td>*@
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="product.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div id="detail_product_picture">
                                            <div uib-carousel active="active">
                                                <div uib-slide ng-repeat=" image in product.images track by image.ProductImageId" index="$index">
                                                    <img ng-src="{{image.Path}}" style="margin:auto;max-height:300px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="info-product-right left">
                                            <h1>{{ product.ProductName + " " + product.SubName }}</h1>
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Mã sản phẩm: &nbsp;</span> {{ product.ProductCode}}</li>
                                                    <li><span class="txt-left">Giá bán:&nbsp; </span> {{ product.prices != null | iif : (findSalePrice(product.prices) | formatPrice) : "" }} đ</li>
                                                    <li><span class="txt-left">Giá nhập trung bình:&nbsp; </span> {{ product.prices != null | iif : (findAverageImportPrice(product.prices) | formatPrice) : "" }} đ</li>
                                                    <li>
                                                        <span class="txt-left">Tồn kho:&nbsp;</span> <span class="cl-red">{{ product.stock != null | iif : sumStock(product.stock) : 0 }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left">Nhóm hàng:&nbsp;</span> {{ product.category.CategoryName }}</li>
                                                    <li><span class="txt-left">Định mức:&nbsp;</span> {{ product.MinStock }} > {{ product.StockLimit }}</li>
                                                    <li>
                                                        <span class="txt-left">Trạng thái:&nbsp;</span> <span class="cl-green">{{ product.PAStatus != 98 | iif : "Đang kinh doanh" : "Ngừng kinh doanh" }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-success btn-update" ng-click="openEditProductDialog(product);">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                                            </button>
                                            <button type="button" class="btn btn-warning btn-lock" ng-click="stopProduct(product)">
                                                <i class="fa fa-lock"
                                                   aria-hidden="true"></i>
                                                {{ product.PAStatus == 98 | iif : "Đang kinh doanh" : "Ngừng kinh doanh" }}
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="showConfirmDeleteProduct(product)">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true"></i> Xóa
                                            </button>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Xuất - Nhập - Tồn" ng-click="loadExims(product,1);">
                                        <div class="table-responsive table-othe">
                                            <div class="table-detail">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Chứng từ</th>
                                                            <th align="left">Hành động</th>
                                                            <th align="left">Tên đối tác</th>
                                                            <th align="right">Chi nhánh</th>
                                                            <th align="left">Thời gian</th>
                                                            <th align="right">Giá</th>
                                                            <th align="right">Số lượng</th>
                                                            <th align="right">Tồn cuối</th>
                                                            <th align="right">Trạng thái</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="exim in product.exims">
                                                            <td><a href="#"><b>{{ exim.EximsCode }}</a></b></td>
                                                            <td align="right">{{ exim.Type==0 | iif : "Nhập hàng" : "Xuất hàng" }}</td>
                                                            <td><a href="#">{{ exim.branch.BranchName }}</a></td>
                                                            <td><a href="#">{{ exim.target==null | iif : "Khách trả hàng" : exim.target.TargetName }}</a></td>
                                                            <td align="left">{{ exim.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                                                            <td align="right">{{ exim.EximsPrice | formatPrice }}</td>
                                                            <td align="right">{{ exim.Quantity }}</td>
                                                            <td align="right">{{ exim.Type==1 | iif : (exim.PreviousStock + " > " + exim.LastStock) : (exim.PreviousStock + " < " + exim.LastStock) }}</td>
                                                            <td align="right">Hoàn Thành</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                                <div class="newsdetail-pagging" style="width:100%">
                                                    <ul uib-pagination boundary-links="true" total-items="itemExims_count" ng-model="Eximspage" ng-show="itemExims_count" items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadExims(product,Eximspage);" @*rotate ="true" max-size="10"*@></ul>
                                                </div>
                                            </div>
                                    </uib-tab>

                                    <uib-tab index="3" heading="Kho hàng">
                                        <div class="table-responsive table-othe">
                                            <table class="table">
                                                <thead>
                                                    <tr class="success">
                                                        <th align="left">Chi nhánh</th>
                                                        <th align="left">Tồn kho</th>

                                                    </tr>
                                                </thead>
                                                <tbody class="tbodydetail">
                                                    <tr ng-repeat="s in product.stock">
                                                        <td><a href="#"><b>{{ s.BranchName }}</a></b></td>
                                                        <td><a href="#">{{ s.Stock }}</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="news-pagging">
            <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
        </div>
    </div>
    <div class="modal fade product-modal in" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="myProductModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm sản phẩm</h4>
                </div>
                <div class="modal-body add-product" ng-form name="frmAddProduct">
                    <div class="left-modal">
                        <div class="product-title">Thông tin cơ bản</div>
                        <div class="form-group row">
                            <label for="input" class="col-form-label">
                                Mã sản phẩm:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Mã hàng hóa là thông tin duy nhất">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <input type="text" class="form-control" id="input0" placeholder="Mã hàng tự động" ng-model="newProduct.ProductCode" disabled="disabled">
                        </div>
                        <div class="form-group row">
                            <label for="input" class="col-form-label">
                                Tên sản phẩm:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Tên hàng là tên của sản phẩm">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <input type="text" class="form-control" id="input1" placeholder="Nhập tên sản phẩm" ng-model="newProduct.ProductName" ng-init="newProduct.ProductName =''" ng-required="true">
                            <span class="err_msg2" ng-show="newProduct.ProductName == ''">*</span>
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhóm hàng:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Lựa chọn nhóm hàng cho sản phẩm, Nếu chưa có bạn có thể thêm mới bằng cách nhấn vào nút +">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlCategory" ng-model="newProduct.CategoryId" ng-init="newProduct.CategoryId = '-1'" ng-required="true" ng-pattern="/^[0-9]*$/">
                                    <option value="-1">-- Lựa chọn danh mục --</option>
                                    <option ng-repeat="category in categoriallchil" label="{{ category.CategoryName }}" class="{{category.Class}}" value="{{category.CategoryId}}"></option>
                                        
                                </select>
                                <button class="plus-btn" data-toggle="modal"
                                        data-target="#addCategory">
                                    +
                                </button>
                            </div>
                            <span class="err_msg2" ng-show="newProduct.CategoryId == '-1' || newProduct.CategoryId == -1 || newProduct.CategoryId == undefined">*</span>
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhãn hiệu:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Lựa chọn nhãn hiệu cho sản phẩm, Nếu chưa có bạn có thể thêm mới bằng cách nhấn vào nút +">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlManufacture" ng-model="newProduct.ManufactureId" ng-init="newProduct.ManufactureId = '-1'" ng-required="true" ng-pattern="/^[0-9]*$/">
                                    <option value="-1">-- Lựa chọn nhãn hiệu --</option>
                                    <option ng-repeat="manufacture in manufactures" value="{{ manufacture.ManufactureId }}">{{ manufacture.Name }} {{manufacture.Origin? '-'+manufacture.Origin:''}}</option>
                                </select>
                                <button class="plus-btn" data-toggle="modal"
                                        data-target="#createManufacture">
                                    +
                                </button>
                            </div>
                            <span class="err_msg2" ng-show="newProduct.ManufactureId == '-1' || newProduct.ManufactureId == -1 || newProduct.ManufactureId == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label for="input" class="col-form-label">
                                Giá bán:

                            </label>
                            <input type="text" onkeypress="return isNumeric(event)" class="form-control text-right" id="input2" ng-model="newProduct.SalePrice"
                                   placeholder="Giá bán" ng-required="true" format="displayprice" ng-pattern="/^[0-9\./,]*$/">
                            <span class="err_msg2" ng-show="newProduct.SalePrice == '' || newProduct.SalePrice == undefined || parseInt(newProduct.SalePrice) <= 0">*</span>
                        </div>
                        @*<div class="form-group row">
                            <label for="input" class="col-form-label">
                                Giá vốn:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Giá vốn dùng để tính lợi nhuận cho sản phẩm (sẽ tự động thay đổi khi thay đổi phương pháp tính giá vốn)">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <input type="text" class="form-control text-right" id="input3" placeholder="Giá vốn" ng-model="newProduct.OriginPrice" ng-required="true" format="displayprice" ng-pattern="/^[0-9,]*$/">
                            <span class="err_msg2" ng-show="newProduct.OriginPrice == '' || newProduct.OriginPrice == undefined || parseInt(newProduct.OriginPrice) <= 0">*</span>
                        </div>*@
                        <div class="form-group row">
                            <label for="input" class="col-form-label">Ảnh sản phẩm</label>
                            <article>
                                <span class="hidden-xs"><i class="fa fa-camera"></i>Nhập ảnh sản phẩm (tỉ lệ 1 : 1)</span>
                                <input id="files" type="file" multiple accept="image/png,image/jpg,image/jpeg" ng-file-select="onFileSelect($files)" validfile />
                                <output id="result">
                                    <productimage files="files"></productimage>
                                </output>
                            </article>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="product-title">Thông tin thêm</div>
                        <section class="accordion">
                            <div data-type="accordion-section" data-filter="type1" class="accordion-item">
                                <h3 data-type="accordion-section-title">Mô tả chi tiết</h3>
                                <div class="accordion-content dinh-muc" data-type="accordion-section-body">
                                    <div class="lable-muc left w100pt">Định mức tồn</div>
                                    <div class="form-group row">
                                        <label for="input" class="col-form-label">
                                            Ít nhất: <a tabindex="-1"
                                                        class="help icon"
                                                        data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="Tồn ít nhất là tồn tối thiểu của 1 sản phẩm 
Hệ thống sẽ dựa vào thông tin này để cảnh báo nhập thêm sản phẩm">
                                                <i data-selector="true" class="fa fa-info-circle"></i>
                                            </a>
                                        </label>
                                        <input type="text" class="form-control text-right" placeholder="0" ng-model="newProduct.MinStock" ng-init="newProduct.MinStock = 0">

                                    </div>
                                    <div class="form-group row">
                                        <label for="input" class="col-form-label">
                                            Nhiều nhất: <a tabindex="-1"
                                                           class="help icon"
                                                           data-selector="true"
                                                           data-placement="right"
                                                           title="Tồn nhiều nhất là tồn tối đa của 1 sản phẩm 
Hệ thống sẽ dựa vào thông tin này để cảnh báo không nhập thêm hàng">
                                                <i data-selector="true" class="fa fa-info-circle"></i>
                                            </a>
                                        </label>
                                        <input type="text" class="form-control text-right" placeholder="999,999,999" ng-model="newProduct.StockLimit" ng-init="newProduct.StockLimit = 9999">

                                    </div>
                                    <form>
                                        <label>Mô tả chung cho sản phẩm</label>
                                        <textarea name="textarea" id="textarea" rows="10" cols="80" ng-model="newProduct.ProductDesc"> </textarea>
                                    </form>
                                </div>
                            </div>
                            <div data-type="accordion-section" data-filter="type2" class="accordion-item">
                                <h3 data-type="accordion-section-title">Thuộc tính (Màu sắc, Kích thước...)</h3>
                                <div class="accordion-content color_size" data-type="accordion-section-body" id="attributeSets">
                                    <attributeset attributes="attributes"></attributeset>
                                    <button type="button" class="btn btn-secondary" ng-click="addSet();">
                                        Thêm nhóm thuộc tính <span class="ion-ios-plus-empty"></span>
                                    </button>
                                </div>
                            </div>
                            <div data-type="accordion-section" data-filter="type3" class="accordion-item">
                                <h3 data-type="accordion-section-title" class="header-default header-active"> Đơn vị tính </h3>
                                <div class="accordion-content dv-tinh" data-type="accordion-section-body" style="display:block;">
                                    <div class="form-group row" style="padding-bottom: 0px;">
                                        <label for="input" class="col-form-label">Đơn vị Cơ bản</label>
                                        <input type="text" class="form-control" placeholder="Giá trị" ng-model="newProduct.BaseUnit" required>
                                        <p class="txt-dv text-right">Đơn vị của hàng hóa như: hộp, lốc, thùng…</p>
                                        <span class="err_msg2" ng-show="newProduct.BaseUnit == '' || newProduct.BaseUnit == undefined">*</span>
                                    </div>
                                    <div id="newProductUnit" class="hide">
                                        <div class="form-group row" ng-repeat="price in newProduct.units" ng-if="price.Unit != newProduct.BaseUnit && price.Status != 'DELETE'">
                                            <input type="text" class="form-control inputTT" placeholder="Giá trị" ng-model="price.Name">
                                            <input type="text" class="form-control inputTT text-right" placeholder="Số lượng" ng-model="price.Value">
                                            <input type="text" class="form-control inputTT text-right" placeholder="Giá bán" ng-model="price.Price" format="displayprice">
                                            <button type="button" class="btn-close" ng-click="deleteEditProductUnit(price)">
                                                <span class="ion-ios-close-empty"></span>
                                            </button>
                                        </div>
                                        <div class="form-group row">
                                            <input type="text" class="form-control inputTT" placeholder="Giá trị" ng-model="newUnitNew.Name">
                                            <input type="text" class="form-control inputTT text-right" placeholder="Số lượng" ng-model="newUnitNew.Value">
                                            <input type="text" class="form-control inputTT text-right" placeholder="Giá bán" ng-model="newUnitNew.Price" format="displayprice">
                                        </div>
                                        <button type="button" class="btn btn-secondary" ng-click="addUnitNew();">
                                            Thêm đơn vị <span class="ion-ios-plus-empty"></span>
                                        </button>
                                    </div>


                                </div>
                            </div>

                        </section>

                        @*<div class="form-group row" style="margin-top: 20px">
                    <div class="btn-group btnSelect">
                        <div class="checkbox-SP">
                            <input class="magic-checkbox" type="checkbox" id="chkNewSell" ng-model="newProduct.AllowSell" ng-init="newProduct.AllowSell = true" />
                            <label for="chkNewSell">
                                Cho phép bán hàng
                            </label>
                        </div>
                        <div class="checkbox-SP">
                            <input class="magic-checkbox" type="checkbox" id="chkNewOrder" ng-model="newProduct.AllowOrder" ng-init="newProduct.AllowOrder = true"
                                   value="option">
                            <label for="chkNewOrder">
                                Cho phép đặt hàng
                            </label>
                        </div>
                        <div class="checkbox-SP">
                            <input class="magic-checkbox" type="checkbox" id="chkNewDelivery" ng-model="newProduct.AllowDelivery" ng-init="newProduct.AllowDelivery = true"
                                   value="option">
                            <label for="chkNewDelivery">
                                Cho phép chuyển hàng
                            </label>
                        </div>

                    </div>
                </div>*@

                        <div class="modal-footer left w100pt">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelCreate();">
                                <span class="fa fa-ban"></span>Hủy
                            </button>
                            <button type="button" class="btn btn-success" ng-click="createProduct();" id="createProduct">
                                <span class="fa fa-save"></span>Lưu & Thêm mới
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade product-modal in" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="myProductModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Cập nhật sản phẩm</h4>
                </div>
                <div class="modal-body add-product" ng-form name="frmEditProduct">
                    <div class="left-modal">
                        <div class="product-title">Thông tin cơ bản</div>
                        <div class="form-group row">
                            <label for="input" class="col-form-label">
                                Mã sản phẩm:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Mã hàng hóa là thông tin duy nhất">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <input type="text" class="form-control" id="input0" placeholder="Mã hàng tự động" ng-model="editProduct.ProductCode" disabled="disabled">
                        </div>
                        <div class="form-group row">
                            <label for="input" class="col-form-label">
                                Tên sản phẩm:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Tên hàng là tên của sản phẩm">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <input type="text" class="form-control" id="input1" placeholder="Nhập tên sản phẩm" ng-model="editProduct.ProductName" required>
                            <span class="err_msg2" ng-show="editProduct.ProductName == '' || editProduct.ProductName == undefined">*</span>
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhóm hàng:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Lựa chọn nhóm hàng cho sản phẩm, Nếu chưa có bạn có thể thêm mới bằng cách nhấn vào nút +">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlCategory" ng-model="editProduct.CategoryId" required ng-pattern="/^[0-9]*$/">
                                    <option value="-1">-- Lựa chọn danh mục --</option>
                                    <option ng-repeat="category in categoriallchil" label="{{ category.CategoryName }}" value="{{ category.CategoryId }}" class="{{category.Class}}"> 
                                    </option>
                                </select>
                                <button class="plus-btn" data-toggle="modal"
                                        data-target="#addCategory">
                                    +
                                </button>
                            </div>
                            <span class="err_msg2" ng-show="editProduct.CategoryId == '-1'">*</span>
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label">
                                Nhãn hiệu:
                                <a tabindex="-1" class="help icon" data-toggle="tooltip"
                                   data-placement="right" title="Lựa chọn nhãn hiệu cho sản phẩm, Nếu chưa có bạn có thể thêm mới bằng cách nhấn vào nút +">
                                    <i data-selector="true" class="fa fa-info-circle"></i>
                                </a>
                            </label>
                            <div class="selectbox-Sp left">
                                <select class="form-control" id="ddlManufacture" ng-model="editProduct.ManufactureId" required ng-pattern="/^[0-9]*$/">
                                    <option value="-1">-- Lựa chọn nhãn hiệu --</option>
                                    <option ng-repeat=" manufacture in manufactures" value="{{ manufacture.ManufactureId }}">{{ manufacture.Name }}</option>
                                </select>
                                <button class="plus-btn" data-toggle="modal"
                                        data-target="#createManufacture">
                                    +
                                </button>
                            </div>
                            <span class="err_msg2" ng-show="editProduct.ManufactureId == '-1'">*</span>
                        </div>
                        <div class="form-group row">
                            <label for="input" class="col-form-label">
                                Giá bán:

                            </label>
                            <input type="text" class="form-control text-right" id="input2" onkeypress="return isNumeric(event)" ng-model="editProduct.SalePrice" format="displayprice" required ng-pattern="/^[0-9\./,]*$/"
                                   placeholder="Giá bán">
                            <span class="err_msg2" ng-show="editProduct.SalePrice == '' || editProduct.SalePrice == undefined || parseInt(editProduct.SalePrice) <= 0">*</span>
                        </div>
                        <div class="form-group row">
                            <label for="input" class="col-form-label">Ảnh sản phẩm</label>
                            <article>
                                <span class="hidden-xs"><i class="fa fa-camera"></i>Nhập ảnh sản phẩm</span>
                                <input id="files" type="file" multiple accept="image/png,image/jpg,image/jpeg" ng-file-select="onFileSelect($files)" />
                                <output id="resultEdit">
                                    <div ng-repeat="image in editProduct.images" class="image-container">
                                        <img class="thumbnail" src="{{ image.Path }}" />
                                        <a href="javascript:;" style="color:red;text-align:center;" ng-click="deleteProductImage(image);">Xóa</a>
                                    </div>
                                    <productimage files="files"></productimage>
                                </output>
                            </article>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="product-title">Thông tin thêm</div>
                        <section class="accordion">
                            <div data-type="accordion-section" data-filter="type1" class="accordion-item">
                                <h3 data-type="accordion-section-title">Mô tả chi tiết</h3>
                                <div class="accordion-content dinh-muc" data-type="accordion-section-body">
                                    <div class="lable-muc left w100pt">Định mức tồn</div>
                                    <div class="form-group row">
                                        <label for="input" class="col-form-label">
                                            Ít nhất: <a tabindex="-1"
                                                        class="help icon"
                                                        data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="Tồn ít nhất là tồn tối thiểu của 1 sản phẩm (Hệ thống sẽ dựa vào thông tin này để cảnh báo tồn kho tối thiểu)">
                                                <i data-selector="true" class="fa fa-info-circle"></i>
                                            </a>
                                        </label>
                                        <input type="text" class="form-control text-right" placeholder="0" ng-model="editProduct.MinStock">

                                    </div>
                                    <div class="form-group row">
                                        <label for="input" class="col-form-label">
                                            Nhiều nhất: <a tabindex="-1"
                                                           class="help icon"
                                                           data-toggle="tooltip"
                                                           data-placement="right"
                                                           title="Tồn ít nhất là tồn tối thiểu của 1 sản phẩm (Hệ thống sẽ dựa vào thông tin này để cảnh báo tồn kho tối thiểu)">
                                                <i data-selector="true" class="fa fa-info-circle"></i>
                                            </a>
                                        </label>
                                        <input type="text" class="form-control text-right" placeholder="999,999,999" ng-model="editProduct.StockLimit">

                                    </div>
                                    <form>
                                        <label>Mô tả chung cho sản phẩm</label>
                                        <textarea name="textarea" id="textarea" rows="10" cols="80" ng-model="editProduct.ProductDesc"> </textarea>
                                    </form>
                                </div>
                            </div>
                            <div data-type="accordion-section" data-filter="type2" class="accordion-item">
                                <h3 data-type="accordion-section-title">Thuộc tính (Màu sắc, Kích thước...)</h3>
                                <div class="accordion-content color_size" data-type="accordion-section-body" id="attributeSets">
                                    <div class="form-group row" style="padding-bottom: 10px">
                                        <label for="input" class="col-form-label label_1">Thuộc tính</label>
                                        <label for="input" class="col-form-label label_2">Giá trị</label>
                                    </div>
                                    <div class="form-group row">
                                        <table width="100%">
                                            <tr ng-repeat=" attr in editProduct.attrs" ng-if="attr.status != 'DELETE'">
                                                <td>{{ attr.AttributeName }}</td>
                                                <td><input type="text" class="form-control inputTT text-right" placeholder="Giá trị" ng-model="attr.AttributeValue"></td>
                                                <td>
                                                    <button type="button" class="btn-close" ng-click="deleteEditProductAttribute(attr)">
                                                        <span class="ion-ios-close-empty"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="selectbox-Sp left">
                                            <select class="form-control" id="ddlAttribute" ng-model="editProductNewAttribute.AttributeId" ng-init="editProductNewAttribute.AttributeId = '-1'">
                                                <option value="-1">-- Lựa chọn thuộc tính --</option>
                                                <option ng-repeat=" attribute in attributes" value="{{ attribute.AttributeId }}">{{ attribute.AttributeName }}</option>
                                            </select>
                                            <button class="plus-btn" data-toggle="modal" data-target="#createAttribute">
                                                +
                                            </button>
                                        </div>
                                        <input type="text" class="form-control inputTT" placeholder="Giá trị" ng-model="editProductNewAttribute.AttributeValue">
                                    </div>
                                    <button type="button" class="btn btn-secondary" ng-click="addEditProductAttribute();">
                                        Thêm thuộc tính <span class="ion-ios-plus-empty"></span>
                                    </button>
                                </div>
                            </div>
                            <div data-type="accordion-section" data-filter="type3" class="accordion-item">
                                <h3 data-type="accordion-section-title" class="header-default header-active">Đơn vị tính</h3>
                                <div class="accordion-content dv-tinh" data-type="accordion-section-body" style="display: block;">
                                    <div class="form-group row" style="padding-bottom: 0px;">
                                        <label for="input" class="col-form-label">Đơn vị Cơ bản</label>
                                        <input type="text" class="form-control" placeholder="Giá trị" ng-model="editProduct.BaseUnit" required>
                                        <p class="txt-dv text-right">Đơn vị của hàng hóa như: hộp, lốc, thùng…</p>
                                        <span class="err_msg2" ng-show="editProduct.BaseUnit == '' || editProduct.BaseUnit == undefined">*</span>
                                    </div>

                                    <div id="editProductUnit" class="hide">
                                        <div class="form-group row" ng-repeat="price in editProduct.prices" ng-if="price.Unit != editProduct.BaseUnit && price.Status != 'DELETE'">
                                            <input type="text" class="form-control inputTT" placeholder="Giá trị" ng-model="price.Unit">
                                            <input type="text" class="form-control inputTT text-right" placeholder="Số lượng" ng-model="price.Quantity">
                                            <input type="text" class="form-control inputTT text-right" placeholder="Giá bán" ng-model="price.SalePrice" format="displayprice">
                                            <button type="button" class="btn-close" ng-click="deleteEditProductUnit(price)">
                                                <span class="ion-ios-close-empty"></span>
                                            </button>
                                        </div>
                                        <div class="form-group row">
                                            <input type="text" class="form-control inputTT" placeholder="Giá trị" ng-model="newUnit.Unit">
                                            <input type="text" class="form-control inputTT text-right" placeholder="Số lượng" ng-model="newUnit.Quantity" required ng-pattern="/^[0-9,]*$/">
                                            <input type="text" class="form-control inputTT text-right" placeholder="Giá bán" ng-model="newUnit.SalePrice" format="displayprice" required ng-pattern="/^[0-9\./,]*$/">
                                        </div>
                                        <button type="button" class="btn btn-secondary" ng-click="addUnit();">
                                            Thêm đơn vị <span class="ion-ios-plus-empty"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="modal-footer left w100pt">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelUpdate();">
                                <span class="fa fa-ban"></span>Hủy
                            </button>
                            <button type="button" class="btn btn-success" ng-click="updateProduct();">
                                <span class="fa fa-save"></span>Cập nhật
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup cateModal" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm nhóm</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        <label for="input">Tên nhóm</label>
                        <div>
                            <input type="text" class="form-control" maxlength="49" name="CategoryName" id="txtCategoryName" ng-model="newCategory.CategoryName" ng-init="newCategory.CategoryName = ''" placeholder="Nhập tên nhóm">
                            <span class="err_msg" ng-show="newCategory.CategoryName == '' || newCategory.CategoryName == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label>Nhóm cha</label>
                        <div>
                            <div class="form-group">
                                <select class="form-control" id="ddlCategory" ng-model="newCategory.CategoryParentId" ng-init="newCategory.CategoryParentId = '-1'">
                                    <option value="-1">-- Lựa chọn nhóm cha --</option>
                                    <option ng-repeat="category in categories" value="{{ category.CategoryId }}">{{ category.CategoryName }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" id="createCategory" ng-click="createCategory();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup cateModal" id="createManufacture" tabindex="-1" style="z-index:9999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm nhãn hiệu</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        <label for="input">Tên nhãn hiệu</label>
                        <div>
                            <input type="text" name="newManufactureName" class="form-control" ng-model="newManufacture.Name" placeholder="Nhập tên nhãn hiệu">
                            <span class="err_msg" ng-show="newManufacture.Name == '' || newManufacture.Name == undefined">*</span>
                        </div>
                    </div>
                    <div class="form-group row form-pad">
                        <label for="input">Xuất xứ</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newManufacture.Origin" placeholder="Nhập xuất xứ">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" id="createManufacture" ng-click="createManufacture();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade box-popup cateModal" id="createAttribute" tabindex="-1" style="z-index:99999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-list-ul"></span>Thêm thuộc tính</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-pad">
                        <label for="input">Tên thuộc tính</label>
                        <div>
                            <input type="text" class="form-control" ng-model="newAttribute.AttributeName" placeholder="Nhập tên thuộc tính">
                            <span class="err_msg" ng-show="newAttribute.AttributeName == '' || newAttribute.AttributeName == undefined">*</span>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fa fa-ban"></span>Hủy
                    </button>
                    <button type="button" class="btn btn-success" ng-click="createAttribute();"><span class="fa fa-save"></span>Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

