﻿@{
    ViewBag.Title = "Báo cáo bán hàng";
    Layout = "~/Views/Shared/_HomeShared.cshtml";
}

<div ng-controller="ReportSaleController" ng-init="init();">
    <div class="hidden">
        <input id="reportBranchId" type="text" value="@ViewBag.BranchId" />
    </div>
    <div class="box-general-store left w100pt">
        <div class="left col-lg-10" id="divDoc">
            <div class="box-store-list left w100pt">
                <div class="boxfiter w100pt left">
                    <h2>Bộ lọc</h2>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="reportBranchId" ng-init="reportBranchId = BranchId+''" required ng-pattern="/^[0-9]*$/" ng-change="selectBranch();">
                            @*<option value="-1">Chọn chi nhánh</option>*@
                            <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                        </select>
                    </div>
                    @*<div class="col-sm-2">
                            <select class="form-control" ng-model="q.allowsell" ng-init="q.allowsell = '-1'" ng-change="onQueryChange()">
                                <option value="-1">Tất cả</option>
                                <option value="0">Đang kinh doanh</option>
                                <option value="1">Đã ngừng kinh doanh</option>
                            </select>
                        </div>*@
                    <h2>Số bản ghi :</h2>
                    <div class="col-sm-1">
                        <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <a class="btn btn-primary right" ng-click="printSale();"><i class="fa fa-print"></i></a>
                </div>
                <div ng-model="saleUrl" ng-include="saleUrl"></div>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()"></ul>
            </div>
        </div>
        <div class="left col-lg-10 hide" id="divChart">
            <div class="box-store-list left w100pt">
                <div class="table-list w100pt left">
                    <div id="content">
                        <div ng-model="saleUrlChart" ng-include="saleUrlChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col-lg-2 box-notifile">
                <div class="lable left">
                    <h1>
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        Kiểu hiển thị
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <div id="typeChart">
                        <input type="radio" name="typeReport" id="typeReportChart" ng-click="saleChart();" /> Biểu đồ
                    </div>
                    <div id="typeDoc">
                        <input type="radio" name="typeReport" id="typeReportDoc" ng-click="saleDoc();" checked="checked" /> Báo cáo
                    </div>
                </div>
                <div class="lable left">
                    <h1>
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        Mối quan tâm
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <input type="radio" name="saleReport" id="saleTime" ng-click="saleTime()" checked="checked" />
                    <span style="color: #333339;"> Thời gian </span>
                    <br />
                    <input type="radio" name="saleReport" id="saleProfit" ng-click="saleProfit()" />
                    <span style="color: #333339;"> Lợi nhuận </span>
                    <br />
                    <input type="radio" name="saleReport" id="saleSubPrice" ng-click="saleSubPrice()" />
                    <span style="color: #333339;"> Giảm giá </span>
                    <br />
                    <input type="radio" name="saleReport" id="saleReturnProduct" ng-click="saleReturnProduct()" />
                    <span style="color: #333339;"> Trả hàng </span>
                    <br />
                    <input type="radio" name="saleReport" id="saleEmployees" ng-click="saleEmployees()" />
                    <span style="color: #333339;"> Nhân viên </span>
                </div>
                <div class="lable left">
                    <h1>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Thời gian
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <input type="radio" name="productReportTime" id="saleTime1" ng-click="saleTime1()" />
                    <span style="color: #333339;"> Hôm nay </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime11" ng-click="saleTime11()" />
                    <span style="color: #333339;"> Hôm qua </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime2" ng-click="saleTime2()" checked="checked" />
                    <span style="color: #333339;"> Tuần này </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime21" ng-click="saleTime21()" />
                    <span style="color: #333339;"> Tuần trước </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime22" ng-click="saleTime22()" />
                    <span style="color: #333339;"> 7 ngày qua </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime3" ng-click="saleTime3()" />
                    <span style="color: #333339;"> Tháng này </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime31" ng-click="saleTime31()" />
                    <span style="color: #333339;"> Tháng trước </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime4" ng-click="saleTime4()" />
                    <span style="color: #333339;"> Quý này </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime41" ng-click="saleTime41()" />
                    <span style="color: #333339;"> Quý trước </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime5" ng-click="saleTime5()" />
                    <span style="color: #333339;"> Năm này </span>
                    <br />
                    <input type="radio" name="productReportTime" id="saleTime51" ng-click="saleTime51()" />
                    <span style="color: #333339;"> Năm trước </span>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

