﻿@{
    ViewBag.Title = "Báo cáo hàng hóa";
    Layout = "~/Views/Shared/_HomeShared.cshtml";
}

<div ng-controller="ReportProductController" ng-init="init();">

    <div class="box-general-store left w100pt">
        <div class="left col-lg-10" id="divDoc">
            <div class="box-store-list left w100pt">
                <div class="boxfiter w100pt left">
                    @*<h2>Bộ lọc</h2>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="q.category" ng-init="q.category = '-1'" ng-change="onQueryChange()">
                            <option value="-1">Loại hàng</option>
                            <optgroup ng-repeat=" category in categories" label="{{ category.CategoryName }}">
                                <option ng-repeat=" childCategory in category.children" value="{{ childCategory.CategoryId }}">{{ childCategory.CategoryName }}</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="q.allowsell" ng-init="q.allowsell = '-1'" ng-change="onQueryChange()">
                            <option value="-1">Tất cả</option>
                            <option value="0">Đang kinh doanh</option>
                            <option value="1">Đã ngừng kinh doanh</option>
                        </select>
                    </div>*@
                    <h2>Số bản ghi :</h2>
                    <div class="col-sm-1">
                        <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <a class="btn btn-primary right" ng-click="printProduct();"><i class="fa fa-print"></i></a>
                </div>
                <div ng-model="productUrl" ng-include="productUrl"></div>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()"></ul>
            </div>
        </div>
        <div class="left col-lg-10 hide" id="divChart">
            <div class="box-store-list left w100pt">
                <div class="table-list w100pt left">
                    <div id="content">
                        <div ng-model="productUrlChart" ng-include="productUrlChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col-lg-2 box-notifile">
                <div class="lable left">
                    <h1>
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        Kiểu hiển thị
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <div id="typeChart">
                        <input type="radio" name="typeReport" id="typeReportChart" ng-click="productChart();" /> Biểu đồ
                    </div>
                    <div id="typeDoc">
                        <input type="radio" name="typeReport" id="typeReportDoc" ng-click="productDoc();" checked="checked" /> Báo cáo
                    </div>
                </div>
                <div class="lable left">
                    <h1>
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        Mối quan tâm
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <input type="radio" name="productCare" id="orderProduct" ng-click="productSale()" checked="checked" />
                    <span style="color: #333339;"> Bán hàng </span>
                    <br />
                    <input type="radio" name="productCare" id="productProfit" ng-click="productProfit()" />
                    <span style="color: #333339;"> Lợi nhuận </span>
                    <br />
                    <input type="radio" name="productCare" id="productExims" ng-click="productExims()" />
                    <span style="color: #333339;"> Xuất nhập tồn </span>
                    <br />
                    @*<input type="radio" name="productCare" id="productEximDel" ng-click="productEximDel()" />
                    <span style="color: #333339;"> Xuất hủy </span>
                    <br />*@
                    <input type="radio" name="productCare" id="productEmployees" ng-click="productEmployees()" />
                    <span style="color: #333339;"> Nhân viên </span>
                    <br />
                    <input type="radio" name="productCare" id="productCustomer" ng-click="productCustomer()" />
                    <span style="color: #333339;"> Khách hàng </span>
                    <br />
                    <input type="radio" name="productCare" id="productVendor" ng-click="productVendor()" />
                    <span style="color: #333339;"> Nhà cung cấp </span>
                </div>
                <div class="lable left">
                    <h1>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Thời gian
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <input type="radio" name="productReportTime" id="productTime1" ng-click="productTime1()" />
                    <span style="color: #333339;"> Hôm nay </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime11" ng-click="productTime11()" />
                    <span style="color: #333339;"> Hôm qua </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime2" ng-click="productTime2()" checked="checked" />
                    <span style="color: #333339;"> Tuần này </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime21" ng-click="productTime21()" />
                    <span style="color: #333339;"> Tuần trước </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime22" ng-click="productTime22()" />
                    <span style="color: #333339;"> 7 ngày qua </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime3" ng-click="productTime3()" />
                    <span style="color: #333339;"> Tháng này </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime31" ng-click="productTime31()" />
                    <span style="color: #333339;"> Tháng trước </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime4" ng-click="productTime4()" />
                    <span style="color: #333339;"> Quý này </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime41" ng-click="productTime41()" />
                    <span style="color: #333339;"> Quý trước </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime5" ng-click="productTime5()" />
                    <span style="color: #333339;"> Năm này </span>
                    <br />
                    <input type="radio" name="productReportTime" id="productTime51" ng-click="productTime51()" />
                    <span style="color: #333339;"> Năm trước </span>
                    <br />
                    @*<span style="color: #333339;"> Lựa chọn khác </span>
                        <input type="text" class="form-control" readonly placeholder="Từ ngay" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.StartDate" is-open="DatePopup.startDate" datepicker-options="dateOptions" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                        <button ng-click="openDatePopup(0);" style="position: absolute; right: 20px; border: 0px; background-color: #eeeeee; margin-top: -28px; margin-right: 3px;"><i class="fa fa-calendar"></i></button>
                        <input type="text" class="form-control" readonly placeholder="Đến ngày" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.StartDate" is-open="DatePopup.startDate" datepicker-options="dateOptions" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                        <button ng-click="openDatePopup(0);" style="position: absolute; right: 20px; border: 0px; background-color: #eeeeee; margin-top: -28px; margin-right: 3px;"><i class="fa fa-calendar"></i></button>*@
                </div>
                @*<div class="lable left">
                    <h1>
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        Khách hàng
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <input class="form-control" type="text" name="orderCustomer" id="orderCustomer" ng-model="orderCustomer" ng-change="orderCustomer()" checked="checked" placeholder="Theo mã, tên, số điện thoại" />
                </div>*@
            </div>
        </div>
    </div>
</div>