﻿@{
    ViewBag.Title = "Báo cáo tài chính";
    Layout = "~/Views/Shared/_HomeShared.cshtml";
}

<div ng-controller="ReportFinanceController" ng-init="init();">

    <div class="box-general-store left w100pt">
        <div class="left col-lg-10 hide" id="divDoc">
            <div class="box-store-list left w100pt">
                <div class="boxfiter w100pt left">
                    <button class="btn btn-primary center" ng-print print-element-id="content-report"><i class="fa fa-print"></i> </button>
                </div>
                <div class="table-list w100pt left" id="content-report">
                    <div id="content">
                        <div ng-model="financeUrl" ng-include="financeUrl"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="left col-lg-10" id="divChart">
            <div class="box-store-list left w100pt">
                <div class="table-list w100pt left">
                    <div id="content">
                        <div ng-model="financeUrlChart" ng-include="financeUrlChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col-lg-2 box-notifile">
                <div class="lable left">
                    <h1>
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        Kiểu hiển thị
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <div id="typeChart">
                        <input type="radio" name="typeReport" id="typeReportChart" ng-click="financeChart();" checked="checked" /> Biểu đồ
                    </div>
                    @*<div id="typeDoc">
                        <input type="radio" name="typeReport" id="typeReportDoc" ng-click="financeDoc();" /> Báo cáo
                    </div>*@
                </div>
                <div class="lable left">
                    <h1>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Thời gian
                    </h1>
                </div>
                <div class="list-notifile left" style="padding:20px;">
                    <input type="radio" name="financeReportTime" id="financeMonth" ng-click="financeMonth()" checked="checked" />
                    <span style="color: #333339;"> Theo Tháng </span>
                    <br />
                    <input type="radio" name="financeReportTime" id="financeQuarter" ng-click="financeQuarter()" />
                    <span style="color: #333339;"> Theo Quý </span>
                    <br />
                    <input type="radio" name="financeReportTime" id="financeYear" ng-click="financeYear()" />
                    <span style="color: #333339;"> Theo Năm </span>
                </div>
            </div>
        </div>
    </div>
</div>

