﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Trả hàng";
}
<div ng-controller="ReturnController" ng-init="EmployeeId = @ViewBag.EmployeeId; BranchId = @ViewBag.BranchId;init();">
    <div class="box-general-store left w100pt" ng-form name="frmReturn">
        <!--box-store-list -->
        <div class="box-inputSP col-lg-9 thietLap">
            <div class="breadcrumb-main left w100pt">
                <div class="row">
                    <div class="col-sm-9">
                        <h2><i class="fa fa-mail-reply-all" aria-hidden="true"></i>Trả hàng</h2>
                        <div class="selectbox-Sp left">
                            <input type="text" class="form-control" placeholder="Nhập mã hóa đơn" ng-model="orderCode" input-enter="loadOrder();">
                            <button class="plus-btn" style="font-size:16px;top: 1px;right: 0px;" ng-click="loadOrder();">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-base w100pt left">
                <span> </span>
                <table class="table table-responsive">
                    <tr class="bg-header">
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Tên hàng hóa</th>
                        <th>Đơn vị</th>
                        <th align="right">Giá bán</th>
                        <th align="right">Số lượng</th>
                        <th align="right">Thành tiền</th>
                    </tr>
                    <tr ng-repeat="product in order.products">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ product.ProductCode }}</td>
                        <td title="{{ product.ProductName + " " + product.SubName }}">
                            <p>{{ product.ProductName }}</p>
                            <br />
                            <p>{{ product.SubName }}</p>
                        </td>
                        <td ng-init="product.ProductUnitId = product.prices[0].ProductUnitId">{{ product.prices[0].Unit }}</td>
                        <td align="left"><input type="text" class="form-control" style="width:100px" ng-model="product.Price" disabled="disabled" format="displayprice" ng-change="onPriceChanged(product, 1);" ng-pattern="/^[0-9\./,]*$/" /></td>
                        <td><input type="text" class="form-control" style="width:100px" ng-model="product.Quantity" ng-change="onPriceChanged(product, 2);" /> / <b style="color:red;">{{product.MaxQuantity}}</b></td>
                        <td align="left" ng-init="product.total = product.Price * product.Quantity">
                            {{ product.total | formatPrice }}đ        
                            @*{{ product.PriceOriginAvg }}*@             
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3 info-SP right trahang">
            <ul class="row nav nav-tabs" style="background-color: #FFFFFF">
                <li class="active"><a data-toggle="tab" data-target="#info">Thông tin</a></li>
                <li class=""><a data-toggle="tab" data-target="#extend">Mở rộng</a></li>
                <li class=""><a data-toggle="tab" data-target="#note">Ghi chú</a></li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane fade in active">
                    <div class="price-common">
                        <p><b>{{ order.customer.CustomerName }}</b></p>
                        <div class="bill-box left w100pt p0">
                            <div class="form-bill left w100pt">
                                <label>Mã trả hàng :</label>
                                <span><input class="form-control text-right" type="text" placeholder="Mã nhập hàng tự động" disabled="disabled"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="extend" class="tab-pane fade">
                    <div class="bill-value">
                        <div class="bill-box-ex left w100pt">
                            <div class="form-bill left w100pt">
                                <label>Chi nhánh</label>
                                <span>
                                    <select class="form-control" ng-model="order.branch.BranchId" ng-init="order.branch.BranchId = order.branch.BranchId + ''" required ng-pattern="/^[0-9]*$/">
                                        <option value="-1">Chọn chi nhánh</option>
                                        <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                    </select>
                                </span>
                                <p class="err_msg3" ng-show="order.branch.BranchId == '-1' || order.branch.BranchId == -1 || order.branch.BranchId == undefined">*</p>
                            </div>
                            <div class="form-bill left w100pt">
                                <label>Thanh toán</label>
                                <span>
                                    <select class="form-control" ng-model="order.PaymentType" ng-init="order.PaymentType = '0'">
                                        <option value="0">Tiền mặt</option>
                                        <option value="1">Chuyển khoản</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-bill left w100pt">
                                <label>Người tạo</label>
                                <span>
                                    <select class="form-control" ng-model="order.employee.EmployeeId" ng-init="order.employee.EmployeeId = EmployeeId + ''">
                                        <option ng-repeat="employee in employees" value="{{ employee.EmployeeId }}">{{ employee.EmployeeName }}</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="note" class="tab-pane fade">
                    <div class="left noteSP w100pt">
                        <textarea class="form-control" style="width: 100%" rows="3" placeholder="Ghi chú ..." ng-model="order.Note"></textarea>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="bill-value">
                    <div class="bill-value-title">
                        <button class="btn">Thanh toán</button>
                        <div class="line"></div>
                    </div>
                    <div class="bill-box left w100pt">
                        <div class="form-bill left w100pt">
                            <label>Tổng tiền gốc mua hàng</label>
                            <span>{{ order.TotalPriceOld | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Tổng tiền gốc khách trả</label>
                            <span>{{ order.CustomerPaid | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Tổng tiền gốc khách nợ</label>
                            <span>{{ order.TotalPriceOld - order.CustomerPaid | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Tổng tiền gốc trả hàng</label>
                            <span>{{ order.TotalPrice | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Phí trả hàng</label>
                            <span><input class="form-control text-right" type="text" ng-model="order.fee" format="displayprice" ng-change="onPriceChangedOrder(order)" ng-pattern="/^[0-9\./,]*$/"></span>
                        </div>
                        <div class="form-bill left w100pt" ng-show="(order.TotalPrice - (order.TotalPriceOld - order.CustomerPaid) - order.fee) < 0">
                            <label>Khách còn nợ</label>
                            <span>{{ (0 - (order.TotalPrice - (order.TotalPriceOld - order.CustomerPaid) - order.fee)) | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Tổng tiền trả</label>
                            <span>{{ (order.TotalPrice - (order.TotalPriceOld - order.CustomerPaid) - order.fee) < 0 | iif : 0 : (order.TotalPrice - (order.TotalPriceOld - order.CustomerPaid) - order.fee)  | formatPrice }}</span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Tiền trả khách</label>
                            <span><input class="form-control text-right" type="text" ng-model="order.paid" format="displayprice" ng-pattern="/^[0-9\./,]*$/"></span>
                        </div>
                    </div>
                </div>
                <div class="left bt-box w100pt">
                    <button class="btn btn-default btn-red right" ng-click="returnOrder()">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Hoàn thành
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

