﻿@{
    Layout = "~/Views/Shared/_HomeSharedFullWidth.cshtml";
    ViewBag.Title = "FB.SALE - Bán hàng";
}

<style>
    .tooltip {
        white-space: pre-wrap;
    }
    [uib-typeahead-popup].dropdown-menu
	{
		max-height:300px;
		overflow-y: scroll;
	}
</style>
<script>
    function isNumeric(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

</script>
<div ng-controller="SalesController" ng-init="order.EmployeeId = @ViewBag.EmployeeId; order.BranchId2 = @ViewBag.BranchId; init();">
    <div class="container-fluid">
        <div class="row" id="sale-product">
            <div class="col-sm-9 main-left">
                <div class="bill hide">
                    <a href="#" class="billPro">Hóa đơn 1 </a>
                </div>
                <div class="list-product">
                    <table class="table table-hover table-striped table-list table-sale">
                        <thead style="background-color: #e1e1e1;color: black;font-weight: bold">
                            <tr>
                                <th>STT</th>
                                <th>Mã</th>
                                <th>Tên hàng hóa</th>
                                <th class="text-center">Giá bán</th>
                                <th class="text-center">Đơn vị</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center"></th>
                                <th class="text-right">Thành tiền</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in selectedProducts">
                                <th scope="row" ng-cloak>{{ $index + 1 }}</th>
                                <td ng-cloak>
                                    <p class="code-item" ng-cloak>{{ product.ProductCode }}</p>
                                </td>
                                <td ng-cloak>
                                    <img class="icon-item" width="30" height="30" ng-src='{{ getFirstImage(product.images) }}'>
                                    <p class="title-item-list" ng-cloak>{{ product.ProductName + " " + product.SubName }}</p>
                                </td>
                                <td style="text-align:center;" ng-cloak>
                                    <input type="text"  onkeypress="return isNumeric(event)" name="" ng-model="product.SelectedSalePrice" class="form-control price-value" ng-init="findBaseUnit(product)" ng-change="onQuantityChange(product, 1)" format="displayprice" ng-pattern="/^[0-9\./,]*$/">
                                    <input type="hidden" name="" ng-model="product.SelectedOriginPrice">
                                </td>
                                <td style="text-align:center;" ng-cloak>
                                    <select class="form-control quantity-select" style="width:100px;" ng-model="product.ProductPriceId" ng-change="onUnitChange(product);">
                                        <option ng-repeat="price in product.prices" value="{{ price.ProductPriceId }}">{{ price.Unit }}</option>
                                    </select>
                                </td>
                                <td style="text-align: center; width: 145px !important;" ng-cloak>
                                    <button class="btn" style="float:left; width:35px; height:35px;" ng-click="onQuantityChangeMinus(product);"><i class="fa fa-minus"></i></button>
                                    <input type="text" onkeypress="return isNumeric(event)" class="form-control quantity-select" style="float:left; margin-left:2px;" ng-model="product.Quantity" ng-init="product.Quantity = 1" ng-change="onQuantityChange(product, 2);" />
                                    <button class="btn" style="float: right; width: 35px; height: 35px;" ng-click="onQuantityChangePlus(product);"><i class="fa fa-plus"></i></button>
                                </td>
                                <td style="text-align:center;" ng-cloak>
                                    <i href="#" class="fa fa-exclamation-triangle red-tooltip" data-html="true" ng-show="product.isInvalidQuantity" style="white-space: pre-wrap;" tooltip-placement="right" uib-tooltip="{{ product.tooltip }}"></i>
                                    <i href="#" class="fa fa-exclamation-circle red-tooltip" data-html="true" ng-show="!product.isInvalidQuantity" style="white-space: pre-wrap; color: green; padding-left: 8px;" tooltip-placement="right" uib-tooltip="{{ product.tooltip }}"></i>
                                </td>
                                <td style="text-align:right;" ng-cloak>
                                    {{ product.Total | formatPrice }}
                                </td>
                                <td ng-cloak>
                                    <div class="remove-item" ng-click="removeSelectedProduct(product);">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="view-product">
                    <div class="search-bar">
                        <p>Lọc sản phẩm</p>
                        <select class="cate-product" ng-model="q.category" ng-init="q.category = '-1'" ng-change="onQueryChange()">
                            <option value="-1">Loại hàng</option>
                            <optgroup ng-repeat="category in categories" label="{{ category.CategoryName }}">
                                <option ng-repeat="childCategory in category.children" value="{{ childCategory.CategoryId }}">{{ childCategory.CategoryName }}</option>
                            </optgroup>
                        </select>

                        <p>Tên sản phẩm</p>
                        <input class="ng-pristine ng-untouched ng-valid ng-not-empty" type="text" placeholder="Tìm kiếm tên hoặc mã sản phẩm" ng-model="q.txtSearch" ng-keyup="$event.keyCode==13 ? onQueryChange() : 0">
                        <p style="margin-left: 0px;">
                            <i class="fa fa-search" style="color:#fff" ></i>
                        @*<input class="cate-product ng-pristine ng-untouched ng-valid ng-not-empty" type="text" placeholder="Nhập tên sản phẩm" ng-model="q.txtSearch" ng-keyup="$event.keyCode==13 ? onQueryChange() : 0" >
                        <p>
                            <i class="fa fa-search" style="color:#fff" ng-click="onQueryChange()"></i>*@
                        </p>


                        <div class="pagging-product">
                            <p>{{ item_count }} sản phẩm</p>
                            <buttom class="btn btn-default" ng-click="goPrevPage();"><i class="fa fa-caret-left" aria-hidden="true"></i></buttom>
                            <buttom class="btn btn-default" ng-click="goNextPage();"><i class="fa fa-caret-right" aria-hidden="true"></i></buttom>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="product-item" ng-repeat="product in products" ng-if="product.PAStatus != 98" ng-click="selectProduct(product)">
                            <div class="top-item">
                                <img class="img-item" ng-src='{{ getFirstImage(product.images) }}'>
                                <div class="price-item">
                                    <span ng-cloak>{{ product.prices != null | iif : (findSalePrice(product.prices) | formatPrice) : "" }} đ</span>
                                </div>
                                <div class="number-item">
                                    <span ng-cloak>{{ product.countStock }}/{{ product.stock_count }}</span>
                                </div>
                            </div>
                            <div class="title-item" ng-cloak><p>{{ product.ProductName + " " + product.SubName }}</p></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3" style="margin-top: 20px; background-color: #e4e4e4; padding: 10px; border-radius: 4px;">
                <div class="col-md-4 extend-item-top-title" style="padding-top:8px;"><p>Chi nhánh</p></div>
                <div class="col-md-8 extend-item-top-input">
                    <select class="form-control" ng-model="order.BranchId" ng-init="order.BranchId = order.BranchId2 + ''" required ng-pattern="/^[0-9]*$/" ng-change="selectBranch();">
                        @*<option value="-1">Chọn chi nhánh</option>*@
                        <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3 main-right" style="margin-top: 14px">
                <ul class="row nav nav-tabs" style="background-color: #FFFFFF">
                    <li class="active"><a data-toggle="tab" data-target="#home">Thông tin KH</a></li>
                    <li class=""><a data-toggle="tab" data-target="#extend">Mở rộng</a></li>
                    <li class=""><a data-toggle="tab" data-target="#note">Ghi chú</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="search-customer">
                            <input type="text" class="form-control" placeholder="Tìm kiếm khách hàng" ng-model="_customer" typeahead-template-url="customerTemplate.html" uib-typeahead="customer for item in getSuggestCustomers($viewValue)">
                            <script type="text/ng-template" id="customerTemplate.html">
                                <div style="width:400px;" ng-click="$parent.$parent.$parent.selectCustomer(match.model)" ng-cloak>
                                    <p style="padding:6px;margin:0px;">{{  match.model.CustomerName }}</p> - <p style="padding:6px;margin:0px;">{{  match.model.Phone }}</p>
                                    <br />
                                    <div style="padding:6px;margin:0px;" ng-show="(match.model.Email != null &&  match.model.Email != '') || (match.model.Province != null && match.model.Province.Name != '')">
                                        <p>{{  match.model.Email }}</p> <p ng-show="(match.model.Email != null &&  match.model.Email != '') && (match.model.Province != null && match.model.Province.Name != '')">-</p> <p>{{  match.model.Province.Name }}</p>
                                    </div>
                                    <hr style="margin-bottom:1px;margin-top:1px;" />
                                </div>
                            </script>
                            <button class="btn btn-default" data-toggle="modal" @*data-target="#seachCustomer"*@ ng-click="openCreateCustomerDialog();">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </button>
                            <div class="clearfix"></div>
                            <br />
                            <p ng-show="selectedCustomer != undifined" ng-cloak><b>{{ selectedCustomer.CustomerName }}</b> - {{ selectedCustomer.Phone }}</p>
                        </div>
                        <div class="bill-value">
                            <div class="bill-value-title">
                                <button class="btn">Hóa đơn</button>
                                <div class="line"></div>
                            </div>
                            <div class="bill-list" >
                                <table ng-cloak>
                                    <tr>
                                        <td class="item-left">Tổng tiền</td>
                                        <td class="item-right" id="totalpricess" >{{ order.Total | formatPrice }}</td>
                                    </tr>
                                    <tr style="padding: 10px 0">
                                        <td class="item-left">Giảm giá</td>
                                        <td class="item-ipnut1">
                                            <button ng-class="order.discountType == 0 ? 'active' : ''" ng-init="order.discountType = 0" class="btn-discount" ng-click="selectMoney();"><i class="fa fa-money"></i></button>
                                            <button ng-class="order.discountType == 1 ? 'active' : ''" class="btn-discount" ng-click="selectPercent();"><i class="fa fa-percent"></i></button>
                                            <input class="form-control" type="text" id="txtdistprice" onkeypress="return isNumeric(event)" ng-model="order.DiscountView" ng-init="order.DiscountView = 0" ng-change="calculateOrderPrice(1);" format="displayprice" ng-pattern="/^[0-9\./,]*$/">
                                        </td>
                                    </tr>
                                    <tr class="tr-fix">
                                        <td class="item-left"></td>
                                        <td class="item-right"></td>
                                    </tr>
                                    <tr>
                                        <td class="item-left">Phí vận chuyển</td>
                                        <td class=""><input class="form-control text-right" type="text" onkeypress="return isNumeric(event)" ng-model="order.DeliveryPriceView" ng-init="order.DeliveryPriceView = 0" ng-change="calculateOrderPrice(2);" format="displayprice" ng-pattern="/^[0-9\./,]*$/"></td>
                                    </tr>
                                    <tr class="tr-fix">
                                        <td class="item-left"></td>
                                        <td class="item-right"></td>
                                    </tr>
                                    <tr>
                                        <td class="item-left"></td>
                                        <td class="">
                                            <select class="form-control" ng-model="order.DeliveryVendorId" ng-init="order.DeliveryVendorId = '-1'" ng-change="onDeliveryVendorChange();">
                                                <option value="-1">Chọn đơn vị vận chuyển</option>
                                                <option ng-repeat="vendor in vendors" value="{{ vendor.DeliveryVendorId }}">{{ vendor.VendorName }}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="tr-fix">
                                        <td class="item-left"></td>
                                        <td class="item-right"></td>
                                    </tr>
                                    @*<tr>
                                            <td class="item-left">Thu hộ tiền:</td>
                                            <td class="item-ipnut1">
                                                <input type="checkbox" ng-model="order.needCollect" ng-init="order.needCollect = false" ng-change="calculateOrderPrice();" />
                                                <input class="form-control" type="text" format="displayprice" ng-model="order.MoneyCollect" ng-disabled="order.needCollect == false" ng-init="order.MoneyCollect = 0" ng-change="calculateOrderPrice();" ng-pattern="/^[0-9,]*$/">
                                            </td>
                                        </tr>*@
                                    <tr>
                                        <td class="item-left">Khách thanh toán:</td>
                                        <td class="item-ipnut1">
                                            <button><i class="fa fa-calculator" aria-hidden="true"></i></button>
                                            <input class="form-control" type="text" onkeypress="return isNumeric(event)" ng-model="order.CustomerPaid" ng-init="order.CustomerPaid = 0" ng-change="calculateOrderPrice(3);" format="displayprice" ng-pattern="/^[0-9\./,]*$/">
                                        </td>
                                    </tr>
                                    <tr class="itemPro">
                                        <td class="item-left">Tiền mặt</td>
                                        <td class="item-right">
                                            Đơn vị: VND
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="item-left item-left-pro">Tổng số tiền:</td>
                                        <td class="item-right" >{{ order.TotalPrice | formatPrice }}</td>
                                    </tr>
                                    <tr class="itemPro">
                                        <td class="item-left"> {{ order.Notification }}</td>
                                        <td class="item-right">{{ order.Remain | formatPrice }}</td>
                                    </tr>
                                </table>
                            </div>
                            <button class="btn btn-default btn-checkout" ng-click="createOrder();" id="createOrder">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Tạo hóa đơn
                            </button>
                        </div>
                    </div>
                    <div id="extend" class="tab-pane fade ">
                        @*<div class="row extend-item-top">
                            <div class="col-md-4 extend-item-top-title"><p>Chi nhánh</p></div>
                            <div class="col-md-8 extend-item-top-input">
                                <select class="form-control" ng-model="order.BranchId" ng-init="order.BranchId = order.BranchId2 + ''" required ng-pattern="/^[0-9]*$/">
                                    <option value="-1">Chọn chi nhánh</option>
                                    <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                </select>
                            </div>
                        </div>*@
                        <div class="row extend-item-top">
                            <div class="col-md-4 extend-item-top-title"><p>Người bán</p></div>
                            <div class="col-md-8 extend-item-top-input">
                                <select class="form-control" ng-model="order.SaleEmployeeId" ng-init="order.SaleEmployeeId = order.EmployeeId + ''">
                                    <option ng-repeat="employee in employees" value="{{ employee.EmployeeId }}">{{ employee.EmployeeName }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row extend-item-top">
                            <div class="col-md-4 extend-item-top-title"><p>Trạng thái chuyển hàng</p></div>
                            <div class="col-md-8 extend-item-top-input">
                                <select class="form-control" ng-model="order.DeliveryStatus" ng-init="order.DeliveryStatus = '2'">
                                    <option value="4">Hàng đã chuẩn bị tại kho</option>
                                    @*<option value="1">Đang giao hàng</option>*@
                                    <option value="2">Đã nhận hàng</option>
                                </select>
                            </div>
                        </div>
                        <div class="row extend-item-top">
                            <div class="col-md-4 extend-item-top-title"><p>Thanh toán</p></div>
                            <div class="col-md-8 extend-item-top-input">
                                <select class="form-control" ng-model="order.PaymentChannel" ng-init="order.PaymentChannel = '0'">
                                    <option value="0">Tiền mặt</option>
                                    <option value="1">Chuyển khoản</option>
                                    <option value="2">Thanh toán khi nhận hàng</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="note" class="tab-pane fade in">
                        <textarea class="form-control" rows="3" placeholder="Ghi chú ..." ng-model="order.Note" ng-init="order.Note = ''"></textarea>
                    </div>
                </div>

                <div class="modal fade box-popup box-popupB" id="addCustomer" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg " role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="clip"></div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i> Thêm khách hàng
                                </h4>
                            </div>
                            <div class="modal-body" ng-form name="frmAddCustomer">
                                <div class="row w100pt loaiKH">
                                    <label class="col-form-label">Loại khách hàng:</label>
                                    <div class="btn-group btnSelect" role="group">
                                        <div class="radio-KH">
                                            <input class="magic-radio" type="radio" name="optType" id="canhan" ng-model="newCustomer.Type" ng-required="true" value="0" checked>
                                            <label for="canhan">
                                                Cá nhân
                                            </label>
                                        </div>
                                        <div class="radio-KH">
                                            <input class="magic-radio" type="radio" name="optType" id="congty" ng-model="newCustomer.Type" value="1" ng-required="true">
                                            <label for="congty">
                                                Công ty
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="left-modal">
                                    <div class="form-group row">
                                        <label class="col-form-label">Mã khách hàng :</label>
                                        <input type="text" class="form-control" placeholder="Mã mặc định" ng-model="newCustomer.CustomerCode" disabled="disabled">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label">Tên khách hàng :</label>
                                        <input type="text" class="form-control" placeholder="Nhập tên khách hàng" ng-model="newCustomer.CustomerName" required>
                                        <span class="err_msg" ng-show="newCustomer.CustomerName == '' || newCustomer.CustomerName == undefined">*</span>
                                    </div>
                                    <div class="form-group row">
                                        <label>Điện thoại :</label>
                                        <input type="text" class="form-control" name="txtPhone" placeholder="Nhập số điện thoại" ng-model="newCustomer.Phone" ng-pattern="/^[0-9]{10,11}$/">
                                        <span class="err_msg" ng-show="newCustomer.Phone == '' || newCustomer.Phone == undefined">*</span>
                                    </div>
                                    <div class="form-group row sex">
                                        <label class="col-form-label">Giới tính:</label>
                                        <div class="btn-group btnSelect" role="group">
                                            <input class="magic-radio" type="radio" name="optGender" ng-model="newCustomer.Gender" id="boy" value="1" checked>
                                            <label for="boy">
                                                Nam
                                            </label>
                                            <input class="magic-radio" type="radio" name="optGender" ng-model="newCustomer.Gender" id="girl" value="0">
                                            <label for="girl">
                                                Nữ
                                            </label>

                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                            <label class="col-form-label">Mã số thuế:</label>
                                            <input type="text" class="form-control" name="txtTaxID" placeholder="Nhập mã số thuế" ng-model="newCustomer.TaxID" ng-pattern="/^[0-9]*$/">
                                            <span class="err_msg" ng-show="frmAddCustomer.txtTaxID.$invalid && !frmAddCustomer.txtTaxID.$pristine">*</span>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label">CMND:</label>
                                            <input type="text" class="form-control" name="txtID" placeholder="Nhập cmnd" ng-model="newCustomer.ID" ng-pattern="/^[0-9]*$/">
                                            <span class="err_msg" ng-show="frmAddCustomer.txtID.$invalid && !frmAddCustomer.txtID.$pristine">*</span>
                                        </div>*@
                                    @*<div class="form-group row btn-square">
                                            <label class="col-form-label">
                                                Nhóm KH :
                                            </label>
                                            <div class="selectbox-Sp left">
                                                <select class="form-control" id="ddlGroup" ng-model="newCustomer.CustomerGroup.Id" ng-init="newCustomer.CustomerGroup.Id = '-1'">
                                                    <option value="-1">-- Lựa chọn nhóm khách hàng --</option>
                                                    <option ng-repeat=" group in customerGroups" value="{{ group.CustomerGroupId }}">{{ group.Name }}</option>
                                                </select>
                                                <button class="plus-btn" data-toggle="modal"
                                                        data-target="#groupModal">
                                                    +
                                                </button>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="right-modal">

                                    <div class="form-group row">
                                        <label class="col-form-label">Email :</label>
                                        <input type="email" name="txtEmail" class="form-control" placeholder="Nhập Email khách hàng" ng-model="newCustomer.Email">
                                        <span class="err_msg" ng-show="frmAddCustomer.txtEmail.$invalid && !frmAddCustomer.txtEmail.$pristine">*</span>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label">Địa chỉ :</label>
                                        <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="newCustomer.Address">
                                    </div>
                                    <div class="form-group row btn-square">
                                        <label class="col-form-label" style="color: #fff">Quận/Huyện :</label>
                                        <div class="btn-group btnSelect left" role="group">
                                            <div class="col-lg-6">
                                                <button id="btnGroupDropTP" type="button"
                                                        class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i>{{ newCustomer.Province.Name}}</i>
                                                    <span class="fa fa-angle-down"></span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDropTP">
                                                    <ul>
                                                        <li ng-repeat="province in provinces" ng-click="loadDistricts(province)">
                                                            <a href="#" class="dropdown-item">{{ province.Name }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 right">
                                                <button id="btnGroupDropQH" type="button"
                                                        class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i>{{ newCustomer.District.Name}}</i>
                                                    <span class="fa fa-angle-down"></span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDropQH">
                                                    <ul>
                                                        <li ng-repeat="district in districts" ng-click="selectDistrict(district)">
                                                            <a href="#" class="dropdown-item">{{ district.Name }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="modal-footer left w100pt">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelCreate();">
                                        <span class="fa fa-ban"></span>Hủy
                                    </button>
                                    <button type="button" class="btn btn-success" ng-click="createCustomer();">
                                        <span class="fa fa-save"></span>Lưu & Thêm mới
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal search customer-->
                @*<div class="modal fade" id="seachCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog vertical-align-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                                        </button>
                                        <h4 class="modal-title" id="myModalLabel" ng-click="openCreateCustomerDialog();">Thêm khách hàng</h4>

                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 customer-item">
                                                <div class="col-md-3" style="">Loại khách</div>
                                                <div class="col-md-9">
                                                    <form>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="inlineRadioOptions" id="personal"
                                                                   value="option1" checked>
                                                            Cá nhân
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="inlineRadioOptions" id="company"
                                                                   value="option2">
                                                            Công ty
                                                        </label>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-12 customer-item " id="companyNameValue" style="display: none">
                                                <div class="col-md-3" style="">Công ty</div>
                                                <div class="col-md-9">
                                                    <input type="text" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12 customer-item">
                                                <div class="col-md-3" style="">Mã khách hàng</div>
                                                <div class="col-md-9">
                                                    <input type="text" placeholder="Mã mặc định" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-12 customer-item">
                                                <div class="col-md-3" style="">Tên khách hàng</div>
                                                <div class="col-md-9">
                                                    <input type="text" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12 customer-item">
                                                <div class="col-md-3" style="">Điện thoại</div>
                                                <div class="col-md-9">
                                                    <input type="text" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12 customer-item">
                                                <div class="col-md-3" style="">Ghi chú</div>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-customer-btn">
                                            <button type="button" class="btn btn-success">Save</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@


            </div>
        </div>
    </div>
</div>