﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Chuyển hàng";
}
<style>
    [uib-typeahead-popup].dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }
</style>
<div ng-controller="TransferController" ng-init="EmployeeId = @ViewBag.EmployeeId;BranchId = @ViewBag.BranchId; init();">
    <div class="box-general-store left w100pt" ng-form name="frmImport">
        <!--box-store-list -->
        <div class="box-inputSP col-lg-9 thietLap">
            <div class="breadcrumb-main left w100pt">
                <div class="row">
                    <div class="col-sm-9">
                        <h2><i class="fa fa-mail-reply-all" aria-hidden="true"></i>Chuyển hàng</h2>
                        <div class="selectbox-Sp left">
                            <input type="text" class="form-control"
                                   placeholder="Tìm hàng hóa theo mã hoặc tên" ng-model="_product" typeahead-template-url="productTemplate.html" uib-typeahead="product for item in getSuggestProducts($viewValue)">
                            <script type="text/ng-template" id="productTemplate.html">
                                <div ng-click="$parent.$parent.$parent.selectProduct(match.model)">
                                    <table border="0" width="280" style="margin-bottom:5px;">
                                        <tr>
                                            <td width="60" align="right">
                                                <img width="50" height="50" ng-src='{{ match.model.images[0].Path }}' />
                                            </td>
                                            <td style="padding-left:5px;">
                                                {{ match.model.ProductName + " " + match.model.SubName }}
                                                <br />
                                                {{ match.model.ProductCode }} - Tồn kho : {{ match.model.stock != null | iif : $parent.$parent.$parent.sumStock(match.model.stock) : 0 }}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr style="margin-bottom:1px;margin-top:1px;" />
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-base w100pt left">
                <table class="table table-responsive table-tranfer">
                    <tr class="bg-header">
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Tên hàng hóa</th>
                        <th align="right">Số lượng</th>
                        <th align="right">Giá chuyển</th>
                        <th>Thông tin kho</th>
                        <th>Xóa</th>
                    </tr>
                    <tr ng-repeat="product in selectedProducts" ng-init="initProduct(product)">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ product.ProductCode }}</td>
                        <td title="{{ product.ProductName + " " + product.SubName }}">
                            <p>{{ product.ProductName }}</p>
                            <br />
                            <p>{{ product.SubName }}</p>
                        </td>
                        <td align="left"><input type="text" class="form-control" style="width:100px" placeholder="Số lượng" ng-model="product.quantity" ng-init="product.quantity = 1" ng-change="onPriceChange(product);" required ng-pattern="/^[0-9]*$/" /></td>
                        <td align="left"><input type="text" class="form-control" style="width:100px" placeholder="Giá chuyển" ng-model="product.price" ng-init="getOriginPrice(product)" ng-change="onPriceChange(product);" required ng-pattern="/^[0-9,]*$/" format="displayprice" /></td>
                        <td>
                            <p ng-repeat-start="s in product.stock" style="padding:4px;display:block">{{ findBranchName(s.BranchId) }} - {{ s.Stock }}</p>
                            <div ng-repeat-end class="clearfix"></div>
                        </td>
                        <td>
                            <div class="remove-item" ng-click="removeSelectedProduct(product);">
                                <i class="fa fa-times"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3 info-SP right trahang">
            <ul class="row nav nav-tabs" style="background-color: #FFFFFF">
                <li class="active"><a data-toggle="tab" data-target="#info">Thông tin</a></li>
                <li class=""><a data-toggle="tab" data-target="#note">Ghi chú</a></li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane fade in active">
                    <div class="search-customer">
                        <div class="form-bill left w100pt">
                            <label>Từ chi nhánh </label>
                            <span>
                                <select class="form-control" ng-model="transfer.FromBranchId" ng-init="transfer.FromBranchId = BranchId + ''">
                                    <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                </select>
                            </span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Đến chi nhánh </label>
                            <span>
                                <select class="form-control" ng-model="transfer.ToBranchId" ng-init="transfer.ToBranchId = '-1'">
                                    <option value="-1">Chọn chi nhánh</option>
                                    <option ng-repeat="branch in branches" value="{{ branch.BranchId }}">{{ branch.BranchName }}</option>
                                </select>
                            </span>
                        </div>
                        <div class="form-bill left w100pt">
                            <label>Người tạo</label>
                            <span>
                                <select class="form-control" ng-model="transfer.EmployeeId" ng-init="transfer.EmployeeId = EmployeeId + ''">
                                    <option ng-repeat="employee in employees" value="{{ employee.EmployeeId }}">{{ employee.EmployeeName }}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="note" class="tab-pane fade">
                    <div class="left noteSP w100pt">
                        <textarea class="form-control" style="width: 100%" rows="3" placeholder="Ghi chú ..." ng-model="transfer.Note"></textarea>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="left bt-box w100pt">
                    <button class="btn btn-default btn-red" ng-click="createTransfer()">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Hoàn thành
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

