﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý đơn hàng";
}

<div ng-controller="VendorReturnController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý trả hàng nhập </h2>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
            </div>
        </div>
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Lọc sản phẩm</h2>
                <div class="col-sm-2">
                    <input type="text" class="form-control" readonly placeholder="Ngày bắt đầu" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.StartDate" is-open="DatePopup.startDate" datepicker-options="dateOptionsStart" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                    <button class="btCalender" ng-click="openDatePopup(0);" style="top:6px;right:20px;"><i class="fa fa-calendar"></i></button>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" readonly placeholder="Ngày kết thúc" ng-change="onQueryChange()" uib-datepicker-popup="{{DOBformat}}" ng-model="q.EndDate" is-open="DatePopup.endDate" datepicker-options="dateOptionsEnd" close-text="Đóng" clear-text="Xóa" current-text="Hôm nay">
                    <button class="btCalender" ng-click="openDatePopup(1);" style="top:6px;right:20px;"><i class="fa fa-calendar"></i></button>
                </div>
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Thời gian</th>
                        <th>Nhà cung cấp</th>
                        <th>Tổng tiền hàng</th>
                        <th>Tiền NCC trả</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: return.isExpand}" ng-repeat-start=" return in returns" ng-click="expandDetail(return);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ return.Code }}</td>
                        <td>{{ return.CreatedAt | date : "dd/MM/yyyy" }}</td>
                        <td>{{ return.vendor.VendorName }}</td>
                        <td>{{ return.TotalPrice | formatPrice }}</td>
                        <td>{{ return.PaidAmount | formatPrice }}</td>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="return.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Mã phiếu:</span> {{ return.Code}}</li>
                                                    <li><span class="txt-left">Thời gian :</span> {{ return.CreatedAt | date : "dd/MM/yyyy HH:mm:ss" }}</li>
                                                    <li><span class="txt-left">Nhà cung cấp :</span> {{  return.vendor.VendorName }}</li>                                                                                                       
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left">Nhân viên :</span>{{ return.employee.EmployeeName }}</li>
                                                    <li><span class="txt-left">Chi nhánh :</span><p>{{ return.branch.BranchName }}</p></li>
                                                    <li><span class="txt-left">Trạng thái :</span> {{ return.Status == 2 | iif : "Hoàn thành" : "Chưa hoàn thành"  }}</li>
                                                </ul>
                                            </div>
                                            <div class="table-othe">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã hàng hóa</th>
                                                            <th align="left">Tên hàng hóa</th>
                                                            <th align="left">Giá trả hàng</th>
                                                            <th align="left">Số lượng</th>
                                                            <th align="right">Thành tiền</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in return.products">
                                                            <td align="left">{{ product.ProductCode }}</td>
                                                            <td><a href="#"><b>{{ product.ProductName }}<br />{{ product.SubName }}</a></b></td>
                                                            <td align="right">{{ product.Price | formatPrice }}</td>
                                                            <td align="right">{{ product.Quantity }}</td>
                                                            <td align="right">{{ (product.Price * product.Quantity) | formatPrice }}</td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="4">Tổng tiền hàng:</td>
                                                            <td align="right"><b>{{  return.TotalPrice | formatPrice }}</b></td>
                                                        </tr>
                                                        <tr class="sum-bill-price">
                                                            <td align="right" colspan="4">Tiền NCC trả:</td>
                                                            <td align="right">{{  return.PaidAmount | formatPrice }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>                                            
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Lịch sử thanh toán" ng-click="loadCashes(return);">
                                        <div class="table-responsive table-othe">
                                            <table class="table">
                                                <thead>
                                                    <tr class="success">
                                                        <th align="left">Mã phiếu</th>
                                                        <th align="left">Người nhận</th>
                                                        <th align="left">Phương thức</th>
                                                        <th align="right">Tiền đã trả</th>
                                                        <th align="right">Tổng tiền</th>
                                                        <th align="right">Trạng thái</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="cash in return.cashes">
                                                        <td><a href="#"><b>{{ cash.CashCode }}</b></a></td>
                                                        <td><a href="#">{{ cash.employee.EmployeeName }}</a></td>
                                                        <td align="left">{{ findMethod(cash) }}</td>
                                                        <td align="right">{{ cash.PaidAmount | formatPrice }}</td>
                                                        <td align="right">{{ cash.Total | formatPrice }}</td>
                                                        <td align="right">{{ findPaymentStatus(cash.PaymentStatus) }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
            </div>
        </div>
    </div>
</div>