﻿@{
    Layout = "~/Views/Shared/_HomeShared.cshtml";
    ViewBag.Title = "FB.SALE - Quản lý nhà cung cấp";
}

<style>

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
</style>

<div ng-controller="VendorController" ng-init="init();">
    <div>
        <div class="breadcrumb-main left w100pt">
            <div class="row">
                <div class="col-sm-9">
                    <h2><i class="fa fa-th" aria-hidden="true"></i> Quản lý nhà cung cấp </h2>
                    <a href="#" class="addPro" ng-click="openCreateVendorDialog();"><i class="fa fa-plus" aria-hidden="true"></i> Thêm nhà cung cấp</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-in" aria-hidden="true"></i>Nhập file</a>
                    <a href="#" class="hidden"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</a>
                </div>
                <div class="boxSearch right col-sm-3 hidden">
                    <form class="form-inline">
                        <div class="form-group form-control">
                            <input type="email" class="" id="exampleInputEmail3" placeholder="Tìm kiếm thông tin">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div> 
        <div class="box-store-list left w100pt">
            <div class="boxfiter w100pt left">
                <h2>Bộ lọc</h2>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="q.province" ng-init="q.province = '-1'" ng-change="onQueryChange()">
                        <option value="-1">Thành phố</option>
                        <option ng-repeat="province in provinces" value="{{ province.ProvinceId }}">{{ province.Name }}</option>
                    </select>
                </div>
                @*<div class="col-sm-2">
            <select class="form-control" ng-model="o.totaldebt" ng-init="o.totaldebt = '0'" ng-change="onOrderChange()">
                <option value="0">Sắp xếp theo tổng số nợ</option>
                <option value="1">Tổng số nợ giảm dần</option>
                <option value="-1">Tổng số nợ tăng dần</option>
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-control" ng-model="o.totalpaid" ng-init="o.totalpaid = '0'" ng-change="onOrderChange()">
                <option value="0">Sắp xếp theo tổng số thanh toán</option>
                <option value="1">Tổng số thanh toán giảm dần</option>
                <option value="-1">Tổng số thanh toán tăng dần</option>
            </select>
        </div>*@
                <h2>Số bản ghi</h2>
                <div class="col-sm-1">
                    <select class="form-control" ng-model="page_size" ng-init="page_size = '20'" ng-change="onPageSizeChange()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>  
                
            </div>
            <div class="table-list w100pt left">
                <table id="report" class="table table-responsive">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>                       
                        <th>Tên nhà cung cấp</th>
                        <th>Số điện thoại</th>
                        <th>Tỉnh / Thành Phố</th>
                        <th>Quận / Huyện</th>
                        <th>Tổng số đơn hàng nhập</th>
                        <th>Tổng giá trị nhập hàng</th>
                        <th>Nợ cần trả</th>                     
                    </tr>
                    <tr>
                        <th colspan="6" style="text-align:left;">Số nhà cung cấp: {{ metadata.Count }}</th>
                        <th>{{ metadata.TotalOrderImport }}</th>
                        <th>{{ metadata.TotalOrderImportPrice | formatPrice }}</th>
                        <th>{{ metadata.TotalDebtPrice | formatPrice }}</th>
                    </tr>
                    <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-class="{up: vendor.isExpand}" ng-repeat-start=" vendor in vendors" ng-click="expandDetail(vendor);">
                        <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
                        <td>{{ vendor.VendorCode}}</td>
                        <td>{{ vendor.VendorName }}</td>
                        <td>{{ vendor.Phone }}</td>
                        <td>{{ vendor.Province.Name }}</td>
                        <td>{{ vendor.District.Name }}</td>
                        <td>{{ vendor.TotalOrder }}</td>
                        <td>{{ vendor.TotalOrderPrice | formatPrice }}</td>
                        <td>{{ vendor.TotalDebt | formatPrice }}</td>
                    </tr>
                    <tr class="t-content" ng-repeat-end ng-show="vendor.isExpand">
                        <td colspan="20" class="">
                            <div class="left w100pt info-product">
                                <!-- Nav tabs -->
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Thông tin">
                                        <div class="info-product-right left">
                                            <h1>{{ vendor.VendorName }}</h1>
                                            <div class="col-lg-6 info-product-tt">
                                                <ul>
                                                    <li><span class="txt-left">Mã khách hàng :</span> {{ vendor.VendorCode}}</li>
                                                    <li><span class="txt-left">Đỉa chỉ :</span> {{ vendor.Address }}</li>
                                                    <li><span class="txt-left">Tỉnh / Thành Phố :</span> {{ vendor.Province.Name }}</li>
                                                    <li><span class="txt-left">Quận / Huyện :</span> {{ vendor.District.Name }}</li>
                                                    <li><span class="txt-left">Số điện thoại :</span> {{ vendor.Phone }}</li>
                                                    <li><span class="txt-left">Email :</span> {{ vendor.Email }}</li>                                                   
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 info-product-tt last">
                                                <ul>
                                                    <li><span class="txt-left">Số đơn hàng :</span> {{ vendor.TotalOrder }}</li>                                                                                             
                                                    <li><span class="txt-left">Tổng giá trị đơn hàng : &nbsp;</span> {{ vendor.TotalOrderPrice }}</li>                                                                                             
                                                    <li><span class="txt-left">Đã thanh toán :</span> {{ vendor.TotalPaid }}</li>            
                                                    <li><span class="txt-left">Ghi chú :</span> {{ vendor.Note }}</li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="button" class="btn btn-success btn-update" ng-click="openEditVendorDialog(vendor);">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="showConfirmDeleteVendor(vendor);">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true"></i> Xóa
                                            </button>
                                        </div>
                                    </uib-tab>     
                                    <uib-tab index="1" heading="Hàng Hóa" ng-click="loadVendorEximsProduct(vendor);">
                                        <div class="table-responsive table-othe">
                                            <div class="table-detail">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã phiếu</th>
                                                            <th align="left">Thời gian</th>
                                                            <th align="left">Số lượng hàng</th>
                                                            <th align="right">Giá trị nhập</th>
                                                            <th align="right">Giảm giá</th>
                                                            <th align="right">Tổng cần thanh toán</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="exim in vendor.eximsproducts">
                                                            <td><a href="#"><b>{{ exim.Code }}</b></a></td>
                                                            <td><a href="#">{{ exim.CreatetAt | date:'dd/MM/yyyy HH:mm' }}</a></td>
                                                            <td>{{ exim.TotalProduct }}</td>
                                                            <td>{{ exim.Price | formatPrice }}</td>
                                                            <td>{{ exim.Discount | formatPrice }}</td>
                                                            <td>{{ exim.Price - exim.Discount | formatPrice }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                                <div class="newsdetail-pagging" style="width:100%">
                                                    <ul uib-pagination boundary-links="true" total-items="itemEximsProduct_count" ng-model="EximsProductpage" ng-show="itemEximsProduct_count" items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadVendorEximsProduct(vendor,EximsProductpage);" rotate ="true" max-size="10"></ul>
                                                </div>
                                            </div>
                                    </uib-tab>
                                    <uib-tab index="2" heading="Công nợ" ng-click="loadCashFlows(vendor,1);">
                                        <div class="table-responsive table-othe">
                                            <div class="table-detail">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="success">
                                                            <th align="left">Mã phiếu</th>
                                                            <th align="left">Thời gian</th>
                                                            <th align="left">Loại</th>
                                                            <th align="right">Tăng nợ</th>
                                                            <th align="right">Giảm nợ</th>
                                                            <th align="right">Nợ cần trả</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cashflow in vendor.cashflows">
                                                            <td><a href="#"><b>{{ cashflow.target.TargetCode }}</a></b></td>
                                                            <td><a href="#">{{ cashflow.CreatedAt | date:'dd/MM/yyyy HH:mm'}}</a></td>
                                                            <td align="left">{{ findType(cashflow.Type) }}</td>
                                                            <td align="right">{{ cashflow.Amount > 0 | iif : (cashflow.Amount | formatPrice)  : "0"  }}</td>
                                                            <td align="right">{{ cashflow.Amount < 0 | iif : ( 0 - cashflow.Amount | formatPrice) : "0"  }}</td>
                                                            <td align="right">{{ cashflow.Debt | formatPrice }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="newsdetail-pagging" style="width:100%">
                                                <ul uib-pagination boundary-links="true" total-items="itemcashflow_count" ng-model="cashflowpage" ng-show="itemcashflow_count"  items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadCashFlows(vendor,cashflowpage)" rotate ="true" max-size="10"></ul>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    @*<uib-tab index="3" heading="Thanh toán" ng-click="loadVendorCash(vendor);">
                                        <div class="table-responsive table-othe">
                                            <table class="table">
                                                <thead>
                                                    <tr class="success">
                                                        <th align="left">Mã phiếu</th>
                                                        <th align="left">Thời gian</th>
                                                        <th align="left">Số lượng hàng</th>
                                                        <th align="right">Giá trị nhập</th>
                                                        <th align="right">Giảm giá</th>
                                                        <th align="right">Tổng thanh toán</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="eximsproduct in vendor.eximsproducts">
                                                        <td><a href="#"><b>{{ eximsproduct.Code }}</a></b></td>
                                                        <td><a href="#">{{ eximsproduct.CreatetAt | date:'dd/MM/yyyy hh:mm'}}</a></td>
                                                        <td align="left">{{ eximsproduct.TotalProduct }}</td>
                                                        <td align="right">{{ eximsproduct.Price | formatPrice }}</td>
                                                        <td align="right">{{ eximsproduct.Discount | formatPrice }}</td>
                                                        <td align="right">{{ eximsproduct.Price - eximsproduct.Discount | formatPrice }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </uib-tab>*@
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>                    
                </table>
            </div>
            <div class="news-pagging">
                <ul uib-pagination boundary-links="true" total-items="item_count" ng-model="page" items-per-page="page_size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="onPageChange()" rotate ="true" max-size="10"></ul>
            </div>
        </div>
    </div>

    @*Thêm nhà cung cấp*@
    <div class="modal fade box-popup box-popupB" id="addVendor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>Thêm nhà cung cấp</h4>
                </div>
                <div class="modal-body" ng-form name="frmAddVendor">                    
                    <div class="left-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Mã nhà cung cấp :</label>
                            <input type="text" class="form-control" placeholder="Mã mặc định" ng-model="newVendor.VendorCode" disabled="disabled">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Tên nhà cung cấp :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên nhà cung cấp" ng-model="newVendor.VendorName" required name="vendorname">
                            <span class="err_msg" ng-show="newVendor.VendorName == '' || newVendor.VendorName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Tên công ty :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên công ty" ng-model="newVendor.Company">
                        </div>
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" class="form-control" placeholder="Nhập số điện thoại" ng-model="newVendor.Phone" ng-pattern="/^[0-9]{10,11}$/" required name="vendorphone">
                            <span class="err_msg" ng-show="newVendor.Phone == '' || newVendor.Phone == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Email :</label>
                            <input type="email" class="form-control" name="vendorEmail" placeholder="Nhập email nhà cung cấp" ng-model="newVendor.Email">
                            <span class="err_msg" ng-show="frmAddVendor.vendorEmail.$invalid && !frmAddVendor.vendorEmail.$pristine">*</span>
                        </div>
                    </div>
                    <div class="right-modal">                        
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="newVendor.Address">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label" style="color: #fff">Quận/Huyện :</label>
                            <div class="btn-group btnSelect left" role="group">
                                <div class="col-lg-6">                                    
                                    <button id="btnGroupDropTP" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ newVendor.Province.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropTP">
                                        <ul>
                                            <li ng-repeat="province in provinces" ng-click="loadDistricts(province)">
                                                <a class="dropdown-item">{{ province.Name }}</a>
                                            </li>                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 right">
                                    <button id="btnGroupDropQH" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ newVendor.District.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropQH">
                                        <ul>
                                            <li ng-repeat="district in districts" ng-click="selectDistrict(district)">
                                                <a class="dropdown-item">{{ district.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Ghi chú :</label>
                            <textarea type="text" class="form-are" rows="5" ng-model="newVendor.Note" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelCreate();">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="createVendor();">
                            <span class="fa fa-save"></span>Lưu & Thêm mới
                        </button>                       
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    @*Cập nhật nhà cung cấp*@
    <div class="modal fade box-popup box-popupB" id="editVendor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="clip"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>Cập nhật nhà cung cấp
                    </h4>
                </div>
                <div class="modal-body" ng-form name="frmEditVendor">
                    <div class="left-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Mã nhà cung cấp :</label>
                            <input type="text" class="form-control" placeholder="Mã mặc định" ng-model="editVendor.VendorCode">
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Tên nhà cung cấp :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên nhà cung cấp" ng-model="editVendor.VendorName" required name="vendorname">
                            <span class="err_msg" ng-show="editVendor.VendorName == '' || editVendor.VendorName == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Tên công ty :</label>
                            <input type="text" class="form-control" placeholder="Nhập tên công ty" ng-model="editVendor.Company">
                        </div>
                        <div class="form-group row">
                            <label>Điện thoại :</label>
                            <input type="text" class="form-control" placeholder="Nhập số điện thoại" ng-model="editVendor.Phone" ng-pattern="/^[0-9]{10,11}$/" required name="vendorphone">
                            <span class="err_msg" ng-show="editVendor.Phone == '' || editVendor.Phone == undefined">*</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Email :</label>
                            <input type="email" class="form-control" name="vendorEmail" placeholder="Nhập email nhà cung cấp" ng-model="editVendor.Email">
                            <span class="err_msg" ng-show="frmEditVendor.vendorEmail.$invalid && !frmEditVendor.vendorEmail.$pristine">*</span>
                        </div>
                    </div>
                    <div class="right-modal">
                        <div class="form-group row">
                            <label class="col-form-label">Địa chỉ :</label>
                            <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="editVendor.Address">
                        </div>
                        <div class="form-group row btn-square">
                            <label class="col-form-label" style="color: #fff">Quận/Huyện :</label>
                            <div class="btn-group btnSelect left" role="group">
                                <div class="col-lg-6">
                                    <button id="btnGroupDropTP" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ editVendor.Province.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropTP">
                                        <ul>
                                            <li ng-repeat="province in provinces" ng-click="loadDistricts(province)">
                                                <a class="dropdown-item">{{ province.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 right">
                                    <button id="btnGroupDropQH" type="button"
                                            class="btn btn-secondary dropdown-toggle btnGroupDropDC"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i>{{ editVendor.District.Name}}</i>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDropQH">
                                        <ul>
                                            <li ng-repeat="district in districts" ng-click="selectDistrict(district)">
                                                <a class="dropdown-item">{{ district.Name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-form-label">Ghi chú :</label>
                            <textarea type="text" class="form-are" rows="5" ng-model="editVendor.Note" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer left w100pt">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fa fa-ban"></span>Hủy
                        </button>
                        <button type="button" class="btn btn-success" ng-click="updateVendor();">
                            <span class="fa fa-save"></span>Cập nhật
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>