﻿

<div class="table-list w100pt left">
    <div>
        Ngày lập: {{ dt | date: 'dd/MM/yyyy hh:mm:ss' }}
    </div>
    <div class="text-center">
        <h2>Báo cáo cuối ngày về thu chi</h2>
        <span>Ngày bán {{ dt | date: 'dd/MM/yyyy' }}</span>
        <br />
        <span>Chi nhánh: {{ datainfo.branchName }}</span>
    </div>

    <table class="table table-responsive">
        <tr class="header-table">
            <th>STT</th>
            <th>Mã phiếu thu/chi</th>
            <th>Thời gian</th>
            <th>Thu / chi</th>
            <th>Người nộp/nhận</th>
            <th>Đã thu / chi</th>
            <th>Tổng tiền</th>
        </tr>
        <tr class="header-table-total hide" id="trNull">
            <th colspan="7" class="text-center">
                <i>Báo cáo không có dữ liệu</i>
            </th>
        </tr>
        <tr class="header-table-total text-center" id="trMeta">
            <th colspan="5">Số phiếu: {{ metadata.Count }}</th>
            <th> {{ metadata.TotalCashes | formatPrice }} </th>
            <th> {{ metadata.TotalPrice | formatPrice }} </th>
        </tr>
        <tr ng-class-odd="'arrow odd'" ng-class-even="'arrow odd bge'" ng-repeat="item in datecashes">
            <td><b>{{((page-1) * page_size) + $index + 1}}</b></td>
            <td>{{ item.CashCode }}</td>
            <td>{{ item.CreatedAt | date:'hh:mm:ss' }}</td>
            <td>{{ item.CashTypeName }}</td>
            <td>{{ item.PaidTargetName }}</td>
            <td>{{ item.PaidAmount | formatPrice }}</td>
            <td>{{ item.Total | formatPrice }}</td>
        </tr>
        <!--<tr class="t-content" ng-repeat-end ng-show="item.isExpand">-->
        <!--<td colspan="20" class="">
            <div class="left w100pt info-product">
                 Nav tabs
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Thông tin">
                        <div id="detail_product_picture">
                            <div uib-carousel active="active">
                                <div uib-slide ng-repeat=" image in product.images track by image.ProductImageId" index="$index">
                                    <img ng-src="{{image.Path}}" style="margin:auto;max-height:300px">
                                </div>
                            </div>
                        </div>
                        <div class="info-product-right left">
                            <h1>{{ product.ProductName + " " + product.SubName }}</h1>
                            <div class="col-lg-6 info-product-tt">
                                <ul>
                                    <li><span class="txt-left">Mã sản phẩm:</span> {{ product.ProductCode}}</li>
                                    <li><span class="txt-left">Giá bán:</span> {{ product.prices != null | iif : (findSalePrice(product.prices) | formatPrice) : "" }} đ</li>
                                    <li><span class="txt-left">Giá gốc:</span> {{ product.prices != null | iif : (findOriginPrice(product.prices) | formatPrice) : "" }} đ</li>
                                    <li>
                                        <span class="txt-left">Tồn kho:</span> <span class="cl-red">{{ product.stock != null | iif : sumStock(product.stock) : 0 }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 info-product-tt last">
                                <ul>
                                    <li><span class="txt-left">Nhóm hàng:</span> {{ product.category.CategoryName }}</li>
                                    <li><span class="txt-left">Định mức:</span> {{ product.MinStock }}>{{ product.StockLimit }}</li>
                                    <li>
                                        <span class="txt-left">Trạng thái:</span> <span class="cl-green">{{ product.PAStatus != 98 | iif : "Cho phép kinh doanh" : "Ngừng kinh doanh" }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <button type="button" class="btn btn-success btn-update" ng-click="openEditProductDialog(product);">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Cập nhật
                            </button>
                            <button type="button" class="btn btn-warning btn-lock" ng-click="stopProduct(product)">
                                <i class="fa fa-lock"
                                   aria-hidden="true"></i>
                                {{ product.PAStatus == 98 | iif : "Cho phép kinh doanh" : "Ngừng kinh doanh" }}
                            </button>
                            <button type="button" class="btn btn-default" ng-click="showConfirmDeleteProduct(product)">
                                <i class="fa fa-trash"
                                   aria-hidden="true"></i> Xóa
                            </button>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Nhập hàng" ng-click="loadImport(product);">
                        <div class="table-responsive table-othe">
                            <table class="table">
                                <thead>
                                    <tr class="success">
                                        <th align="left">Chứng tư</th>
                                        <th align="left">Nhà cung cấp</th>
                                        <th align="left">Thời gian</th>
                                        <th align="right">Giá nhập</th>
                                        <th align="right">Số lượng</th>
                                        <th align="right">Tồn cuối</th>
                                        <th align="right">Trạng thái thanh toán</th>
                                        <th align="right">Trạng thái vận chuyển</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="import in product.imports">
                                        <td><a href="#"><b>{{ import.ImportCode }}</a></b></td>
                                        <td><a href="#">{{ import.vendor.VendorName }}</a></td>
                                        <td align="left">{{ import.CreatedAt }}</td>
                                        <td align="right">{{ import.ImportPrice }}</td>
                                        <td align="right">{{ import.Quantity }}</td>
                                        <td align="right">{{ import.PreviousStock + ">" + import.LastStock }}</td>
                                        <td align="right">{{ findPaymentStatus(import.PaymentStatus) }}</td>
                                        <td align="right">{{ findDeliveryStatus(import.DeliveryStatus) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Bán hàng" ng-click="loadOrder(product);">
                        <div class="table-responsive table-othe">
                            <table class="table">
                                <thead>
                                    <tr class="success">
                                        <th align="left">Chứng tư</th>
                                        <th align="left">Khách hàng</th>
                                        <th align="left">Chi nhánh</th>
                                        <th align="left">Thời gian</th>
                                        <th align="right">Giá bán</th>
                                        <th align="right">Số lượng</th>
                                        <th align="right">Đơn vị</th>
                                        <th align="right">Trạng thái thanh toán</th>
                                        <th align="right">Trạng thái vận chuyển</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in product.orders">
                                        <td><a href="#"><b>{{ order.OrderCode }}</a></b></td>
                                        <td><a href="#">{{ order.customer.CustomerName }}</a></td>
                                        <td><a href="#">{{ order.branch.BranchName }}</a></td>
                                        <td align="left">{{ order.CreatedAt }}</td>
                                        <td align="right">{{ order.Price }}</td>
                                        <td align="right">{{ order.Quantity }}</td>
                                        <td align="right">{{ order.unit.Name }}</td>
                                        <td align="right">{{ findPaymentStatus(order.PaymentStatus) }}</td>
                                        <td align="right">{{ findOrderDeliveryStatus(order.DeliveryStatus) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="4" heading="Kho hàng">
                        <div class="table-responsive table-othe">
                            <table class="table">
                                <thead>
                                    <tr class="success">
                                        <th align="left">Chi nhánh</th>
                                        <th align="left">Tồn kho</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="s in product.stock">
                                        <td><a href="#"><b>{{ s.BranchName }}</a></b></td>
                                        <td><a href="#">{{ s.Stock }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </td>-->
        <!--</tr>-->
    </table>
</div>

