﻿
<div>
    <div style="display:flex; font-weight:bold; margin: 0 0 10pt 20pt">
        <i> Ngày lập: {{dt | date : 'dd/MM/yyyy hh:mm' }} </i>
    </div>
    <div style="text-align: center;">
        <h1>
            Báo cáo cuối ngày tổng hợp
        </h1>
        <br />
        <p>
            <span> Ngày bán: {{ dt | date : 'dd/MM/yyyy' }}</span>
            <br />
            <span> Chi nhánh {{ shopName }} </span>
        </p>
    </div>

    <div style="border-top:2px solid black; margin-bottom:24pt; page-break-inside:avoid">
        <div style="width: 100%; text-align: left;">
            Tổng kết thu chi
        </div>
        <div style="display:flex; font-weight:bold; margin: 0 0 10pt 20pt">
            <div style="width: 140px; text-align: left;">
                Thu / chi
            </div>
            <div style="width: 140px; text-align: left;">
                Tiền mặt
            </div>
            <div style="width: 140px; text-align: left;">
                CK
            </div>
            <div style="width: 140px; text-align: left;">
                Thẻ
            </div>
            <div style="text-align:left; width:140px">
                Điểm
            </div>
            <div style="text-align:left; width:140px">
                Tổng thực thu
            </div>
            <!--<div style="text-align:left; width:140px">
                Doanh thu thuần
            </div>-->
        </div>
        <div style="display: flex; margin: 0 0 6pt 20pt" ng-repeat="item in dateproduct">
            <div style="width: 140px; text-align: left;">
                {{ item.ProductCode }}
            </div>
            <div style="width: 140px; text-align: left;">
                {{ item.ProductFullName }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.QuantitySale }}
            </div>
            <div style="text-align:left; width: 140px">
                {{ item.TotalPriceSale | formatPrice }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.QuantityReturn }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.TotalPriceReturn | formatPrice }}
            </div>
            <!--<div style="text-align:left; width:140px">
                {{ item.TotalPrice | formatPrice }}
            </div>-->
        </div>

        <div style="width: 100%; text-align: left;">
            Tổng kết bán hàng
        </div>
        <div style="display:flex; font-weight:bold; margin: 0 0 10pt 20pt">
            <div style="width: 140px; text-align: left;">
                Giao dịch
            </div>
            <div style="width: 140px; text-align: left;">
                Gía trị
            </div>
            <div style="width: 140px; text-align: left;">
                Tiền mặt
            </div>
            <div style="width: 140px; text-align: left;">
                CK
            </div>
            <div style="width: 140px; text-align: left;">
                Thẻ
            </div>
            <div style="text-align:left; width:140px">
                Điểm
            </div>
            <div style="text-align:left; width:140px">
                Tổng thực thu
            </div>
        </div>
        <div style="display: flex; margin: 0 0 6pt 20pt" ng-repeat="item in dateproduct">
            <div style="width: 140px; text-align: left;">
                {{ item.ProductCode }}
            </div>
            <div style="width: 140px; text-align: left;">
                {{ item.ProductCode }}
            </div>
            <div style="width: 140px; text-align: left;">
                {{ item.ProductFullName }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.QuantitySale }}
            </div>
            <div style="text-align:left; width: 140px">
                {{ item.TotalPriceSale | formatPrice }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.QuantityReturn }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.TotalPriceReturn | formatPrice }}
            </div>
        </div>

        <div style="width: 100%; text-align: left;">
            Số lượng giao dịch
        </div>
        <div style="display:flex; font-weight:bold; margin: 0 0 10pt 20pt">
            <div style="width: 140px; text-align: left;">
                Giao dịch
            </div>
            <div style="width: 140px; text-align: left;">
                Số giao dịch
            </div>
            <div style="width: 140px; text-align: left;">
                Tiền mặt
            </div>
            <div style="width: 140px; text-align: left;">
                CK
            </div>
            <div style="width: 140px; text-align: left;">
                Thẻ
            </div>
            <div style="text-align:left; width:140px">
                Điểm
            </div>
        </div>
        <div style="display: flex; margin: 0 0 6pt 20pt" ng-repeat="item in dateproduct">
            <div style="width: 140px; text-align: left;">
                {{ item.ProductCode }}
            </div>
            <div style="width: 140px; text-align: left;">
                {{ item.ProductCode }}
            </div>
            <div style="width: 140px; text-align: left;">
                {{ item.ProductFullName }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.QuantitySale }}
            </div>
            <div style="text-align:left; width: 140px">
                {{ item.TotalPriceSale | formatPrice }}
            </div>
            <div style="text-align:left; width:140px">
                {{ item.QuantityReturn }}
            </div>
        </div>

        <div style="width: 100%; text-align: left;">
            Hàng hóa
        </div>
        <div style="display:flex; font-weight:bold; margin: 0 0 10pt 20pt">
            <div style="width: 140px; text-align: left;">
                Giao dịch
            </div>
            <div style="width: 140px; text-align: left;">
                Số mặt hàng
            </div>
            <div style="width: 140px; text-align: left;">
                SL Sản phẩm
            </div>
        </div>
        <div style="display: flex; margin: 0 0 6pt 20pt" ng-repeat="item in dateproduct">
            <div style="width: 140px; text-align: left;">
                {{ item.ProductCode }}
            </div>
            <div style="width: 140px; text-align: left;">
                {{ item.ProductCode }}
            </div>
            <div style="width: 140px; text-align: left;">
                {{ item.ProductFullName }}
            </div>
        </div>
    </div>
</div>

