﻿<div class="lable center">
    <h1>
        Lợi nhuận theo tháng
    </h1>
</div>
<div class="left list-pro-top w100pt">
    <canvas id="base" class="chart-horizontal-bar"
            chart-data="chart.data" chart-labels="chart.labels" chart-options="chart.options"></canvas>
</div>
