﻿@{
    Layout = null;
}

<!-- develop by ngocbich85hd -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FB.SALE</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="/dist/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/dist/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/dist/css/style01.css" type="text/css">
    <link rel="stylesheet" href="~/Content/angular-material.css" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/dist/js/html5shiv.js"></script>
    <script src="/dist/js/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top">
    <div ng-app="FSaleApp">
        <div ng-controller="LandingPageController" ng-init="IsLogged = @ViewBag.IsLogged;Group = @ViewBag.Group; loggedFacebookUserId = @ViewBag.FacebookUserId;">
            <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
                <div class="top">
                    <div class="container">

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a class="page-scroll"><i class="fa fa-phone" aria-hidden="true"></i> 0463278425</a>
                                </li>
                                <li>
                                    <a class="page-scroll"><i class="fa fa-envelope"></i> contact@fb.sale</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#"><i class="fa fa-facebook-f"></i> </a>

                                </li>
                                <li>
                                    <a class="page-scroll" href="#"><i class="fa fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#"><i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>

                        <!-- /.navbar-collapse aa -->
                    </div>
                </div>
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="#page-top"><img src="dist/img/logo.png" alt="logolayana"></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a class="page-scroll" href="#page-top">Trang chủ</a>
                            </li>

                            <li>
                                <a class="page-scroll" href="#services">Tính năng</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#tableSell">Bảng giá</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#appFb">Cài đặt App</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#footer">Hỗ trợ</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="boxLogin">
                            @Html.Action("BoxLogin", "Shared")
                        </ul>
                    </div>

                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>

            <!-- Section Intro Slider
        ================================================== -->
            <div id="carousel-example-generic" class="carousel intro slide">
                <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                <!--</ol>-->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- First slide -->
                    <div class="item active" style="background-image:url(dist/img/banner.jpg)">
                        <div class="carousel-caption">
                            <h2 data-animation="animated bounceInDown"> Giải pháp bán hàng cực kỳ hiệu quả trên </h2>
                            <h1 data-animation="animated bounceInUp"> facebook </h1>
                            <a href="#" class="btn btn-ghost btn-lg btn-primary" data-animation="animated fadeInLeft" data-toggle="modal" data-target="#loginModal">
                                Dùng thử miễn
                                phí
                            </a>
                        </div>
                    </div>
                    <!-- /.item -->

                </div>
                <!-- /.carousel-inner -->
                <!-- Controls (currently displayed none from style01.css)-->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- /.carousel -->
            <!-- Button trigger modal -->
            <!-- Modal -->

            <div id="loginModal" class="modal fade popupLogin" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="col-lg-6 info-PM">
                                <a href="#" class="logo-pop dpib ovh" tabindex="-1">
                                    <img src="dist/img/logo-fb.sale-1.png" alt="Salesmanager" title="Sales Manager">
                                </a>
                                <h1>Để quản lý bán hàng mọi lúc, mọi nơi, trên mọi thiết bị.</h1>
                                <p>
                                    Giải pháp bán hàng qua SalesManager toàn diện, hiệu quả. Quản lý danh sách khách hàng, tin nhắn,
                                    bình
                                    luận, tình trạng đơn hàng, gửi hàng nhanh chóng trên web và di động
                                </p>
                                <!--<img src="develop/img/desk.png">-->
                            </div>
                            <form class="col-lg-6 loginbox">
                                <section class="loginFr ovh vi-VN">

                                    <h2> Đăng nhập</h2>
                                    <!-- Tab panes -->
                                    <div class="tab-content import-Info">
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="w100pt input-group">
                                                        <div class="label">
                                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                                        </div>
                                                        <input type="email" class="form-control" id="txtLoginEmail"
                                                               placeholder="Email: youremail@email.com">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="w100pt input-group">
                                                        <div class="label">
                                                            <i class="fa fa-key" aria-hidden="true"></i>
                                                        </div>
                                                        <input type="password" class="form-control" id="txtLoginPassword" input-enter="login();"
                                                               placeholder="* * * * *">
                                                    </div>
                                                </div>

                                                <div class="checkbox left w100pt">
                                                    <input id="checkbox1" class="styled" type="checkbox">
                                                    <label for="checkbox1">Ghi nhớ mật khẩu</label>
                                                </div>

                                                <div class="form-group boxBt">
                                                    <button type="button" class="btn bt-login bg-green clfff" ng-click="login();">
                                                        Đăng nhập
                                                    </button>
                                                    <a href="#" class="left cl-green bt-foget">Quên mật khẩu ?</a>
                                                    <a href="#" class="right cl-green bt-resgiter hidden">Đăng ký tại đây !</a>

                                                    <div class="left w100pt logigFacebook">
                                                        <h3>Hoặc đăng nhập bằng tài khoản sau:</h3>
                                                        <button type="button" class="btn bt-login-face" ng-click="loginFacebook();">
                                                            Đăng nhập bằng Facebook
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>


                                </section>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

            <div id="linkPageModal" class="modal fade popupLogin" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Liên kết cửa hàng với page Facebook</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-lg-8 info-table">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="70">Ảnh</th>
                                                <th>Tên</th>
                                                <th width="100">Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat=" page in pages">
                                                <td><img src="https://graph.facebook.com/{{page.id}}/picture?type=square" width="50" height="50"></td>
                                                <td><h2>{{page.name}}</h2></td>
                                                <td><h3>{{page.isSubscribed == 1 | iif : "Đã liên kết" : "Chưa Liên kết"}}</h3></td>
                                                <td align="right" class="btn-huy" ng-show="Group == 'Admin'">
                                                    <img src="/develop/img/loading.gif" width="28" height="28" ng-show="page.isLinking" />
                                                    <button type="button" ng-show="!page.isSubscribed" class='{{ page.isSubscribed ? "btn bt-huy" : "btn bt-huy"}}' ng- ng-cl ng-click="linkFanPage($event,page)" ng-disabled="page.isLinking">{{page.isSubscribed ? "Đã liên kết" : "Liên kết"}}</button>
                                                    <button type="button" class="btn bt-huy" ng-show="page.isSubscribed" ng-click="unlinkFanPage($event,page)" ng-disabled="page.isLinking">Hủy liên kết</button>
                                                    <button type="button" class="btn bt-download" ng-click="showDownloadContent(page);" ng-show="page.isSubscribed" popover-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Tải tin nhắn và bình luận"><img src="/develop/img/download.png" width="20" height="20" /></button>
                                                </td>
                                            </tr>
                                            <tr ng-show="(pages == undefined || pages.length == 0) && Group == 'Admin'">
                                                <td colspan="3" align="center"><button type="button" class='btn bt-huy' ng-click="loginAndGetPage()">Lấy danh sách page</button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 btSupmit">
                                <button type="submit" class="btn bt-gotoPage1" style="margin-left:10px;" ng-click="goHome();" ng-show="Group == 'Admin' || Group == 'Manager'">
                                    <div class="img"> <img src="/dist/img/permit-applications-general.png"></div>
                                    <b>Đến trang CMS</b>
                                </button>
                                <button type="submit" class="btn bt-gotoPage" style="margin-left:10px;" ng-click="goChat();">
                                    <div class="img"><img src="/dist/img/messages.png"></div>
                                    <b>Đến trang CRM</b>
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<button type="submit" class="btn bt-gotoPage" style="margin-left:10px;" ng-click="goHome();" ng-show="Group == 'Admin'">
                                <b>Đến trang CMS</b>
                            </button>
                            <button type="submit" class="btn bt-gotoPage1" style="margin-left:10px;" ng-click="goChat();">
                                <b>Đến trang CRM</b>
                            </button>*@
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade box-popup popLoad" id="downloadContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="clip"></div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"><span class="fa fa-list-ul"></span>Tải dữ liệu</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row form-pad">
                                Tải dữ liệu cho page {{ selectedPage.name }}
                            </div>
                            <div class="form-group row form-pad">
                                <label>Chọn thời gian</label>
                                <div>
                                    <div class="form-group">
                                        <select class="form-control" id="ddlTime" ng-model="selectedTime" ng-init="selectedTime = '1'">
                                            <option value="1">Trước 1 ngày</option>
                                            <option value="2">Trước 2 ngày</option>
                                            <option value="3">Trước 3 ngày</option>
                                            <option value="7">Trước 7 ngày</option>
                                            <option value="20">Trước 20 ngày</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fa fa-ban"></span>Hủy
                            </button>
                            <button type="button" class="btn btn-success" ng-click="downloadContent();"><span class="fa fa-save"></span>Tải dữ liệu <img src="/develop/img/loading.gif" width="28" height="28" ng-show="selectedPage.isDownloading" /></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section Services
        ================================================== -->
            <section id="services" class="services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Tính năng nổi bật</h2>
                            <p class="section-txt">
                                Với fb.sale bạn có thể quản lý tất cả comment, inbox, khách hàng và cả đơn hàng đến từ facebook tiết
                                kiệm thời gian, hiệu quả gấp 5 lần.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <!-- begin 1st row -->
                        <div class="section-item col-lg-4 col-md-6 text-center  wow fadeInDown">
                            <div class="service-box">
                                <div class="iconbox">
                                    <img src="dist/img/1-coment.png">
                                </div>
                                <h3>Quản lý inbox, comment</h3>
                                <p class="text-muted"><i class="fa fa-check"></i> Tự động thu thập tất cả inbox và comment</p>
                                <p class="text-muted"><i class="fa fa-check"></i> Phản hồi nhanh chóng, quản lý dễ dàng</p>
                                <p class="text-muted"><i class="fa fa-check"></i> Quên đi nỗi lo mất đi đơn hàng</p>
                                <div class="imgDV"><img src="dist/img/dv1.png"></div>
                            </div>
                        </div>
                        <div class="section-item col-lg-4 col-md-6 text-center wow fadeInDown">
                            <div class="service-box">
                                <div class="iconbox">
                                    <img src="dist/img/2-order.png">
                                </div>
                                <h3>Quản lý đơn hàng, giao hàng</h3>
                                <p class="text-muted"><i class="fa fa-check"></i> Vừa chat với khách, vừa tạo đơn hàng</p>
                                <p class="text-muted"><i class="fa fa-check"></i> Tính phí vận chuyển, chốt đơn hàng nhanh chóng</p>
                                <p class="text-muted"><i class="fa fa-check"></i> Đồng bộ đơn hàng về phần mềm bán hàng</p>
                                <div class="imgDV"><img src="dist/img/dv2.png"></div>
                            </div>
                        </div>
                        <div class="section-item col-lg-4 col-md-6 text-center wow fadeInDown">
                            <div class="service-box">
                                <div class="iconbox">
                                    <img src="dist/img/3-customer.png">
                                </div>
                                <h3>Quản lý thông tin khách hàng</h3>
                                <p class="text-muted"><i class="fa fa-check"></i> Cảnh báo khách hay hoàn hàng</p>
                                <p class="text-muted"><i class="fa fa-check"></i> Thêm ghi chú cho từng khách hàng</p>
                                <p class="text-muted"><i class="fa fa-check"></i> Quản lý các đơn hàng khách đã đặt</p>
                                <div class="imgDV"><img src="dist/img/dv3.png"></div>
                            </div>
                        </div>
                        <!-- begin 2nd row -->
                        <div class="section-item col-lg-4 col-md-6 text-center wow fadeInDown delay-05s">
                            <div class="service-box">
                                <div class="iconbox">
                                    <img src="dist/img/4-message.png">
                                </div>
                                <h3>Tin nhắn mẫu</h3>
                                <p class="text-muted"><i class="fa fa-check"></i> Tạo và quản lý nhiều tin nhắn mẫu cùng lúc</p>
                                <p class="text-muted"><i class="fa fa-check"></i> Trả lời khách hàng nhanh chóng, linh hoạt</p>
                                <p class="text-muted"><i class="fa fa-check"></i> Tăng khả năng tương tác với nhiều khách hàng</p>
                                <div class="imgDV"><img src="dist/img/dv4.png"></div>
                            </div>
                        </div>
                        <div class="section-item col-lg-4 col-md-6 text-center wow fadeInDown delay-05s">
                            <div class="service-box">
                                <div class="iconbox">
                                    <img src="dist/img/5-hide-coment.png">
                                </div>
                                <h3>Ẩn comment tự động</h3>
                                <p class="text-muted"><i class="fa fa-check"></i>Tự động ẩn comment có chứa số điên thoại</p>
                                <p class="text-muted"><i class="fa fa-check"></i>Tự động ẩn comment, không lo bị cướp khách hàng</p>
                                <p class="text-muted"><i class="fa fa-check"></i>Bảo vệ uy tín cho khách hàng của bạn</p>
                                <div class="imgDV"><img src="dist/img/dv5.png"></div>


                            </div>
                        </div>
                        <div class="section-item col-lg-4 col-md-6 text-center wow fadeInDown delay-05s">
                            <div class="service-box">
                                <div class="iconbox">
                                    <img src="dist/img/6-supporrt.png">
                                </div>
                                <h3>Tính năng hỗ trợ bán hàng độc đáo</h3>
                                <p class="text-muted"><i class="fa fa-check"></i>Báo cáo số lượng comment/inbox</p>
                                <p class="text-muted"><i class="fa fa-check"></i>Báo cáo số đơn hàng từ fanpage</p>
                                <p class="text-muted"><i class="fa fa-check"></i>Báo cáo doanh thu bán hàng từ Facebook</p>
                                <div class="imgDV"><img src="dist/img/dv6.png"></div>


                            </div>
                        </div>
                    </div>
                    <!-- end 1st row -->
                    <br />

                </div>
            </section>
            <div class="clearfix">
            </div>


            <!-- Section About ======================== -->
            <section id="tableSell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 tableSell">
                            <div class="tableSell-txt col-lg-5 col-md-6 text-left  wow fadeInDown">
                                <h2 class="section-heading"><b>Bảng giá sử dụng</b></h2>
                                <h3 class="section-txt1">Chỉ với<b> 100.000đ </b> / Fanpage / Tháng</h3>
                                <h5><i>(Không giới hạn quản trị viên)</i></h5>

                                <p>
                                    Bạn có thể sử dụng đầy đủ tất cả những tính năng của CRM để quản lý bán hàng thuận tiện, nhanh
                                    chóng, tiết kiệm thời gian, tăng doanh thu, giảm chi phí.
                                </p>
                            </div>
                            <div class="tableSell-bt col-lg-4 col-md-6 text-left  wow fadeInDown delay-05s">
                                <a href="#" class="btn btn-ghost btn-lg btn-primary" data-animation="animated fadeInLeft" data-toggle="modal" data-target="#loginModal">
                                    Dùng thử
                                    miễn
                                    phí
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    <section id="appFb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabtxt col-lg-7 col-md-6 text-left  wow fadeInDown">
                        <h1 class="section-heading"><b>Sử dụng và cài đặt App</b></h1>
                        <ul>
                            <li>
                                <h2 class="section-heading"><b>Đơn giản & Dễ dùng</b></h2>
                                <p>
                                    Nhân viên bán hàng chỉ mất 15 phút làm quen để bắt đầu bán hàng với Fb.sale. Giao diện App
                                    đơn
                                    giản, thân thiện, thông minh giúp bạn triển khai quản lý bán hàng thật dễ dàng và nhanh
                                    chóng.
                                </p>
                            </li>
                            <li>
                                <h2 class="section-heading"><b>Phù hợp với nhiều ngành hàng</b></h2>
                                <p>
                                    Cùng với các chuyên gia bán hàng dày kinh nghiệm, chúng tôi nghiên cứu thiết kế App phù hợp nhiều ngành hàng dành cho cả bán buôn lẫn bán lẻ.
                                </p>
                            </li>
                            <li>
                                <h2 class="section-heading"><b>Tiết kiệm chi phí nhất</b></h2>
                                <p>
                                    Miễn phí cài đặt, phí triển khai, nâng cấp và hỗ trợ. Bạn đã có thể áp dụng công nghệ vào quản lý cửa hàng mọi lúc mọi nơi.
                                </p>
                            </li>
                        </ul>
                        <div class="tableSell-bt w100pt left">
                            <a href="#" class="btn  btn-default" data-animation="animated fadeInLeft"><img src="dist/img/ios.png"></a>
                            <a href="#" class="btn  btn-default" data-animation="animated fadeInLeft"><img src="dist/img/android.png"></a>
                        </div>
                    </div>
                    <div class="tabApp col-lg-5 col-md-6 wow fadeInDown delay-1s">
                        <img src="dist/img/tab.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Footer
    ================================================== -->
    <section id="footer" class="bg-dark footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center topf">

                    <p>
                        Thông tin liên hệ
                    </p>
                    <h1 class="bottombrand wow flipInX">Công ty cổ phần Truyền Thông EyePlus</h1>
                </div>
                <div class="col-lg-12 footer-contant">
                    <div class="footer-add col-lg-3">
                        <center><img src="dist/img/f-phone.png"></center>
                        <h2 class="footer-txt">Số<b>5</b></h2>
                        <p>
                            Tầng 2 - Star Tower, Dương Đình Nghệ, Cầu Giấy
                        </p>
                    </div>

                    <div class="footer-call col-lg-3 text-center">
                        <center><img src="dist/img/f-call.png"></center>
                        <p>
                            Điện thoại/ Fax
                        </p>
                        <h2 class="footer-txt"><b>0463278425</b></h2>

                    </div>
                    <div class="footer-email col-lg-3 text-center">
                        <center><img src="dist/img/f-email.png"></center>
                        <p>
                            Email Address
                        </p>
                        <h2 class="footer-txt">contact@fb.sale</h2>

                    </div>
                    <div class="footer-share col-lg-3">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <ul class="nav navbar-nav navbar-left">

                            <li>
                                <a class="page-scroll" href="#"><img src="dist/img/facebook.png"> </a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#"><img src="dist/img/twitter.png"> </a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#"><img src="dist/img/googleplus.png"> </a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#"><img src="dist/img/linkedin.png"> </a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#"><img src="dist/img/rss.png"> </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center bottomf">
                    <p>
                        CopyRight @@ 2017 | All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
    <fb app-id='@Session["FBAppId"]'></fb>
    </div>
  
    @*<script>
        var sessionFBApp = '@Session["FBAppId"]';
        window.fbAsyncInit = function () {
            FB.init({
                appId: sessionFBApp,
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>*@
    <script src="/dist/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/jquery.easing.min.js"></script>
    <script src="/dist/js/wow.min.js"></script>
    <script src="/dist/js/common.js"></script>
    @Scripts.Render("~/bundles/angularjs")
</body>
<!-- begin jQuery -->
</html>
