﻿@{
    Layout = null;
}

<!-- develop by ngocbich85hd -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FB.SALE</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="/dist/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/dist/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/dist/css/style01.css" type="text/css">
    <link rel="stylesheet" href="~/Content/angular-material.css" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/dist/js/html5shiv.js"></script>
    <script src="/dist/js/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="pageFane">
    <div ng-app="FSaleApp" ng-cloak>
        <div ng-controller="SelectPageController" ng-init="IsLogged = @ViewBag.IsLogged;Group = @ViewBag.Group; loggedFacebookUserId = @ViewBag.FacebookUserId;">
            <!-- Section Services
        ================================================== -->
            <section id="services" class="services">
                <div class="container signin-layout">
                    <div class="row">
                        <!--<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>-->
                        <div class="col-sm-12 col-xs-12 signin-box">
                            <div class="title">
                                <h2>Chọn các Fanpages</h2>
                                <em>(Hỗ trợ quản lý nhiều Fanpage cùng lúc)</em>
                            </div>
                            <div class="has-pages clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 user-info">
                                    <div class="left w100pt avata col-lg-12 col-md-12 col-sm-6 col-xs-6 ">
                                        @if (Session["FacebookUserId"] != null && Session["FacebookUserId"].ToString() != "")
                                        {
                                            <img ng-src='https://graph.facebook.com/@Session["FacebookUserId"].ToString()/picture?type=large'
                                                 src='https://graph.facebook.com/@Session["FacebookUserId"].ToString()/picture?type=large'
                                                 class="img-rounded">
                                        }
                                        else
                                        {
                                            <img src="~/develop/img/no_avatar.jpg" class="img-rounded">
                                        }
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 info">
                                        <h3 class="ellipsis">@Session["EmployeeName"].ToString()</h3>
                                        <a href="/logout.html">Đăng xuất</a>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 list-pages">
                                    <!-- ngIf: ui.fanpages -->
                                    <div class="checkbox c-check"
                                         style="border-bottom:1px solid #bbb;padding:5px 0;margin-bottom:0;">
                                        <input ng-model="isAllSelected" ng-init="isAllSelected = false" id="fAll" type="checkbox" ng-change="onSelectedAllChanged();">
                                        <label for="fAll">Chọn tất cả trang đã kích hoạt</label>
                                    </div><!-- end ngIf: ui.fanpages -->
                                    <div class="list-pages-scroll">
                                        <div ng-repeat=" page in pages" class="checkbox c-check">
                                            @if (Session["Group"].ToString() == "Admin")
                                            {
                                                <button ng-click="showDownloadContent(page)" ng-show="!page.isAdded" type="button"
                                                        class="btn btn-kichhoat btn-lg">
                                                    Kích hoạt
                                                </button>
                                            }
                                            <span ng-show="page.isAdded" ng-class="{'active':page.isAdded}" class="status">
                                                <md-switch class="md-primary" ng-model="page.isSubscribed" aria-label="Kích hoạt" style="margin:0;" ng-change="onLinkChanged(page)" ng-disabled="Group != 'Admin' || page.isPageRemoved">
                                                </md-switch>
                                            </span>
                                            <input ng-model="page.isSelected" id="f{{page.id}}" type="checkbox" ng-disabled="!page.isSubscribed || page.isPageRemoved">
                                            <label class="ellipsis" for="f{{ page.id }}">
                                                {{ page.name }}
                                                <i href="#" class="fa fa-exclamation-triangle red-tooltip" tooltip-placement="bottom" uib-tooltip="Bạn đã mất quyền quản lý page này!" ng-show="page.isPageRemoved"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="btn btn-fb btn-select-page" ng-click="goChat();">
                                        <i class="fa fa-sign-in"></i> Truy cập
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="copyright ng-binding col-lg-9 col-md-9 col-sm-12 col-xs-12 right">
                            2017 © CRM by <a href="https://fb.sale/" target="_blank">fb.sale</a>
                        </div>
                    </div>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <!-- Modal -->
            <div id="downloadContentModal" class="modal fade popupLogin myKichHoat" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header ng-scope">
                            <h3 class="modal-title ng-binding">Kích hoạt Fanpage: {{ selectedPage.name }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-disabled="((progress < 100 && progress > 0) || (progressDownload < 100 && progressDownload >0))">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ng-scope">
                            <h3>Lấy tin nhắn và bình luận</h3>
                            <em style="font-size:12px;">(Việc này có thể bỏ qua nếu bạn không muốn lấy dữ liệu cũ.)</em>
                            <div style="padding-left: 50px;margin-top: 10px;">
                                <b>Chọn thời gian lấy tin nhắn và bình luận về</b>
                                <div class="radio c-radio">
                                    <input name="time-load" style="margin-left:6px;" ng-init="selectedTime = '0'" ng-model="selectedTime" id="time0" value="0" type="radio">
                                    <label for="time0">Không tải dữ liệu</label>
                                </div>
                                <div class="radio c-radio">
                                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time1" value="1" type="radio">
                                    <label for="time1">1 Ngày trước</label>
                                </div>
                                <div class="radio c-radio">
                                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time2" value="2" type="radio">
                                    <label for="time2">2 Ngày trước</label>
                                </div>
                                <div class="radio c-radio">
                                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time3" value="3" type="radio">
                                    <label for="time3">3 Ngày trước</label>
                                </div>
                                <div class="radio c-radio">
                                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time5" value="5" type="radio">
                                    <label for="time5">5 Ngày trước</label>
                                </div>
                                <div class="radio c-radio">
                                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time7" value="7" type="radio">
                                    <label for="time7">7 Ngày trước</label>
                                </div>
                            </div>
                            <div class="barMaster left w100pt">
                                <div class="item-barMaster left w100pt">
                                    <label>Kích hoạt</label>
                                    <div class="cssProgress">
                                        <div class="progress3">
                                            <div class="cssProgress-bar cssProgress-bar cssProgress-active" data-percent="{{ progress }}" style="width: {{ progress }}%;">
                                                <span class="cssProgress-label">{{ progress }}%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <div class="item-barMaster left w100pt">
                                    <label>Lấy tin nhắn/bình luận <i class="fa fa-refresh"></i></label>
                                    <div class="cssProgress">
                                        <div class="progress3">
                                            <div class="cssProgress-bar cssProgress-bar cssProgress-active" data-percent="{{ progressDownload }}" style="width: {{ progressDownload }}%;">
                                                <span class="cssProgress-label">{{ progressDownload }}%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ng-scope">
                            <button type="button" class="btn btn-fb btn-sm ng-scope" ng-click="activePage();" ng-disabled="((progress < 100 && progress > 0) || (progressDownload < 100 && progressDownload >0))">
                                <i class="fa fa-registered"></i> Kích hoạt
                            </button>
                            <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" ng-disabled="((progress < 100 && progress > 0) || (progressDownload < 100 && progressDownload >0))">
                                <i class="fa fa-close"></i> Đóng
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <fb app-id='@Session["FBAppId"]'></fb>

        </div>
    </div>
    <script src="/dist/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/jquery.easing.min.js"></script>
    <script src="/dist/js/wow.min.js"></script>
    <script src="/dist/js/common.js"></script>
    @Scripts.Render("~/bundles/angularjs")
</body>
<!-- begin jQuery -->
</html>
