﻿<!--<div ng-controller="ReportProductController" ng-init="init();">-->

    <!--<div class="box-general-store left w100pt">
        <div class="left col-lg-12">
            <div class="sales-results left w100pt">-->
                <div class="lable left">
                    <h1>
                        Doanh thu thuần {{ datetimetext }}
                    </h1>
                </div>
                <div class="left list-pro-top w100pt">
                    <canvas id="base" class="chart-horizontal-bar"
                            chart-data="chart.data" chart-labels="chart.labels" chart-options="chart.options"></canvas>
                </div>
            <!--</div>
        </div>
    </div>-->
<!--</div>-->
