﻿@media all {
	.page-break	{ display: none; }

    .center {
        text-align: center;
    }

    .center p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }

     #content {
        margin-left: 0;
        float: none;
        width: auto;
    }

     .header-table{
        background-color: #337ab7;
        color: #fff;
    }

     .header-table-total{
        background-color: #f2eed6;
    }
}

@media print {
    body {
        background-color: white;
        font-size: 10pt;
        margin: 0;
    }

    #sidebar {
        display: none;
    }

    #header {
        height: 75px;
    }

    #content {
        background-color:red;
        margin-left: 0;
        float: none;
        width: auto;
    }

    .demo .red {
        color: black;
        font-weight: bold;
    }

    #content a {
        font-weight: bold;
        color: #000066;
        text-decoration: underline;
    }

    #footer, .ad {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 14pt;
        margin-top: 25px;
    }

    aside h2 {
        font-size: 18pt;
    }

    h3 {
        margin-left: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    blockquote, table, pre {
        page-break-inside: avoid;
    }

    ul, ol, dl {
        page-break-before: avoid;
    }

    img.centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.right {
        padding: 4px;
        margin: 0 0 2px 7px;
        display: inline;
    }

    img.left {
        padding: 4px;
        margin: 0 7px 2px 0;
        display: inline;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }

    img {
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    .page-break	{ 
        page-break-before: always; 
    }

    hr{
        border-width:3px;
    }

    .center {
        text-align: center;
    }

    .center p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }

    .headertable{
        padding: 10px; 
        display: flex; 
        font-weight: bold; 
        margin: 0 0 10pt 0pt; 
        height: 40px;
        background-color: rgb(140,158,255);
    }

}

@page {
  size: A4;
  margin: 0;
}

/*@page {
  size: A4 portrait;
}*/

@page :blank {
  @top-center { content: "Nội dung trang trống!" }
}

@page:left{
  @bottom-left {
    content: "Trang " counter(page) " của " counter(pages);
  }
}


