﻿

<div class="lable left">
    <h2>
        Top 10 sản phẩm doanh số cao nhất (đã trừ trả hàng) {{ datetimetext }}
    </h2>
</div>
<div class="left list-pro-top w100pt">
    <canvas id="base" class="chart-horizontal-bar"
            chart-data="chart1.data" chart-labels="chart1.labels" chart-options="chart1.options"></canvas>
</div>

<div class="lable left">
    <h2>
        Top 10 sản phẩm bán chạy theo số lượng (đã trừ trả hàng) {{ datetimetext }}
    </h2>
</div>
<div class="left list-pro-top w100pt">
    <canvas id="base" class="chart-horizontal-bar"
            chart-data="chart2.data" chart-labels="chart2.labels" chart-options="chart2.options"></canvas>
</div>

